<section class="subpage">
    <div class="container">
        <!-- bread crumb-->
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="align-self-center py-3">
                    <ol class="breadcrumb pb-0 mb-0">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Return Policy</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--/ bread crumb-->
        <div class="static-page">
          <h1 class="h3 font-bold font-primary pb-3">Return Policy</h1>
          <p>
            At Countryoven.com , we want you to be completely satisfied with your purchase and enjoy your shopping
            spree. We have framed our Return Policy to meet your various complaints. When you need to return an
            item, please review the complete details of our return policy below to determine if any special return
            conditions apply.
          </p>
          <p>
            Non-perishable items should be returned within 3 days of the delivery date. While most of the
            non-perishable items are returnable, they are subject to the following guidelines as per "Conditions for
            Return" :
          </p>

          <article>
            <h5 class="mb-2 h5"> A) Damaged or Wrongly Shipped Items</h5>
            <p>
              Non-Perishable: In case of damaged or wrongly shipped items, the request for exchange should be
              submitted within 3 days of the delivery date. After return of the item as per "Conditions for
              Return", replacement for damaged/ wrongly shipped items will be made.
            </p>
            <p>
              Perishable Items: In case of perishable items like cakes, flowers and sweets refund will be
              entertained only if they are wrongly shipped.
            </p>
          </article>

          <article>
            <h5 class="mb-2 h5"> b) Refund for non-delivery of Items</h5>
            <p>
              Non-Perishable: In case of missed / non-delivery of non-perishable items, while the recipient is
              away, the order will be repeated once more after the stipulated day. In case of non-delivery of an
              item altogether, then the refund for the same will be made.
            </p>
            <p>
              Perishable Items: For delivery of cakes, flowers and sweets the delivery of items will be attempted
              only once. Being perishable in nature, there will be no refund against such items.
            </p>
          </article>

          <article>
            <h5 class="mb-2 h5"> c) Partial-Refunds :</h5>
            <p>
              Partial Refunds will be made in case of multiple goods being ordered and one/few items amongst that
              list is/are not delivered. In such cases, customers get refund only against non-executed deliveries.
            </p>
          </article>

          <article>
            <h5 class="mb-2 h5"> d) Refund against cancelled orders :</h5>
            <p>
              Refund will be made only against approved cancelled orders.
            </p>
          </article>

          <article>
            <h5 class="mb-2 h5"> Conditions for Return</h5>
            <p>
              Merchandise must be in new condition with its original packing and accessories intact or it may be
              subject to a restocking fee. If you are returning a product listed below, please check to make sure,
              your return meets the conditions described.
            </p>
            <ol class="list-items">
              <li>
                Soft toys,Metal toys,Kids toys and Personalised Gifts must be Return with 3 Working days.
              </li>
              <li>DVDs, Pens and any Gift articles - Must be unopened.</li>
              <li>Books - Must be in their original condition.</li>
              <li>
                Perishables and personal care items - May not be returned, unless defective or wrongly
                delivered.
              </li>
            </ol>
            <p>
              Note: Refund for item(s) or exchange for damaged/ wrongly shipped item(s) will be made/done after
              deducting the shipping/handling charges.
            </p>
          </article>

          <article>
            <h5 class="mb-2 h5"> Duration of Returns:</h5>
            <p>
              a) Returns on Credit Card : Please allow up to two billing cycles for the return credit to appear on
              your credit card statement.
            </p>
            <p>
              b) Alternative Method – Store Credit : If credit cannot be issued to your credit card, then on mutual
              acceptance a store credit will be issued i.e. order worth the refund amount can be used in future
              from your store credit for other purchase.
            </p>
          </article>



        </div>
    </div>
</section>
