<app-cartheader></app-cartheader>
<section class="cart-subpage">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="h5 font-semibold pb-3">Payment Methods </h1>
                <div class="address-cards pt-2">
                    <div class="card mb-3 rounded-0">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h6 class="card-title font-gray h6 align-self-center">Deliver to: <span
                                        class="text-black font-semibold">Praveen Kumar N, 500090</span><span
                                        class="badge bg-light text-dark d-inline-block ms-2 border">Home</span>
                                </h6>
                                <a href="" class="color-border-btn">Change</a>
                            </div>
                            <div class="py-1">
                                <p>Flat No:G-4, Kondaveedu Enclave, Maa Villas Road, Kousalya colony, Bachupally,
                                    Hyderabad</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex p-2 applycoupons">
                    <span class="icon-coupon h1 font-primary pb-0 mb-0"></span>
                    <h6 class="h6 font-black font-semibold ps-3 align-self-center">Apply Coupons</h6>
                </div>
                <div class="PriceDetails p-2 border my-3">
                    <h6 class="h6 font-primary font-semibold align-self-center pb-3">Price Details</h6>
                    <div class="d-flex justify-content-between py-2">
                        <p>MRP Details</p>
                        <p class="text-end">₹ 2,407</p>
                    </div>
                    <div class="d-flex justify-content-between py-2">
                        <p>MRP Discount</p>
                        <p class="text-end font-green">-₹ 750</p>
                    </div>
                    <div class="d-flex justify-content-between py-2">
                        <p>Delivery Charges</p>
                        <p class="text-end font-green">FREE</p>
                    </div>
                    <div class="d-flex justify-content-between py-2">
                        <p>Convenience Charges <span class="icon-info"></span></p>
                        <p class="text-end">₹ 52</p>
                    </div>
                    <div class="d-flex justify-content-between py-3 totalamount my-2">
                        <h6 class="h6 font-bold">Total Amount</h6>
                        <p class="text-end font-bold">₹ 1,662</p>
                    </div>

                    <div class="pt-3">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-semibold">Sender Details</h6>
                            <a href="" class="font-semibold">Change</a>
                        </div>
                        <p>Praveen</p>
                        <p><small>+91 7995165789</small></p>
                    </div>
                    <div class="pt-3 border-top mt-3">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-semibold">Delivery Date & Time</h6>
                            <a href="" class="font-semibold">Change</a>
                        </div>
                        <p>31-07-2023</p>
                        <p><small>12PM - 3 PM</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>