<app-cartheader></app-cartheader>
<section class="cart-subpage">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="address-cards">
                    <div class="card mb-3 rounded-0">
                        <div class="card-body p-0">
                            <div class="d-flex justify-content-between">
                                <h6 class="card-title font-gray h6 align-self-center">Deliver to: <span
                                        class="text-black font-semibold">Praveen Kumar N, 500090</span><span
                                        class="badge bg-light text-dark d-inline-block ms-2 border">Home</span>
                                </h6>
                                <a href="" class="color-border-btn">Change</a>
                            </div>
                            <div class="py-1">
                                <p>Flat No:G-4, Kondaveedu Enclave, Maa Villas Road, Kousalya colony, Bachupally,
                                    Hyderabad</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h6 class="h6 font-semibold">Payment Options </h6>
                    </div>
                    <div class="card-body">
                        <div class="paymentdesc">
                            <div class="form-check pb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Wallet Amount <span class="icon-inr icomoon font-bold small"></span> 754 (Use wallet
                                    amount).
                                </label>
                            </div>
                            <div class="row py-3">
                                <div class="col-md-6">
                                    <p>Total Amount <span class="icon-inr icomoon font-semibold small"></span>1328</p>
                                </div>
                                <div class="col-md-6 text-end">
                                    <p>Amount Payable <span class="icon-inr icomoon font-semibold small"></span>1328</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-block background-whitedark py-3 my-2 border-bottom">
                            <div class="d-flex">
                                <div class="px-3">
                                    <div>
                                        <input class="form-check-input" type="radio" name="radioNoLabel"
                                            id="radioNoLabel1" value="" aria-label="...">
                                    </div>
                                </div>
                                <div>
                                    <p><strong>Pay in $ (USD)</strong></p>
                                    <p class="font-gray pt-2">Accepts all Credit Cards,Debit Cards and Net Banking Click
                                        on below button to make payment</p>
                                    <ul class="list-items ps-3">
                                        <li>Note: The amount will be deducted in USD Dollars</li>
                                    </ul>
                                    <div class="pt-2">
                                        <a href="" data-bs-toggle="modal" data-bs-target="#payment-card"
                                            class="color-btn">Pay Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-block background-whitedark py-3 my-2 border-bottom">
                            <div class="d-flex">
                                <div class="px-3">
                                    <div>
                                        <input class="form-check-input" type="radio" name="radioNoLabel"
                                            id="radioNoLabel1" value="" aria-label="...">
                                    </div>
                                </div>
                                <div>
                                    <p><strong>Pay Through Paypal in $ (USD)</strong></p>
                                    <p class="font-gray pt-2">Click on below button to pay through PayPal</p>

                                    <ul class="list-items ps-3">
                                        <li>Note: The amount will be deducted in USD Dollars</li>
                                    </ul>
                                    <div class="pt-1">
                                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-2V841322LP751933M"
                                            target="_blank" class="btn px-3" style="background:#ffc43a">
                                            <img src="https://www.paypalobjects.com/images/shared/paypal-logo-129x32.svg"
                                                alt="" style="width:90px;">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-block background-whitedark py-3 my-2 border-bottom">
                            <div class="d-flex">
                                <div class="px-3">
                                    <div>
                                        <input class="form-check-input" type="radio" name="radioNoLabel"
                                            id="radioNoLabel1" value="" aria-label="...">
                                    </div>
                                </div>
                                <div>
                                    <p><strong>Pay in <span
                                                class="icon-inr icomoon font-semibold small"></span>INR</strong></p>
                                    <p class="text-primary pt-2">Accepts all Indian Credit / Debit Cards, UPI and Net
                                        Banking. Click on below button to make payment</p>

                                    <ul class="list-items ps-3">
                                        <li>Note: The amount will be deducted in Rupees</li>
                                    </ul>
                                    <div class="pt-2">
                                        <a href="https://api.payu.in/public/#/b92abb5ce0cfe67bbd14a20a82ae1f4a/paymentoptions"
                                            target="_blank" class="color-btn">Pay Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- <div class="d-flex p-2 applycoupons">
                    <span class="icon-coupon h1 font-primary pb-0 mb-0"></span>
                    <h6 class="h6 font-black font-semibold ps-3 align-self-center">Apply Coupons</h6>
                </div> -->
                <div class="PriceDetails p-2 border">
                    <h6 class="h6 font-primary font-semibold align-self-center pb-3">Price Details</h6>
                    <div class="d-flex justify-content-between py-2">
                        <p>MRP Details</p>
                        <p class="text-end">₹ 2,407</p>
                    </div>
                    <div class="d-flex justify-content-between py-2">
                        <p>MRP Discount</p>
                        <p class="text-end font-green">-₹ 750</p>
                    </div>
                    <div class="d-flex justify-content-between py-2">
                        <p>Delivery Charges</p>
                        <p class="text-end font-green">FREE</p>
                    </div>
                    <div class="d-flex justify-content-between py-2">
                        <p>Convenience Charges <span class="icon-info"></span></p>
                        <p class="text-end">₹ 52</p>
                    </div>
                    <div class="d-flex justify-content-between py-3 totalamount my-2">
                        <h6 class="h6 font-bold">Total Amount</h6>
                        <p class="text-end font-bold">₹ 1,662</p>
                    </div>

                    <div class="pt-3">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-semibold">Sender Details</h6>
                            <a href="" class="font-semibold">Change</a>
                        </div>
                        <p>Praveen</p>
                        <p><small>+91 7995165789</small></p>
                    </div>
                    <div class="pt-3 border-top mt-3">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-semibold">Delivery Date & Time</h6>
                            <a href="" class="font-semibold">Change</a>
                        </div>
                        <p>31-07-2023</p>
                        <p><small>12PM - 3 PM</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="payment-card" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Payment Through Our Secure Gateway</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="font-primary">Billing Information (Please fill credit/debit card billing address)</p>
                <form class="pt-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" formControlName="" placeholder="First Name*">
                                <label for="">First Name <span class="font-red font-bold">*</span></label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" formControlName="" placeholder="Last Name*">
                                <label for="">Last Name <span class="font-red font-bold">*</span></label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-floating mb-3">
                                <textarea class="form-control" formControlName="" placeholder="Enter Address*">
                            </textarea>
                                <label for="">Address <span class="font-red font-bold">*</span></label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" formControlName="" placeholder="City*">
                                <label for="">City <span class="font-red font-bold">*</span></label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="CountrySelect"
                                    aria-label="Floating label select example">
                                    <option selected>Select Country</option>
                                    <option value="1">India</option>
                                    <option value="2">Malasia</option>
                                    <option value="3">United States America</option>
                                </select>
                                <label for="CountrySelect">Select Country</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" formControlName="" placeholder="State*">
                                <label for="">State <span class="font-red font-bold">*</span></label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" formControlName="" placeholder="Pincode*">
                                <label for="">Pincode <span class="font-red font-bold">*</span></label>
                            </div>
                        </div>

                    </div>

                    <h6 class="font-primary pb-2">Credit/Debit Card Information</h6>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" formControlName=""
                                    placeholder="Enter Card Number*">
                                <label for="">Card Number <span class="font-red font-bold">*</span></label>
                            </div>
                        </div>
                        <div class="col-md-5">                           
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="monthSelect"
                                            aria-label="Floating label select example">
                                            <option selected>Month</option>
                                            <option value="1">January</option>
                                            <option value="2">February</option>
                                            <option value="3">UMarch</option>
                                        </select>
                                        <label for="monthSelect">Expiry Month</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="selectYear"
                                            aria-label="Floating label select example">
                                            <option selected>Year</option>
                                            <option value="1">2024</option>
                                            <option value="2">2023</option>
                                            <option value="3">2022</option>
                                        </select>
                                        <label for="selectYear">Expiry Year</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" formControlName=""
                                    placeholder="CVV*">
                                <label for="">CVV <span class="font-red font-bold">*</span></label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="color-border-btn" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="color-btn border-0">Pay Now</button>
            </div>
        </div>
    </div>
</div>