<section class="topheader py-3">
    <div class="custom-container">
        <div class="row justify-content-between">
            <div class="col-md-8">
                <div class="d-flex offers">
                    <h6 class="h6 font-bold">Offers: </h6>
                    <div>
                        <p>Same Day Orders are accepted up to 6pm for Hyderabad. Hurry up Order Now!. *T&C Apply.
                            <a href="javascript:void(0)" class="text-white font-bold">Read More..</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link py-0" href="javascript:void(0)">Deals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0" href="javascript:void(0)">Offers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0 pe-0" href="javascript:void(0)">Express Delivery</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>