<section class="topheader">
    <div class="custom-container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="offers d-none">
                    <h6 class="h6 font-bold">Offers: </h6>
                    <div>
                        <ng-container *ngIf="!scrolling">
                            <p>{{scrollingMessage}}

                            </p>
                        </ng-container>
                        <ng-container *ngIf="scrolling">
                            <marquee>{{scrollingMessage}}
                            </marquee>
                        </ng-container>
                    </div>
                </div>
                <p>Call Us: (+91)9848155830 </p>
            </div>
            <div class="col-lg-6">
                <ul class="nav justify-content-md-end">
                    <li class="nav-item" *ngFor="let menu of topList">
                        <a class="nav-link py-0" (click)="gotoroute(menu.type, menu.seoTitle)"
                            href="javascript:void(0)">{{menu.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>