<section class="payment-success py-2">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="icon-payment mx-auto background-green">
                <span class="icon-payment-success icomoon"></span>
            </div>
            <h4 class="font-green pt-3 pb-2 font-semibold">Payment successfully completed</h4>
            <p class="pb-2">Payment Reference No: <strong>12354668963</strong></p>
            <p>Congratulations! Your payment has been successfully processed. Thank you for your purchase! If
                you have any questions or need further assistance, please don't hesitate to contact our customer
                support team. Happy shopping!</p>
            <div class="pt-3">
                <a href="" class="d-inline-block color-border-btn me-2">Go to my Orders</a>
                <a href="" class="d-inline-block color-btn">Continue Shopping</a>
            </div>
        </div>
    </div>

    <div class="row justify-content-center pt-4">
        <div class="col-md-6 text-center">
            <div class="icon-payment mx-auto background-red">
                <span class="icon-credit-card-failed icomoon"></span>
            </div>
            <h4 class="font-red py-3 font-semibold"> Payment failed </h4>
            <p>Not enough money on the card</p>
            <div class="pt-3">
                <a href="" class="d-inline-block color-border-btn me-2">Try Again Or Pay with Another method</a>                       
            </div>
        </div>
    </div>
</section>