<section class="mid-header py-2">
    <div class="custom-container">
        <div class="row">
            <div class="col-md-8">
                <div class="d-flex">
                    <a href="javascript:void(0)">
                        <img src="assets/images/logo.png" alt="Country Oven" class="brand-logo">
                    </a>
                    <div class="d-flex align-self-center ps-3 headerinput searchbox">
                        <span class="icon-search icomoon align-self-center"></span>
                        <div class="w-100 ps-2">
                            <input type="text" placeholder="Search Cakes, Flowers, Gifts, etc..."
                                class="searchinput no-border form-control-plaintext w-100">
                        </div>
                    </div>
                    <a class="d-block align-self-center headerinput deliver" href="javascript:void(0)">
                        <div class="d-flex align-self-center">
                            <span class="icon-location icomoon align-self-center"></span>
                            <div class="h6 px-2">Deliver to <span class="font-bold">500090</span></div>
                            <span class="icon-circle-down icomoon align-self-center"></span>
                        </div>
                    </a>
                    <div class="dropdown btn headerinput align-self-center">
                        <button class="dropdown-toggle no-border" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select Country
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">Item 1</a></li>
                            <li><a class="dropdown-item" href="#">Item 2</a></li>
                            <li><a class="dropdown-item" href="#">Item 3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 justify-content-end align-self-center text-end navrt">
                <a href="javascript:void(0)" class="d-inline-block text-center text-black">
                    <div><span class="icon-user icomoon"></span></div>
                    <div><small class="text-uppercase font-bold">Profile</small></div>
                </a>
                <a href="javascript:void(0)" class="d-inline-block text-center text-black">
                    <div><span class="icon-cart icomoon"></span></div>
                    <div><small class="text-uppercase font-bold">Cart</small></div>
                </a>
            </div>
        </div>
    </div>
</section>