<section class="mid-header">
    <div class="custom-container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row g-2">
                    <div class="col-lg-2">
                        <a routerLink="/" class="top-header-logo">
                            <img src="assets/images/logo.png" alt="Country Oven" class="brand-logo">
                        </a>
                    </div>
                    <div class="col-lg-4 align-self-center search-box-master"
                        [ngClass]="{'hide-mobile-search':!isVisible}">
                        <div>
                            <div class="align-self-center px-3 headerinput searchbox">
                                <div class="pe-2 w-100">
                                    <!-- <input type="text" placeholder="Search Cakes, Flowers, Gifts, etc..."
                                        [(ngModel)]="searchkeyword" class="searchinput no-border form-control-plaintext"
                                        list="search-products" (keyup.enter)="gotoroute()" (change)="gotoroute()">
                                    <datalist id="search-products">
                                        <option *ngFor="let i of searchList" [value]="i"></option>
                                    </datalist> -->
                                    <input type="text" 
                                    placeholder="Search Cakes, Flowers, Gifts, etc..."
                                    [(ngModel)]="searchkeyword" 
                                    class="searchinput no-border form-control-plaintext"
                                    (input)="onSearchInput($event)"
                                    (keydown)="onInputKeyDown($event)" (keyup.enter)="gotoroute()">
                             <div *ngIf="showAutocomplete" class="autocomplete">
                               <ul>
                                 <li *ngFor="let item of autoCompleteList; let i = index;" 
                                     [class.active]="selectedItemIndex === i"
                                     (click)="selectItem(item)"
                                     (mouseenter)="highlightItem(i)">
                                   {{ item }}
                                 </li>
                               </ul>
                             </div>
                                </div>
                                <span class="icon-magnifying-glass icomoon align-self-center"
                                    (click)="gotoroute()"></span>
                            </div>
                            <span *ngIf="searcherror" class="errorsearch"> Please enter atleast one character</span>
                        </div>
                        <a href="javascript:void(0)" class="color-btn w-100 d-block d-lg-none" (click)="toggleVisibilitySearch()">Cancel</a>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="row g-2">
                            <div class="col-md-9 col-7">
                                <a class="d-block align-self-center headerinput deliver" href="javascript:void(0)"
                                    data-bs-toggle="modal" data-bs-target="#selectcity" aria-controls="staticBackdrop">
                                    <div class="d-flex align-self-center">
                                        <span class="icon-pin icomoon align-self-center"></span>
                                        <div class="d-flex justify-content-between w-100">
                                            <div class="h6 px-2 d-flex"><span
                                                    class="font-black d-none d-xl-block px-md-2">Deliver
                                                    to  </span> <span class="font-bold pincode">{{city}}</span>
                                            </div>
                                            <span class="icon-right-chevron icomoon align-self-center"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3  col-5">
                             
                                <div class="headerinput align-self-center select-currency">
                                    <select class="form-select border-0 select-currency" (change)="onCurrecnySelected()"
                                        [(ngModel)]="selectedCurrency" aria-label="">
                                        <option *ngFor="let c of currencydrop" [value]="c" class="font-black font-bold">
                                            
                                            {{ c }}</option>
                                       
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 justify-content-end align-self-center text-end navrt">
                <a class="d-inline-block d-lg-none text-center text-black" (click)="toggleVisibilitySearch()">
                    <div><span class="icon-magnifying-glass icomoon"></span></div>
                    <div><small class="text-uppercase font-semibold">Search</small></div>
                </a>
                <a class="dropdown user-dropdown" href="javascript:void(0)">
                    <div class="d-inline-block text-center text-black dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <div><span class="icon-user icomoon"></span></div>
                        <div *ngIf="custName">
                            <small class="text-uppercase font-semibold custname">{{custName}}</small>
                        </div>
                        <div *ngIf="!custName">
                            <small class="text-uppercase font-semibold">Hi Guest</small>
                        </div>
                    </div>
                    <ul class="dropdown-menu">
                        <li *ngIf="!email"><a class="dropdown-item" routerLink="/login">
                                <div class="d-flex">
                                    <span class="icon-login h4 align-self-center"></span>
                                    <div class="ps-3">
                                        <h6 class="font-semibold">Login / Register</h6>
                                        <p class="font-semibold"><span>View your Profile / Mange your Products</span>
                                        </p>
                                    </div>
                                </div>
                            </a></li>
                        <li *ngIf="email"><a class="dropdown-item" routerLink="/myaccount">
                                <div class="d-flex">
                                    <span class="icon-setting h4 align-self-center"></span>
                                    <div class="ps-3">
                                        <h6 class="font-semibold">My Account</h6>
                                        <p class="font-semibold"><span>Edit Your Profile / Manage Your Profile</span>
                                        </p>
                                    </div>
                                </div>
                            </a></li>
                        <li *ngIf="email"><a class="dropdown-item" routerLink="/myaccount/orders">
                                <div class="d-flex">
                                    <span class="icon-gift-box h4 align-self-center"></span>
                                    <div class="ps-3">
                                        <h6 class="font-semibold">My Orders</h6>
                                        <p class="font-semibold"><span>Track Your Orders status</span></p>
                                    </div>
                                </div>
                            </a></li>
                        <li><a class="dropdown-item" routerLink="/content/contactus" href="#">
                                <div class="d-flex">
                                    <span class="icon-call h4 align-self-center"></span>
                                    <div class="ps-3">
                                        <h6 class="font-semibold">Contact us</h6>
                                        <p class="font-semibold"><span>Reach us / Send mail ur queries</span></p>
                                    </div>
                                </div>
                            </a></li>
                        <li><a class="dropdown-item" routerLink="/content/faq">
                                <div class="d-flex">
                                    <span class="icon-question h4 align-self-center"></span>
                                    <div class="ps-3">
                                        <h6 class="font-semibold">FAQ’s</h6>
                                        <p class="font-semibold"><span>Frequently Asked Questions</span></p>
                                    </div>
                                </div>
                            </a></li>
                        <li *ngIf="email"><a class="dropdown-item" (click)="logout()">
                                <div class="d-flex">
                                    <span class="icon-exit h4 align-self-center"></span>
                                    <div class="ps-3">
                                        <h6 class="font-semibold">Logout</h6>
                                        <p class="font-semibold"><span>Go to home</span></p>
                                    </div>
                                </div>
                            </a></li>
                    </ul>
                </a>
                <a routerLink="/cart" class="d-inline-block text-center text-black">
                    <div><span class="icon-cart icomoon"></span></div>
                    <div><small class="text-uppercase font-semibold">Cart</small></div>
                    <span class="badge badge-light position-absolute semibold">{{count}}</span>
                </a>
            </div>
        </div>
    </div>
</section>

<div class="modal fade selectcity-modal" tabindex="-1" id="selectcity" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <app-set-loc (selectEvent)="selectLoc()"></app-set-loc>
    </div>
</div>