<app-header></app-header>
<section class="userProfile py-3">
    <div class="container">
        <nav aria-label="breadcrumb" class="align-self-center">
            <ol class="breadcrumb pb-0 mb-0">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="/Profile">My Account</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Account</li>
            </ol>
        </nav>
        <div class="profile-page-title px-3 d-flex justify-content-between background-lightprimary py-3 my-2">
            <h5 class="h5 text-uppercase font-bold">My Profile</h5>
            <h6 class="h6 tex-end">Hi, Praveen Kumar</h6>
        </div>
        <app-profile-nav></app-profile-nav>
        <div class="userprofile-body">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control is-invalid" id="userName" placeholder="Write Name"
                                value="Praveen Kumar">
                            <label for="userName">Your Name <span class="font-red font-bold">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number"
                                value="+91 7995165789">
                            <label for="phoneNumber">Phone Number <span class="font-red font-bold">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" placeholder="Phone Number"
                                value="praveennandipati@gmail.com">
                            <label for="email">Email <span class="font-red font-bold">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="dob" placeholder="Date of Birth"
                                value="04-08-1981">
                            <label for="dob">Dte of Birth <span class="font-red font-bold">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="selectGender">
                                <option selected>Male</option>
                                <option>Female</option>
                                <option>Others</option>
                            </select>
                            <label for="selectGender">Select Gender <span class="font-red font-bold">*</span> </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="addressline01" placeholder="Address Line 01"
                                value="Plot No:65, KV Enclave, Kousalya colony">
                            <label for="addressline01">Address Line 01 <span class="font-red font-bold">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="addressline02" placeholder="Address Line 02"
                                value="Kukatpally, Medchal Malkajgiri">
                            <label for="addressline02">Address Line 02 </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="pinCode" placeholder="Pincode" value="500090">
                            <label for="pinCode">Pincode <span class="font-red font-bold">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="city" placeholder="City" value="Hyderabad">
                            <label for="city">City <span class="font-red font-bold">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="country">
                                <option selected>India</option>
                                <option>USA</option>
                                <option>Canada</option>
                            </select>
                            <label for="country">Country <span class="font-red font-bold">*</span> </label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="pt-3">
                            <button class="text-uppercase color-border-btn">Cancel</button>
                            <button class="text-uppercase color-btn border-0 ms-3">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</section>