<section class="footer">
    <div class="top-footer">
        <div class="custom-container">
            <div class="row">
                <div class="col-md-3">
                    <div class="d-flex top-footer-col">
                        <div class="align-self-center"><span class="icon-delivery-truck icomoon"></span></div>
                        <div class="ps-3">
                            <h5 class="h5 font-fbold pb-1">Excellence Delivered</h5>
                            <p>Trusted since 1993</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 border-start">
                    <div class="d-flex top-footer-col">
                        <div class="align-self-center"><span class="icon-comment icomoon"></span></div>
                        <div class="ps-3">
                            <h5 class="h5 font-fbold pb-1">Two Million +</h5>
                            <p>Happy Active Customers</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 border-start">
                    <div class="d-flex top-footer-col">
                        <div class="align-self-center"><span class="icon-satisfaction icomoon"></span></div>
                        <div class="ps-3">
                            <h5 class="h5 font-fbold pb-1">Your Satisfaction</h5>
                            <p>is our No.1 Priority</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 border-start">
                    <div class="d-flex top-footer-col">
                        <div class="align-self-center"><span class="icon-product-research icomoon"></span></div>
                        <div class="ps-3">
                            <h5 class="h5 font-fbold pb-1">Top Selling Products</h5>
                            <p>1000 + </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-footer">
        <div class="custom-container">
            <div class="row py-3">
                <div class="col-md-8">
                    <div class="d-flex justify-content-between flex-wrap">
                        <div class="links-col">
                            <h5 class="h5 text-uppercase font-extrabold">Customer Services</h5>
                            <div class="links">
                                <a href="javascript:void(0)">Customize a Cake</a>
                                <a href="javascript:void(0)">Corporate Orders</a>
                                <a href="javascript:void(0)">Referral Program</a>
                                <a href="javascript:void(0)">Support</a>
                                <a href="javascript:void(0)">Help</a>
                            </div>
                        </div>
                        <div class="links-col">
                            <h5 class="h5 text-uppercase font-extrabold">Help</h5>
                            <div class="links">
                                <a href="javascript:void(0)">FAQ’s</a>
                                <a href="javascript:void(0)">Shipping / Delivery</a>
                                <a href="javascript:void(0)">Delivery Cities</a>
                                <a href="javascript:void(0)">Return Policy</a>
                                <a href="javascript:void(0)">Privacy Policy</a>
                            </div>
                        </div>
                        <div class="links-col">
                            <h5 class="h5 text-uppercase font-extrabold">Gift's by City</h5>
                            <div class="links">
                                <a href="javascript:void(0)">Hyderabad</a>
                                <a href="javascript:void(0)">Bengaluru</a>
                                <a href="javascript:void(0)">Vizag</a>
                                <a href="javascript:void(0)">Vijayawada</a>
                                <a href="javascript:void(0)">Chennai</a>
                                <a href="javascript:void(0)" class="morelink font-bold">More Cities....</a>
                            </div>
                        </div>
                        <div class="links-col">
                            <h5 class="h5 text-uppercase font-extrabold">Occasions</h5>
                            <div class="links">
                                <a href="javascript:void(0)">1st Anniversary Gifts</a>
                                <a href="javascript:void(0)">25th Anniversary Gifts</a>
                                <a href="javascript:void(0)">1st Birthday Cakes</a>
                                <a href="javascript:void(0)">Birthday Cakes</a>
                                <a href="javascript:void(0)">Anniversary Cakes</a>
                                <a href="javascript:void(0)" class="morelink font-bold">More Occasions....</a>
                            </div>
                        </div>
                        <div class="links-col">
                            <h5 class="h5 text-uppercase font-extrabold">Sitemap</h5>
                            <div class="links">
                                <a href="javascript:void(0)">Category Sitemap</a>
                                <a href="javascript:void(0)">Subcategory Sitemap</a>
                                <a href="javascript:void(0)">Occasion Sitemap</a>
                                <a href="javascript:void(0)">Special Sitemap</a>
                                <a href="javascript:void(0)">Product Detail Sitemap</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5 class="h5 text-uppercase font-extrabold pb-0">News Letter</h5>
                    <p><small>Get updates on promotions and offers coupons</small></p>
                    <div class="form-group d-flex newsletter my-4 shadow">
                        <input type="text" class="form-control border-0 rounded-0" name="" placeholder="Your Email">
                        <button class="color-btn text-uppercase border-0 rounded-0">Subscribe</button>
                    </div>
                    <div class="text-end">
                        <img src="assets/images/footer-cards.png" alt="" />
                    </div>
                    <div class="footer-mainlinks pt-3 text-center">
                        <a routerLink="/Aboutus" class="font-semibold">About us</a>
                        <a routerLink="/Stores" class="font-semibold">Our Stores</a>
                        <a routerLink="/Reviews" class="font-semibold">Reviews</a>
                        <a routerLink="/Contact" class="font-semibold">Contact</a>
                        <a href="javascript:void(0)" class="font-semibold">Careers</a>
                        <a href="https://countryovenglobal.blogspot.com/" class="font-semibold" target="_blank">Blog</a>
                        <a routerLink="/Coupon-Partners" class="font-semibold">Coupon Partners</a>
                        <a routerLink="/Franchises" class="font-semibold">Franchises</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="end-footer pb-2">
        <div class="custom-container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <p class="text-black">© CountryOven 2023. All Rights Reserved.</p>
                </div>
                <div class="col-md-6 text-end">
                    <div class="footer-social">
                        <a href="javascript:void(0)" target="_blank" class="d-inline-block p-3">
                            <span class="icon-fb icomoon"></span>
                        </a>
                        <a href="javascript:void(0)" target="_blank" class="d-inline-block p-3">
                            <span class="icon-twitter icomoon"></span>
                        </a>
                        <a href="javascript:void(0)" target="_blank" class="d-inline-block p-3">
                            <span class="icon-linkedin icomoon"></span>
                        </a>
                        <a href="javascript:void(0)" target="_blank" class="d-inline-block p-3">
                            <span class="icon-pinterest icomoon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>