<section class="footer">
    <div class="top-footer">
        <div class="custom-container">
            <div class="row">
                <div class="col-md-3">
                    <div class="d-flex top-footer-col">
                        <div class="align-self-center"><span class="icon-delivery-truck icomoon"></span></div>
                        <div class="ps-3">
                            <h5 class="h5 font-fbold pb-1">Excellence Delivered</h5>
                            <p>Trusted since 1993</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 border-start">
                    <div class="d-flex top-footer-col">
                        <div class="align-self-center"><span class="icon-comment icomoon"></span></div>
                        <div class="ps-3">
                            <h5 class="h5 font-fbold pb-1">Two Million +</h5>
                            <p>Happy Active Customers</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 border-start">
                    <div class="d-flex top-footer-col">
                        <div class="align-self-center"><span class="icon-satisfaction icomoon"></span></div>
                        <div class="ps-3">
                            <h5 class="h5 font-fbold pb-1">Your Satisfaction</h5>
                            <p>is our No.1 Priority</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 border-start">
                    <div class="d-flex top-footer-col">
                        <div class="align-self-center"><span class="icon-product-research icomoon"></span></div>
                        <div class="ps-3">
                            <h5 class="h5 font-fbold pb-1">Top Selling Products</h5>
                            <p>1000 + </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>