<section class="home-categories py-2">
    <div class="custom-container">
        <div class="d-flex justify-content-md-between flex-categories">
            <a *ngFor="let category of iconicBanners" class="category-col"
                (click)="gotoroute(category.type, category.seoName)" href="javascript:void(0)">
                <figure>
                    <img [src]="category.imageName" alt="">
                </figure>
                <h6 class="py-2">{{category.name}}</h6>
            </a>
        </div>
    </div>
</section>
