@import "../../../../styles/styles";

.home-categories {
  .category-col {
    text-align: center;
    display: inline-block;
    @include transition(all, 0.3s ease);

    @include minMax(map-get($breakpoints, "xs"), map-get($breakpoints, "sm")) {
      width: 33.3%;
      margin-bottom: 15px;      
    }
    img {
      width: 95px;
      height: 95px;
      @include minMax(
        map-get($breakpoints, "xs"),
        map-get($breakpoints, "sm")
      ) {
        width: 75px;
        min-width: auto;
      }
    }
    h6 {
      color: map-get($colors, black);
      text-transform: uppercase;

      @include minMax(
        map-get($breakpoints, "xs"),
        map-get($breakpoints, "sm")
      ) {
        font-size: 13px;
        text-transform: capitalize;
      }
    }

    &:hover {
      h6 {
        color: map-get($colors, primary);
      }
    }
  }
}
