<section class="subpage">
    <div class="container">
        <!-- bread crumb-->
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="align-self-center py-3">
                    <ol class="breadcrumb pb-0 mb-0">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Terms and Conditions</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--/ bread crumb-->
        <div class="static-page">
            <h1 class="h2 font-semibold font-primary">Terms and Conditions</h1>
            <ul class="list-items2">
                <li>Copyright - countryoven: All content on this website including the logo, graphics, text, design,
                    music is the property of countryoven.com & protected by copyright. No part of the content shall be
                    copied, downloaded, uploaded, published, transmitted without prior, written permission from
                    countryoven.com.</li>
                <li>Authenticity: countryoven.com procures genuine products from authorized dealers/manufacturers
                    only. We take every care towards the accuracy of information provided on the website. It has
                    exercised due diligence in providing the latest products/information. countryoven.com / Its
                    Employees / Its Affiliates are not responsible for loss or damage caused to users due to the
                    information inadvertently provided on the website.</li>
                <li>Product Unavailability: countryoven.com always tries to deliver the exact product ordered by the
                    customer. If a product is unavailable, a similar product nearest to the description of that ordered,
                    will be delivered. If a product is unavailable readily, the customer will be informed about this
                    through e-mail. If there is no response from the customer (query designer: within a few hours), we
                    go ahead and deliver a product that comes closest to that ordered.</li>
                <li>Customers Choice - The Final Decision: Please note that all orders will be processed in a good
                    condition as per the customers choice only & recipient choice in no way will be entertained for
                    exchanging the product/s under any circumstance. All orders will be executed only after the customer
                    confirms it & will be treated as final.</li>
                <li>Non-Refund for Order Executed Perishable Items: Perishable items viz. Cakes, Flowers, Sweets &
                    all other perishable items, once attempted for delivery is treated as order executed and will not be
                    eligible for refund. These items are made/procured on the order of the customer. Being perishable in
                    nature they cant be refunded.</li>
                <li>Returnable Products: Products once delivered may sometimes be returned - for instance when the
                    product is damaged in transit or wrongly delivered - subject to the terms & conditions laid down in
                    the Return Policy Statement.</li>
                <li>Product Guarantee & Warranty: All warranties, after sales services, maintenance of items will be
                    subject to the conditions of the original manufacturers of products sold here. The responsibility of
                    countryoven.com ceases once the product is delivered at the recipients address.</li>
                <li>Order Cancellation: In every case that a customer wants to cancel an order, 10% of the order
                    amount will be charged towards Processing & other expenses. Customers must contact the Customer
                    Service Cell at countryoven.com to cancel an order. If the product has not yet been dispatched,
                    countryoven.com, at its sole discretion, may cancel the order subject to its return policy.</li>
                <li>Gift Delivery to Various Destinations (i) Gifts Delivery to India : All orders need to be placed
                    with a prior notice of 3 clear working days. (ii) Gifts for USA, UK & Other Countries : All orders
                    need to be placed with a prior notice of 7 clear working days. Additional delivery charges are
                    automatically added to normal delivery charges if you wish to send gifts through Express or Timed
                    delivery.</li>
                <li>Order Rejection: countryoven.com may at any point of time reject any order without any reason.
                </li>
                <li>Newsletters: countryoven.com may send e-mails to its registered users about New Arrivals
                    /Schemes. Users may opt out of the mailing list and click on Unsubscribe link if they do not want to
                    receive any further mails.</li>
                <li>countryoven Contest Rules & Regulations: countryoven.com may, from time to time, run contests on
                    the website. To participate, users may have to fill a form provide personal information. If the
                    contest is being administered / sponsored by a third party, this information will be disclosed to
                    that third party. Every contest is subject to its own specific rules.</li>
                <li>countryoven Order Rules & Regulations: once the order for a product is cancelled and the payment
                    is kept in hold valid period for reused is six months.</li>
            </ul>

        </div>
    </div>
</section>