<section class="subpage">
    <div class="container">
        <!-- bread crumb-->
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="align-self-center py-3">
                    <ol class="breadcrumb pb-0 mb-0">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Corporate Orders</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--/ bread crumb-->
        <div class="static-page">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="h3 font-bold font-primary pb-3">Corporate Orders</h1>
                    <img src="assets/images/corporate-orders.jpg" class="img-fluid w-100" alt="...">
                    <p><small>This option is available only for deliveries in Hyderabad</small></p>
                    <form [formGroup]="userForm"  (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" placeholder="Name "
                                        [ngClass]="{'is-invalid': userForm.get('name').invalid  && userForm.get('name')!.touched}"  formControlName="name">
                                        <label for="Name">Name <span class="font-red font-bold">*</span></label>
                                        <div class="msg-hint" *ngIf="submitted && userForm.get('name').invalid"> Name must be at least 3 characters </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" placeholder="Mobile Number"
                                        [ngClass]="{'is-invalid': userForm.get('mobileNo').invalid  && userForm.get('mobileNo')!.touched}"  formControlName="mobileNo">
                                        <label for="MobileNumber">Mobile Number<span
                                                class="font-red font-bold">*</span></label>
                                                <div class="msg-hint" *ngIf="submitted && userForm.get('mobileNo').invalid"> Enter Valid Mobile Number. Its between  10 to 15  characters</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" placeholder="Email"
                                        [ngClass]="{'is-invalid': userForm.get('emailId').invalid  && userForm.get('emailId')!.touched}"  formControlName="emailId">
                                        <label for="Email">Email <span class="font-red font-bold">*</span></label>
                                        <div class="msg-hint" *ngIf="submitted && userForm.get('emailId').invalid"> Enter Valid Email Address</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" placeholder="Company Name"
                                        [ngClass]="{'is-invalid': userForm.get('companyName').invalid  && userForm.get('companyName')!.touched}"  formControlName="companyName">
                                        <label for="cname">Company Name <span class="font-red font-bold">*</span></label>
                                        <div class="msg-hint" *ngIf="submitted && userForm.get('companyName').invalid"> Enter Company Name </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Your Comment" id="YourComment"
                                            style="height: 100px"   formControlName="comments"></textarea>
                                        <label for="YourComment">Your Comment</label>
                                        <div class="msg-hint green" *ngIf="msgstatus" > {{this.msg}}</div>         
                                    </div>
                                </div>
                            </div>
                            <button class="btn color-btn w-100 text-center font-bold" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="card border mb-3">
                        <div class="card-header">Mail Us</div>
                        <div class="card-body">
                            <p>Happy to help you. Please mail us on</p>
                            <p class="pb-0"><a href="mailto:contact@countryoven.com"
                                    class="font-primary font-bold">contact@countryoven.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="card border mb-3">
                        <div class="card-header">Call us</div>
                        <div class="card-body">
                            <p>Delighted to Serve you.</p>
                            <p class="pb-0">
                              USA: (+1)732 790 0578, (+1)248 275 5368<br>
                              Canada: +1 416 628 1206<br>
                              UK: +44 - 207 101 9225<br>
                              AUS: +61 - 3 - 99883814<br>
                              IND:+91 9848155830, +91 9848155816<br>
                            </p>
                        </div>
                    </div>
                    <div class="card border mb-3">
                        <div class="card-header">Address</div>
                        <div class="card-body">
                            <p class="pb-0">
                                <a href="/content/ourstores" class="font-primary font-bold">Check out our stores in USA and
                                    India.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
