<section class="subpage">
    <div class="container">
        <!-- bread crumb-->
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="align-self-center py-3">
                    <ol class="breadcrumb pb-0 mb-0">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--/ bread crumb-->
        <div class="static-page">
            <h1 class="h3 font-bold font-primary pb-3">We are here to HELP!!</h1>
            <p>For Over 30 years, CountryOven (A unit of Karthik Enterprises Private Limited) helping customers to
                celebrate their special moments by delivering yummy cakes and fresh flowers.</p>
            <p>Welcome to countryoven Customer Service. If you have any query please send an e-mail to
                contact@countryoven.com. One of our agents will get back to you as soon as possible.</p>
            <p>You can also call us on the below numbers. In case there is no response, it is likely that our agent is
                not available and you will receive a call back as soon as they are available.</p>
            <p><strong>Customer service is available 24 x 6 - Monday to Saturday</strong></p>

            <h2 class="h5 font-bold font-primary pb-3">CALL US</h2>
            <p>
              USA: (+1)732 790 0578, (+1)248 275 5368<br>
              Canada: +1 416 628 1206<br>
              UK: +44 - 207 101 9225<br>
              AUS: +61 - 3 - 99883814<br>
              IND:+91 9848155830, +91 9848155816<br>
              Email: contact@countryoven.com
            </p>
        </div>
    </div>
</section>
