<section class="subpage">
    <div class="container">
        <!-- bread crumb-->
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="align-self-center py-3">
                    <ol class="breadcrumb pb-0 mb-0">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Franchises</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--/ bread crumb-->
        <div class="static-page">
            <h1 class="h3 font-bold font-primary pb-3">Franchises</h1>
            <p>Thank you for your interest in Country Oven. We request you to provide us with the below details and we
                shall revert at the earliest.</p>

            <div class="row">
                <div class="col-md-8">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-sm-6 col-lg-4">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <input  [ngClass]="{'is-invalid' : form.get('firstname')!.invalid && form.get('firstname')!.touched}" type="text" class="form-control" placeholder="First Name"
                                            formControlName="firstname">
                                        <label for="username">First Name <span
                                                class="font-red font-bold">*</span></label>
                                    </div>
                                    <div *ngIf="submitted && form.get('firstname')!.invalid" class="invalid-feedback mt-0 d-block">
                                        Name must be at least 3 characters 
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <input [ngClass]="{'is-invalid' : form.get('lastname')!.invalid && form.get('lastname')!.touched}" type="text" class="form-control" placeholder="Last Name"
                                            formControlName="lastname">
                                        <label for="username">Last Name <span
                                                class="font-red font-bold">*</span></label>
                                    </div>
                                    <div *ngIf="submitted && form.get('lastname')!.invalid" class="invalid-feedback mt-0 d-block">
                                        Enter Last Name 
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <input [ngClass]="{'is-invalid' : form.get('age')!.invalid && form.get('age')!.touched}" type="number" class="form-control" placeholder="Age"
                                            formControlName="age">
                                        <label for="username">Age <span class="font-red font-bold">*</span></label>
                                    </div>
                                    <div *ngIf="submitted && form.get('age')!.invalid" class="invalid-feedback mt-0 d-block">
                                      Enter Age 
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <input  [ngClass]="{'is-invalid' : form.get('mobile')!.invalid && form.get('mobile')!.touched}" type="number" class="form-control" placeholder="Mobile No"
                                            formControlName="mobile">
                                        <label for="username">Mobile No: <span
                                                class="font-red font-bold">*</span></label>
                                    </div>
                                    <div *ngIf="submitted && form.get('mobile')!.invalid " class="invalid-feedback mt-0 d-block">
                                        Enter Valid Mobile Number. Its between  10 to 15  digits
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <input  [ngClass]="{'is-invalid' : form.get('emailId')!.invalid && form.get('emailId')!.touched}" type="email" class="form-control" placeholder="Email Address"
                                            formControlName="emailId">
                                        <label for="username">Email Address: <span
                                                class="font-red font-bold">*</span></label>
                                    </div>
                                    <div *ngIf="submitted && form.get('emailId')!.invalid " class="invalid-feedback mt-0 d-block">
                                       Enter Valid Email Address 
                                    </div>
                                </div>
                            </div>
                            
                           
                            <div class="col-sm-6 col-lg-4">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <input  [ngClass]="{'is-invalid' : form.get('country')!.invalid && form.get('country')!.touched}" type="text" class="form-control" placeholder="Country"
                                            formControlName="country">
                                        <label for="country">Country <span class="font-red font-bold">*</span></label>
                                    </div>
                                    <div *ngIf="submitted && form.get('country')!.invalid " class="invalid-feedback mt-0 d-block">
                                       Enter Country 
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <textarea  [ngClass]="{'is-invalid' : form.get('address')!.invalid && form.get('address')!.touched}" class="form-control" placeholder="Complete Address"
                                            id="completeAddress" formControlName="address" style="height: 100px"></textarea>
                                        <label for="completeAddress">Complete Address <span
                                                class="font-red font-bold">*</span></label>
                                    </div>
                                    <div class="addresscount">
                                        {{ updateCharacterCount() }} / {{ maxAddressLength }}
                                     </div>
                                    <div *ngIf="submitted && form.get('address')!.invalid" class="invalid-feedback mt-0 d-block">
                                        Address must be less than 100 characters.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <input  [ngClass]="{'is-invalid' : form.get('state')!.invalid && form.get('state')!.touched}" type="text" class="form-control" placeholder="State"
                                            formControlName="state">
                                        <label for="State">State <span class="font-red font-bold">*</span></label>
                                    </div>
                                    <div *ngIf="submitted && form.get('state')!.invalid " class="invalid-feedback mt-0 d-block">
                                       Enter State 
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <input  [ngClass]="{'is-invalid' : form.get('city')!.invalid && form.get('city')!.touched}" type="text" class="form-control" placeholder="City"
                                            formControlName="city">
                                        <label for="City">City <span class="font-red font-bold">*</span></label>
                                    </div>
                                    <div *ngIf="submitted && form.get('city')!.invalid" class="invalid-feedback mt-0 d-block">
                                       Enter City 
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <input  [ngClass]="{'is-invalid' : form.get('occupation')!.invalid && form.get('occupation')!.touched}" type="text" class="form-control" placeholder="Current Occupation"
                                            formControlName="occupation">
                                        <label for="CurrentOccupation">Occupation <span
                                                class="font-red font-bold">*</span></label>
                                    </div>
                                    <div *ngIf="submitted && form.get('occupation')!.invalid" class="invalid-feedback mt-0 d-block">
                                      Occupation is Required
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <input  [ngClass]="{'is-invalid' : form.get('businessHistory')!.invalid && form.get('businessHistory')!.touched}" type="text" class="form-control" placeholder="Business/Career History"
                                            formControlName="businessHistory">
                                        <label for="Business/CareerHistory">Business/Career History <span
                                                class="font-red font-bold">*</span></label>
                                    </div>
                                    <div *ngIf="submitted && form.get('businessHistory')!.invalid" class="invalid-feedback mt-0 d-block">
                                       Business History is Required
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-8">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <input  [ngClass]="{'is-invalid' : form.get('proposedLocation')!.invalid && form.get('proposedLocation')!.touched}" type="text" class="form-control"
                                            placeholder="Proposed location to open the franchise"
                                            formControlName="proposedLocation">
                                        <label for="Proposedlocationtoopenthefranchise">Proposed location to open the
                                            franchise <span class="font-red font-bold">*</span></label>
                                    </div>
                                    <div *ngIf="submitted && form.get('proposedLocation')!.invalid" class="invalid-feedback mt-0 d-block">
                                      Enter Franchise location 
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <textarea [ngClass]="{'is-invalid' : form.get('message')!.invalid && form.get('message')!.touched}" class="form-control" placeholder="Enter Message" id="EnterMessage"
                                            style="height: 100px" formControlName="message"></textarea>
                                        <label for="EnterMessage">Enter Message <span
                                                class="font-red font-bold">*</span></label>
                                    </div>
                                    <div *ngIf="submitted && form.get('message')!.invalid" class="invalid-feedback mt-0 d-block">
                                      Message is  Required
                                    </div>
                                </div>
                            </div>


                            <button class="btn color-btn w-100 text-center font-bold" type="submit" (click)="submit()">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="card border mb-3">
                        <div class="card-header">Mail Us</div>
                        <div class="card-body">
                            <p>Happy to help you. Please mail us on</p>
                            <p class="pb-0"><a href="mailto:contact@countryoven.com"
                                    class="font-primary font-bold">contact@countryoven.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="card border mb-3">
                        <div class="card-header">Call us</div>
                        <div class="card-body">
                            <p>Delighted to Serve you.</p>
                            <p class="pb-0">
                              USA: (+1)732 790 0578, (+1)248 275 5368<br>
                              Canada: +1 416 628 1206<br>
                              UK: +44 - 207 101 9225<br>
                              AUS: +61 - 3 - 99883814<br>
                              IND:+91 9848155830, +91 9848155816<br>
                            </p>
                        </div>
                    </div>
                    <div class="card border mb-3">
                        <div class="card-header">Address</div>
                        <div class="card-body">
                            <p class="pb-0">
                                <a href="/content/ourstores" class="font-primary font-bold">Check out our stores in USA and
                                    India.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
