<section class="category-banners">
    <div class="section-title">
        <h5 class="h5 font-bold">Find Gifts For your Loved Ones</h5>
        <P>Celebrate with Surprise Your Loved Ones</P>
    </div>
    <div class="custom-container">
        <div class="row pt-4 g-2">
            <ng-container *ngFor="let sb of smallBanners">
                <div class="col-md-6" [ngClass]="{'col-md-6': !sb.isSmall, 'col-6 col-md-3' : sb.isSmall }">
                    <div class="category-banner-item position-relative"  (click)="gotoroute(sb.type, sb.seoName)">
                        <figure>
                            <div class="figurediv position-relative">
                                <img [src]="sb.imageName" class="img-fluid w-100">
                               
                            </div>
                        </figure>
                        <article class="position-absolute">
                            <h6 class="h5 font-bold d-inline-block p-2 mb-3 rounded-2">{{sb.imageText}}</h6>
                            <div class="d-none d-md-block">
                                <a class="color-btn" href="javascript:void(0)">Shop Now</a>
                            </div>
                        </article>
                    </div>
                </div>
            </ng-container>          
        </div>
    </div>
</section>