@import "../../../../styles/styles";

.category-banners {
  padding: 30px 0;

  .category-banner-item {
    cursor: pointer;
    margin-bottom: 20px;
    article {
      top: 5px;
      left: 5px;
      z-index: 999;
      padding: 5px;
      @include max(map-get($breakpoints, "sm")) {
        top: 5px;
        left: 5px;
      }
      .h5 {
        background: map-get($colors, white);
        padding: 0 10px;
        margin: 0;
        // @include box-shadow(0, 3px, 3px, map-get($colors, gray));
        @include minMax(
          map-get($breakpoints, "xs"),
          map-get($breakpoints, "sm")
        ) {
          font-size: $fsize - 5;
        }
      }
    }
    figure {
      padding: 5px;
      @include max(map-get($breakpoints, "sm")) {
        padding: 2px;
      }
      background: map-get($colors, white);
      @include box-shadow(0, 3px, 3px, map-get($colors, lightgray));

      .figurediv {
        &:before {
          border-radius: 10px;
        }

        img {
          position: relative;
         
        }
      }
    }
  }
}
