<section class="subpage">
    <div class="container">
        <!-- bread crumb-->
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="align-self-center py-3">
                    <ol class="breadcrumb pb-0 mb-0">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Stores</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--/ bread crumb-->
        <div class="static-page">
            <h1 class="h3 font-bold font-primary pb-3">Stores In India</h1>
            <div class="row">
                <div class="col-md-3">
                    <div class="card shadow mb-3">
                        <div class="card-header"> Hyderabad, Telangana </div>
                        <div class="card-body">
                            <h5 class="card-title h6 font-bold pb-3"><span class="icon-pin h6"></span> Ameerpet,
                                Hyderabad</h5>
                            <p class="card-text">Opposite Green Park Hotel, Greenlands, Ameerpet, Hyderabad – 500016</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card shadow mb-3">
                        <div class="card-header"> Hyderabad, Telangana </div>
                        <div class="card-body">
                            <h5 class="card-title h6 font-bold pb-3"><span class="icon-pin h6"></span> Madhapur,
                                Hyderabad</h5>
                            <p class="card-text">Hi-tech City main Road, Beside Indian Oil Petrol Bunk (Bus Stop)
                                Madhapur, Hyderabad – 500081</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card shadow mb-3">
                        <div class="card-header"> Hyderabad, Telangana </div>
                        <div class="card-body">
                            <h5 class="card-title h6 font-bold pb-3"><span class="icon-pin h6"></span> Sri Nagar Colony,
                                Hyderabad</h5>
                            <p class="card-text">Sri nagar colony main road, near ATM junction , Sri Nagar colony,
                                Hyderabad – 500073</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card shadow mb-3">
                        <div class="card-header"> Hyderabad, Telangana </div>
                        <div class="card-body">
                            <h5 class="card-title h6 font-bold pb-3"><span class="icon-pin h6"></span> Miyapur Hub ,
                                Hyderabad</h5>
                            <p class="card-text">Flat 101, 1st Floor, Door No:1-62/CR/501 Chilukuri Residency, Dist,
                                Madeenaguda, Serilingampalle (M), Telangana 500049</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card shadow mb-3">
                        <div class="card-header"> Warangal, Telangana </div>
                        <div class="card-body">
                            <h5 class="card-title h6 font-bold pb-3"><span class="icon-pin h6"></span> Warangal City
                            </h5>
                            <p class="card-text">2nd Floor At Asian Sridevi Mall, Hanumakonda, Warangal, Telangana -
                                506001</p>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="h5 font-bold font-primary py-3">Stores In USA</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="card shadow mb-3">
                        <div class="card-header">United States </div>
                        <div class="card-body">
                            <h5 class="card-title h6 font-bold pb-3"><span class="icon-pin h6"></span> New Jersey, USA
                            </h5>
                            <p class="card-text">1463, Finnegans Lane, Unit #H, Subzi Mandi Plaza, North Brunswick, NJ –
                                08902</p>
                            <p>Ph. No: +1 732-658-6700 <br> Fax: 732-658-6701</p>
                            <p>Website:<a href="http://www.countryovennj.com/" target="_blank">www.countryovennj.com</a>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card shadow mb-3">
                        <div class="card-header">United States </div>
                        <div class="card-body">
                            <h5 class="card-title h6 font-bold pb-3"><span class="icon-pin h6"></span> New Jersey, USA
                            </h5>
                            <p class="card-text">1585 Oak Tree Road, Unit #C, Kumar Soni Plaza,Iselin, NJ – 08830</p>
                            <p>Ph. No: +1 732-494-4838 <br> Fax: 732-494-4853</p>
                            <p>Website: <a href="http://www.countryovennj.com/"
                                    target="_blank">www.countryovennj.com</a></p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card shadow mb-3">
                        <div class="card-header">United States </div>
                        <div class="card-body">
                            <h5 class="card-title h6 font-bold pb-3"><span class="icon-pin h6"></span> Virginia, USA
                            </h5>
                            <p class="card-text">2401, Mcnairfarms Dr,Unit#8, Herndon,Virginia,20171</p>
                            <p>Ph No: +703-793-2253</p>
                            <p>Website: <a href="http://www.countryovennj.com/"
                                    target="_blank">www.countryovennj.com</a></p>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>