@import "./variables";
@import "./mixins";
@import "./fonts";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&display=swap");
body {
  @include siteMain;

  p,
  h1,
  .h1 h2 .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6,
  ul,
  li,
  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

.custom-container {
  width: 95%;
  margin: 0 auto;
}

.color-btn {
  background: map-get($colors, primary);
  color: map-get($colors, white);
  font-size: $fsize + 1;
  text-align: center;
  padding: 8px 25px;
  @include transition(all, 0.3s ease);
  border-radius: 5px;

  &:hover {
    background: map-get($colors, lightprimary);
    color: map-get($colors, black);
  }
}

.section-title {
  text-align: center;

  .h5 {
    font-size: $fsize + 7;
  }
}

.subpage {
  min-height: 50vh;
}

.terms-content {
  p {
    padding-bottom: 20px;
  }
}

.rating-title {
  .rating-label {
    background: map-get($colors, green);
    font-size: $fsize - 2;
  }
  .review-count {
    color: map-get($colors, primary);
    font-size: $fsize - 2;
  }
}

.badge-pill {
  a {
    &:hover {
      background: map-get($colors, primary);
      color: map-get($colors, white);
    }
  }
}

.form-control {
  &:focus {
    box-shadow: none;
    outline: none;
  }
}
