@import "./variables";
@import "./mixins";
@import "./fonts";
@import "~bootstrap-icons/font/bootstrap-icons.css";
// @import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/xzoom@1.0.14/src/xzoom.css");
body {
  @include siteMain;
  p,
  h1,
  .h1 h2 .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6,
  ul,
  li,
  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

.custom-container {
  width: 95%;
  margin: 0 auto;

  @include max(map-get($breakpoints, "sm")) {
    width: 90%;
  }
}

.rounded-btn {
  border-radius: 50px !important;
}

.default-btn {
  font-size: $fsize;
  text-align: center;
  padding: 10px 15px 10px 15px;
  @include transition(all, 0.3s ease);
  border-radius: 5px;
  position: relative;

  @include max(map-get($breakpoints, "sm")) {
    padding: 5px 10px 5px 10px;
  }
}

.color-btn {
  background: map-get($colors, primary);
  color: map-get($colors, white);
  @extend .default-btn;

  &:hover {
    background: darken(map-get($colors, primary), 10%);
  }
}
.color-btn:disabled {
  opacity: 0.3 !important;
}
.color-border-btn {
  background: map-get($colors, white);
  color: map-get($colors, primary);
  border: 1px solid map-get($colors, primary);
  @extend .default-btn;

  &:hover {
    background: map-get($colors, primary);
    color: map-get($colors, white);
  }
}

.section-title {
  text-align: center;

  .h5 {
    font-size: $fsize + 7;
  }
}

.subpage {
  min-height: 50vh;
}

.rating-title {
  .rating-label {
    background: map-get($colors, green);
    font-size: $fsize - 2;
  }
  .review-count {
    color: map-get($colors, primary);
    font-size: $fsize - 2;
  }
}

.badge-pill {
  a {
    &:hover {
      background: map-get($colors, primary);
      color: map-get($colors, white);
    }
  }
}

.form-floating {
  .form-control {
    &:focus {
      box-shadow: none;
      outline: none;
    }
    &::placeholder {
      font-size: $fsize - 1;
    }
  }
  .form-select {
    &:focus {
      box-shadow: none;
      outline: none;
    }
    &::placeholder {
      font-size: $fsize - 1;
    }
  }
}

.form-control {
  &:focus {
    box-shadow: none;
    outline: none;
  }
  &::placeholder {
    font-size: $fsize - 1;
  }
}

.static-page {
  padding: 15px 0;

  p {
    padding-bottom: 15px;
    font-size: $fsize - 1;
  }
  ul {
    li {
      font-size: $fsize - 1;
    }
  }
}

.breadcrumb {
  li {
    font-size: $fsize - 2;
    text-transform: capitalize;
    &:first-child {
      &:before {
        content: "";
        display: none;
      }
    }

    &:before {
      content: "\e927";
      font-family: "icomoon" !important;
      font-size: $fsize - 5;
      position: relative;
      top: 3px;
    }
    a {
      color: map-get($colors, black);
    }
  }
  .active {
    color: map-get($colors, primary);
  }
}

.subpage-login {
  min-height: 150px;
  padding: 100px 0;
}

.cart-subpage {
  padding-top: 30px;

  .PriceDetails {
    font-size: $fsize - 1;
  }
}

.price {
  .offer-price {
    font-size: $fsize + 3;
    color: map-get($colors, black);

    @include max(map-get($breakpoints, "sm")) {
      font-size: $fsize - 1;
      align-self: center;
    }
  }
  .icomoon {
    font-size: $fsize;
    @include max(map-get($breakpoints, "sm")) {
      font-size: $fsize - 4;
    }
  }
  .mrp {
    font-size: $fsize + 3;
    color: map-get($colors, lighten(black, 50%));
    text-decoration: line-through;

    @include max(map-get($breakpoints, "sm")) {
      font-size: $fsize - 3;
    }
  }
  .offer-percentage {
    small {
      color: map-get($colors, primary);
      font-size: $fsize - 2;

      @include max(map-get($breakpoints, "sm")) {
        font-size: $fsize - 4;
      }
    }
  }
}

.content-cart-col {
  height: 190px;

  @include max(map-get($breakpoints, "sm")) {
    height: auto;
    font-size: $fsize - 2;
  }
}
.applycoupons {
  border: 1px dotted map-get($colors, black);
}
.totalamount {
  border-top: 1px dotted map-get($colors, black);
  border-bottom: 1px dotted map-get($colors, black);
}

//profile styles
.userProfile {
  min-height: 500px;
}

//product list header styles
.list-products-header {
  background: map-get($colors, lightblue);
  padding: 15px 0;
  font-size: $fsize - 1;
  color: map-get($colors, gray);

  @include max(map-get($breakpoints, "sm")) {
    font-size: $fsize - 2;
    padding: 10px 0;
  }

  p{
    display:none;
    @include min(map-get($breakpoints, "md")){
      display:block;
    }
  }

  h1 {
    font-size: $fsize + 5;
    padding-bottom: 10px;
    font-weight: map-get($font-weights, bold);
    color: map-get($colors, black);

    @include max(map-get($breakpoints, "sm")) {
      font-size: $fsize;
      padding-top:10px;
    }

    span {
      font-size: $fsize + 3;
      text-transform: lowercase;
    }
  }
  .filter-links {
    display:none;
    @include min(map-get($breakpoints, "md")){
      display:block;
    }
    
    a {
      color: map-get($colors, primary);
      padding: 6px 15px;
      border: 1px solid;
      font-size: $fsize;
      border-radius: 5px;
      @include transition(all 0.2s ease);
      display: inline-block;
      margin: 10px 10px 0 0;

      @include max(map-get($breakpoints, "sm")) {
        padding: 3px;
        font-size: $fsize - 3;
        margin: 3px;
      }

      &:hover {
        background: map-get($colors, primary);
        color: map-get($colors, white);
        border: 1px solid transparent;
      }
    }
  }
}

.terms-content {
  padding-bottom: 20px;

  .h6 {
    padding-bottom: 15px;
  }

  p {
    padding-bottom: 12px;
    color: darken(map-get($colors, gray), 25%);
    font-size: $fsize - 1;

    @include max(map-get($breakpoints, "sm")) {
      font-size: $fsize - 2;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
  ul > li {
    margin: 0;
    padding: 0;
    font-size: $fsize - 1;

    @include max(map-get($breakpoints, "sm")) {
      font-size: $fsize - 2;
    }
  }

  h2,
  h3,
  h4,
  h5 {
    font-size: $fsize + 5;
    font-weight: map-get($font-weights, bold);
    padding-bottom: 15px;
    @include max(map-get($breakpoints, "sm")) {
      font-size: $fsize + 1;
    }
  }
}

.list-items {
  li {
    list-style-type: disc;
    margin-left: 5px;
    margin-bottom: 10px;
  }
}

.list-items2 {
  li {
    list-style-type: decimal;
    margin-bottom: 10px;
    margin-left: 5px;
  }
}

.cities-list {
  a {
    background: map-get($colors, lightblue);
    text-transform: capitalize;
    &:hover {
      background: map-get($colors, primary);
      color: map-get($colors, white);
    }
  }
}

ol {
  list-style-type: decimal !important;
}

.Noproducts {
  img {
    width: 250px;
  }
}

.address-cards {
  .card {
    .addresssection {
      min-height: 110px;
    }
    p {
      font-size: $fsize - 1;
    }
  }
}

.select-city-parent {
  position: relative;
  .select2-selection--single {
    height: 50px !important;
    line-height: 50px;
    padding: 10px 15px;
    border-radius: 50px;
  }
}

header{
  @include transition(all, 0.2s ease);
}

header.fixed-top {
  
  .mid-header { 
    .brand-logo {
      width: 100px;
    }
  }
}

.modal {
  z-index: 9999;
}
.modal-backdrop {
  z-index: 999;
}

.msg-hint {
  font-size: 12px;
  color: red;
}
.stickyribbon {
  position: fixed;
  top: calc(50% - 90px);
  right: 0;
  z-index: 9999;
  // @include box-shadow(0, 0, 10px, map-get($colors, gray));

  .toggle_contact{
    width:30px;
    height: 30px;   
    position: absolute;    
    top:-16px;
    right:0;
    border-radius: 5px;
    line-height: 33px;
    text-align: center;
    background:map-get($colors, white);
    transform: translateY(-15px);
   
   

  }

  .wapp {
    background: #29a71a;
  }

  .call-customercare {
    background: #0081fd;
  }
  .msg {
    background: #f5c100;
  }
  .notifications {
    background: #d966a4;
  }

  .sticky-ribbon-link {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: map-get($colors, white);
    font-size: $fsize + 10;
    position: relative;

    .number-count {
      background: #c51a76;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 3px;
      right: 3px;
      font-size: $fsize - 5;
      text-align: center;
      line-height: 17px;
      border-radius: 50px;
      font-weight: bold;
      border: 1px solid map-get($colors, white);
    }
  }
}

.fixedpopup {
  @include max(map-get($breakpoints, "sm")) {
    padding: 10px;
  }
  .modal-content {
    // height: calc(60vh - 100px);
    background: #fff;
    margin: 0 auto;

    @include max(map-get($breakpoints, "lg")) {
      width: 100%;
      height: calc(100vh - 100px);
    }
  }
}

.icon-payment {
  width: 84px;
  height: 84px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .icomoon {
    font-size: $fsize * 3;
    color: map-get($colors, white);
  }
}

.bodyloader .loader-overlay {
  display: flex !important;
}

.hide-mobile {
  display: none;

  @include min(map-get($breakpoints, "md")) {
    display: block;
  }
}

.hide-mobile-search {
  display: none;

  @include min(map-get($breakpoints, "lg")) {
    display: block;
  }
}

.sub-page-title {
  font-size: clamp(1rem, 1.3vw, 1.3rem);
}

.profile-subpage {
  padding-top: 25px;
}

.navbar-toggler {
  &:focus {
    box-shadow: none;
  }
}
















@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.poplayer{ position: fixed; top:0; left:0; right:0; bottom: 0;z-index: 100000;
  background: rgba(0, 0, 0, .7); visibility:hidden;
  background: rgba(0,0,0,.7);
  transition: transform 250ms, opacity 400ms;}
.centerpopup{ position: relative; width:600px; max-height: 80vh; margin: auto; overflow: auto; background: #fff; min-height: 100px;
& img{ width: 100%;
  max-height: 100%;}
  & .popmsgcontent{ padding: 20px;}
& .popclose{ position: absolute;
  right: 0; background: none;     border: 0;
  padding: 4px; cursor: pointer;
  top: 0;}

}

.popupshow {
  display: flex;
  transform: scale(1.2);
    visibility: visible;
  opacity: 1;
}

.form-floating{
  label{
    @include max(map-get($breakpoints, "md")){
      font-size:$fsize - 2;
    }
  }
  input{
    @include max(map-get($breakpoints, "md")){
      padding:0.5rem;
    }
  }
}