<!-- <app-cartheader></app-cartheader> -->
<app-header></app-header>
<section class="cart-subpage">
    <div class="container">
        <h1 class="h5 font-medium pb-3">Shopping Cart ({{cartCount}})</h1>
        <div class="row">
            <div class="col-md-8">
                <div class="deliver-location d-flex justify-content-between p-2 border">
                    <div class="d-flex">
                        <span class="icon-route h1 font-primary"></span>
                        <div class="ps-3 align-self-center">
                            <h6 class="font-gray">Deliver to: <span
                                class="font-black d-inline-block ps-3 font-semibold">{{city}}</span>
                        </h6>
                        </div>
                    </div>
                  
                </div>
               
                <div class="cart-product-item border p-2 mb-3" *ngFor="let CartItem of cartItems; let i = index">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="javascript:void(0)">
                                <img src="{{CartItem.produtImage}}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-9">
                            <div class="row justify-content-between">
                                <div class="col-md-6">
                                    <div class="d-flex justify-content-between flex-column content-cart-col">
                                        <div>
                                            <h5 class="h5 pb-3"><a href="javascript:void(0)"
                                                    class="font-black">{{CartItem.productName}}</a>
                                            </h5>
                                            <div class="btnsec">
                                                <div class="value-button" id="decrease" (click)="decrementQuantity(i)"
                                                    value="Decrease Value">-</div>
                                                <input type="number" id="number" min="0"
                                                    [(ngModel)]="CartItem.quantity" />
                                                <div class="value-button" id="increase" value="Increase Value"
                                                    (click)="incrementQuantity(i)">+</div>
                                                <a (click)="updateCartItem(CartItem.sNo, CartItem.quantity)">Update</a>
                                            </div>
                                            <ul class="list-style-desc">
                                         
                                            <li *ngIf="CartItem.additionalWeight">Weight	:	{{CartItem.additionalWeight}}</li>
                                           <li *ngIf="CartItem.egglessPrice"> Eggless	:	{{CartItem.egglessPrice}}</li>
                                            <li *ngIf="CartItem.productId">Product Id	:	{{CartItem.productId}}</li>
                                            <li *ngIf="CartItem.flavour">Flavour : {{CartItem.flavour}}</li>
                                            <li *ngIf="CartItem.additionalNumber">Number : {{CartItem.additionalNumber}}</li>
                                            <li *ngIf="CartItem.message">Message: {{CartItem.message}}</li>
                                            </ul>
                                            



                                        </div>
                                        <!-- <div>
                                            <p><small>Shipping Type: <span class="font-green font-semibold">{{CartItem.ShippingType}}</span></small>
                                            </p>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-flex justify-content-between flex-column content-cart-col">
                                        <div class="price py-2">
                                            <div class="offer-price text-end font-bold"><span
                                                    class="icon-inr icomoon"></span>{{CartItem.subTotal}}
                                            </div>
                                            <!-- <div class="d-flex justify-content-end">
                                                <div class="mrp font-semi-bold align-self-center px-2">
                                                    <span class="icon-inr icomoon font-bold"></span>{{CartItem.Mrp}}.00
                                                </div>
                                                <div class="offer-percentage align-self-center "><small
                                                        class="font-bold">({{CartItem.Percentage}}%
                                                        off)</small>
                                                </div>
                                            </div> -->
                                        </div>
                                        <div class="text-end">
                                            <a href="javascript:void(0)" (click)="DeleteCartItem(CartItem.sNo)"><span
                                                    class="icon-delete font-black"></span>
                                                <span class="font-red font-medium">Delete</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- <div class="d-flex p-2 applycoupons">
                    <span class="icon-coupon h1 font-primary pb-0 mb-0"></span>
                    <h6 class="h6 font-black font-medium ps-3 align-self-center">Apply Coupons</h6>
                </div> -->
                <div class="PriceDetails p-2 border my-3">
                    <h6 class="h6 font-black font-medium align-self-center pb-3">Price Details</h6>
                    <div class="d-flex justify-content-between py-2">
                        <p>MRP Details</p>
                        <p class="text-end" *ngIf="firstlistItem">₹ {{firstlistItem?.totalAmount}}</p>
                    </div>

                    <div class="d-flex justify-content-between py-2">
                        <p>Delivery Charges</p>
                        <p class="text-end font-green"> <ng-container *ngIf="firstlistItem?.deliveryCharges ==0">FREE</ng-container><ng-container *ngIf="firstlistItem?.deliveryCharges >0">{{firstlistItem?.deliveryCharges}}</ng-container>  </p>
                    </div>
                    
                    <div class="d-flex justify-content-between py-3 totalamount my-2">
                        <h6 class="h6 font-semibold">Total Amount</h6>
                        <p class="text-end font-semibold">₹ {{firstlistItem?.grandTotal}}</p>
                    </div>
                    <a class="color-btn d-block" data-bs-toggle="modal"
                        data-bs-target="#AddonsProducts" (click)="addOnProducts()">Continue to Checkout</a>

                </div>
                <a routerLink=" " class="color-border-btn d-block ">Continue Shopping</a>
            </div>
        </div>

        <!-- explore products -->
        <div class="explore-products">
            <h1 class="h5 font-medium pb-3">Explore Addons Along with your order</h1>
            <div class="container">
                <div class="products-list-items">
                    <div class="row row-flex">
                        <div class="col-md-3 col-6" *ngFor="let productitem of viewedProducts">
                            <app-product-item [Productvalue]="productitem" class="app-product-col"></app-product-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>


       


        <!--/ explore products-->
    </div>
</section>

<app-footer></app-footer>
<!-- addons product popup modal-->
<div class="modal fade" id="AddonsProducts" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Addons Products to Cart</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section class="products-list">
                    <div class="row">
                        <div class="col-lg-3" *ngFor="let Productvalue of addonproducts">
                            <div class="app-product-item w-100">
                                <figure class="product-item-figure">
                                    <a>
                                        <!-- hyderabad/send-online/ -->
                                        <img src="{{Productvalue.imageURL}}" alt="" class="img-fluid w-100">
                                    </a>
                                </figure>
                                <div class="item-title p-2 p-md-3 bg-white">
                                    <h5>
                                        <a href="javascript:void(0)"
                                            class="font-semibold font-black">{{Productvalue.productName}}</a>
                                    </h5>
                                    <div class="price d-flex py-2 border-bottom">
                                        <div class="offer-price font-bold"><span
                                                class="icon-inr icomoon font-bold"></span>{{Productvalue.price}}</div>
                                    </div>
                                    <div class="d-flex justify-content-between pt-2 item-footer">
                                        <button type="button" class="color-btn border-0" (click)="addOnProductsupdateCart(Productvalue.addOnProductId)">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>


            </div>
            <div class="modal-footer">
                <button type="button" class="color-btn border-0" data-bs-dismiss="modal">Go to Cart</button>
                <button type="button" class="color-border-btn" data-bs-dismiss="modal" (click)="gotocheckout()">Proceed to Checkout</button>
            </div>
        </div>
    </div>
</div>