<!-- <app-header></app-header> -->
<section class="userProfile py-3">
  <div class="container">
    
    <div class="userprofile-body">
      <div class="card mb-3" >
        <div class="card-body pb-0 pt-2">
        </div>
        <div class="card-footer py-1 border-top-0">
          <div class="row">
            <div class="col-md-6">
              <p class="text-md-end" >
                <a data-bs-toggle="modal" data-bs-target="#Reviews"
                   class="font-primary pe-3 align-self-center" href="#">
                  <span class="icon-star"></span>
                  Rate & Review Product
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

