<!-- <app-header></app-header> -->
<section class="userProfile py-3">
  <div class="container">    
    <div class="userprofile-body">
      <div class="row justify-content-center py-4">
        <div class="col-md-8">
           <h1 class="text-center h3 font-primary border-bottom pb-3 mb-3">Ratings &amp; Reviews</h1>
          <br />
          <p class="text-center">Please write review and get Rs:50 to your wallet and 20% discount on next order</p>

          <div class="p-2 p-md-5 bg-white shadow rounded mt-2 mt-md-5">
            <article>
              <h3 class="h5">Order No: <span class="font-semibold font-primary">970696</span></h3>
              <p><small>All Fields are Mandatory</small></p>
            </article>
            <div class="rating-div pt-t pt-md-5">
              <p><small>Produt Rating <span class="font-red">*</span> </small></p>
              <div class="starts-rating">
                <div class="rating-stars">
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                  <span class="icon-star"></span>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

