<section class="subpage">
    <div class="container">
        <!-- bread crumb-->
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="align-self-center py-3">
                    <ol class="breadcrumb pb-0 mb-0">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shipping</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--/ bread crumb-->
        <div class="static-page">
            <h1 class="h3 font-bold font-primary pb-3">Shipping & Delivery</h1>

            <div class="row">
                <div class="col-md-8">
                    <div class="card mb-2">
                        <div class="card-header">
                          <b>1. Product Unavailability</b>
                        </div>
                        <div class="card-body">
                            <p>countryoven.com always tries to deliver the exact product ordered by the customer. If a
                                product
                                is unavailable, a similar product nearest to the description of that ordered, will be
                                delivered.
                                If
                                a product is unavailable readily, the customer will be informed about this through
                                e-mail. If
                                there is no response from the customer (query designer: within a few hours), we go ahead
                                and
                                deliver a
                                product that comes closest to that ordered.</p>
                        </div>
                    </div>

                    <div class="card  mb-2">
                        <div class="card-header">
                          <b>2.Customers Choice - The Final Decision</b>
                        </div>
                        <div class="card-body">
                            <p>Please note that all orders will be processed in a good condition as per the customers
                                choice
                                only & recipient choice in no way will be entertained for exchanging the product/s under
                                any
                                circumstance. All orders will be executed only after the customer confirms it & will be
                                treated
                                as final.</p>
                        </div>
                    </div>

                    <div class="card  mb-2">
                      <div class="card-header">
                        <b>3.Non-Refund for Order Executed Perishable Items </b>
                      </div>
                        <div class="card-body">
                            <p>Perishable items viz. Cakes, Flowers, Sweets & all other perishable items, once attempted
                                for
                                delivery is treated as order executed and will not be eligible for refund. These items
                                are
                                made/procured on the order of the customer. Being perishable in nature they can’t be
                                refunded.
                            </p>
                        </div>
                    </div>


                    <div class="card  mb-2">
                      <div class="card-header">
                        <b>4.Returnable Products</b>
                      </div>
                        <div class="card-body">
                            <p>Products once delivered may sometimes be returned - for instance when the product is
                                damaged in
                                transit or wrongly delivered - subject to the terms & conditions laid down in the Return
                                Policy
                                Statement.
                            </p>
                        </div>
                    </div>

                    <div class="card  mb-2">
                      <div class="card-header">
                        <b>5.Product Guarantee & Warranty</b>
                      </div>
                        <div class="card-body">
                            <p>All warranties, after sales services, maintenance of items will be subject to the
                                conditions of
                                the original manufacturers of products sold here. The responsibility of countryoven.com
                                ceases
                                once the product is delivered at the recipients address.
                            </p>
                        </div>
                    </div>

                    <div class="card  mb-2">
                      <div class="card-header">
                        <b>6.Order Cancellation </b>
                      </div>
                        <div class="card-body">
                            <p>In every case that a customer wants to cancel an order, 10% of the order amount will be
                                charged
                                towards Processing & other expenses. Customers must contact the Customer Service Cell at
                                countryoven.com to cancel an order. If the product has not yet been dispatched,
                                countryoven.com,
                                at its sole discretion, may cancel the order subject to its return policy.
                            </p>
                        </div>
                    </div>

                    <div class="card  mb-2">
                      <div class="card-header">
                        <b>7.Gift Delivery to Various Destinations </b>
                      </div>
                        <div class="card-body">
                            <p>Gifts Delivery to India: All orders need to be placed with a prior notice of 3 clear
                                working
                                days.
                            </p>
                        </div>
                    </div>

                    <div class="card  mb-2">
                      <div class="card-header">
                        <b> 8.Order Rejection </b>
                      </div>
                        <div class="card-body">
                            <p>countryoven.com may at any point of time reject any order without any reason.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card border mb-3">
                        <div class="card-header">Mail Us</div>
                        <div class="card-body">
                            <p>Happy to help you. Please mail us on</p>
                            <p class="pb-0"><a href="mailto:contact@countryoven.com"
                                    class="font-primary font-bold">contact@countryoven.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="card border mb-3">
                        <div class="card-header">Call us</div>
                        <div class="card-body">
                          <p>Delighted to Serve you.</p>
                          <ul>
                            <li>USA: (+1)732 790 0578, (+1)248 275 5368</li>
                            <li>Canada: +1 416 628 1206</li>
                            <li>UK: +44 - 207 101 9225</li>
                            <li>AUS: +61 - 3 - 99883814</li>
                            <li>IND:+91 9848155830, +91 9848155816</li>
                          </ul>
                        </div>
                    </div>
                    <div class="card border mb-3">
                        <div class="card-header">Address</div>
                        <div class="card-body">
                            <p class="pb-0">
                                <a href="/content/ourstores" class="font-primary font-bold">Check out our stores in USA and India.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
