<section class="userProfile py-3">
    <div class="container">
        <nav aria-label="breadcrumb" class="align-self-center">
            <ol class="breadcrumb pb-0 mb-0">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="/myaccount">My Account</a></li>
                <li class="breadcrumb-item"><a routerLink="/myaccount/orders">My Orders</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{orderdetails.orderID}}</li>
            </ol>
        </nav>
        <!-- <div class="profile-page-title px-3 d-flex justify-content-between background-lightprimary py-3 my-2">
            <h5 class="h5 text-uppercase font-bold">My Orders</h5>
            <h6 class="h6 tex-end">{{custName}}</h6>
        </div> -->
        <app-profile-nav></app-profile-nav>
        <div class="userprofile-body">
            <div class="row mb-3 g-2">
                <div class="col-md-4">
                    <div class="user-order-detail-box card">
                        <div class="card-header">
                            <h6 class="font-semibold h6 font-primary">Delivery Address</h6>
                        </div>
                        <div class="card-body">
                            <p class="font-semibold">{{receipentdetails?.recipientFirstName}}
                                {{receipentdetails?.recipientLastName}}</p>
                            <p class="py-2">{{receipentdetails?.recipientAddress1}} ,
                                {{receipentdetails?.recipientLandMark}}
                                {{receipentdetails?.recipientCityName}} ,
                                {{receipentdetails?.recipientState}}, {{receipentdetails?.countryName}} -
                                {{receipentdetails?.recipientZipCode}}
                            </p>
                            <p><span class="font-semibold">Phone Number:
                                </span><span>{{receipentdetails?.recipientPhone}}</span>,
                                <span>{{receipentdetails?.recipientMobilePhone}}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="user-order-detail-box card">
                        <div class="card-header">
                            <h6 class="font-semibold h6 font-primary">Price details</h6>
                        </div>
                        <div class="card-body">
                            <ng-container>
                                <div class="d-flex justify-content-between border-bottom py-2 w-100">
                                    <span class="font-black"> Delivery charges :</span>
                                    <div>
                                        <span class="icon-inr small"></span>
                                        <span class="font-semibold">{{orderdetails.deliveryTimingRate}}</span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between border-bottom py-2 w-100">
                                    <span class="font-black">Discount </span>
                                    <div>
                                        <span class="icon-inr small"></span>
                                        <span class="font-semibold">{{orderdetails.discountAmount}}</span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between pt-2 w-100">
                                    <span class="font-black">Total </span>
                                    <div>
                                        <span class="icon-inr small"></span>
                                        <span class="font-bold">{{orderdetails.totalAmount}}</span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <!-- <a href="javascript:void(0)" class="d-flex justify-content-between border-bottom py-3 w-100">
                            <span class="font-black">Rate & Review Product</span>
                            <span class="icon-star font-black icomoon"></span>
                        </a> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="user-order-detail-box card">
                        <div class="card-header">
                            <h6 class="font-semibold h6 font-primary">Delivery Status</h6>
                        </div>
                        <div class="card-body">
                            <p class="d-flex justify-content-between border-bottom py-2">
                                <span>Order Date</span>
                                <span class="font-semibold font-green">{{orderdetails?.orderDate | date}}</span>
                            </p>
                            <p class="d-flex justify-content-between border-bottom py-2">
                                <span>Order Status</span>
                                <span class="font-semibold font-green">{{orderdetails?.orderStatus}}</span>
                            </p>
                            <p class="d-flex justify-content-between pt-2">
                                <span>Order Shipped</span>
                                <span class="font-semibold font-green">{{orderdetails?.deliveryDate | date}}</span>
                            </p>
                        </div>

                        <!-- <p class="d-flex justify-content-between border-bottom py-3">
                            <span>Delivered</span>
                            <span class="font-bold font-green">{{orderdetails?.orderStatus}}</span>
                        </p> -->
                    </div>
                </div>
            </div>
            <!-- Order tracking steps -->
            <div class="card mb-2 bg-light.bg-gradient">
                <div class="card-body ordertracking">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="row ">
                            
                            <ng-container *ngFor="let osd of orderstatusdetails">
                                <div class="order-tracking completed" >
                                    <span class="is-complete"></span>
                                    <p>{{osd.orderStatus}}<br></p>
                                </div>
                            </ng-container>
                                <!-- <div class="order-tracking completed">
                                    <span class="is-complete"></span>
                                    <p>Shipped<br><span>Tue, June 25</span></p>
                                </div>
                                <div class="order-tracking completed">
                                    <span class="is-complete"></span>
                                    <p>Delivered<br><span>Fri, June 28</span></p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ order tracking steps-->

            <div class="card">
                <div class="card-header">
                    <h6 class="font-semibold">Products in Order</h6>
                </div>
                <div class="card-body">
                    <div class="row mb-2 border-bottom pb-2" *ngFor="let o of productdetails">
                        <div class="col-md-1 col-3">
                            <a>
                                <img [src]="o.productimage1" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-11 col-9">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="d-flex justify-content-between flex-column user-order-col">
                                        <div>
                                            <p class="small">
                                                <a class="font-black">{{o.productname}}</a>
                                            </p>
                                            <p><small class="font-gray small"><span class="icon-star"></span> Order on
                                                    <span class="font-green font-semibold">{{o.orderDate |
                                                        date}}</span></small>
                                            </p>
                                        </div>
                                        <!-- <div>
                                                        <p><small>Your item has been delivered</small></p>
                                                    </div> -->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="d-flex justify-content-between flex-column user-order-col">
                                        <div>
                                            <div class="price py-2">
                                                <div class="offer-price text-md-end font-semibold">
                                                    <span class="icomoon font-semibold small"
                                                        [class]="currencyClass"></span>{{o.price}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>






        </div>
    </div>
</section>
