<app-header></app-header>
<section class="subpage-login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center d-none d-md-block align-self-center">
                        <!-- <img src="..//src/assets/images/loginbanner02.jpg" alt="" class="img-fluid w-100"> -->
                        <div class="login-keypoints">
                            <div class="keypoint d-flex">
                                <div>
                                    <span class="icon-ribbon icomoon"></span>
                                </div>
                                <article class="text-start align-self-center">
                                    <h5 class="font-semibold">Excellence Delivered</h5>
                                    <p>Trusted since 1993</p>
                                </article>
                            </div>
                            <div class="keypoint d-flex">
                                <div>
                                    <span class="icon-thumbs-up icomoon"></span>
                                </div>
                                <article class="text-start align-self-center">
                                    <h5 class="font-semibold">Two Million +</h5>
                                    <p>Happy Active Customers</p>
                                </article>
                            </div>
                            <div class="keypoint d-flex">
                                <div>
                                    <span class="icon-rating icomoon"></span>
                                </div>
                                <article class="text-start align-self-center">
                                    <h5 class="font-semibold">Your Satisfaction</h5>
                                    <p>is our No.1 priority</p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 align-self-center">
                        <h1 class="h5 font-semibold text-center">Reset Password</h1>

                        <form class="login-form pt-3" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="emailaddress" placeholder="Email address"
                                    formControlName="usrname"
                                    [ngClass]="{'is-invalid' : userForm.get('usrname')!.invalid && userForm.get('usrname')!.touched}">
                                <label for="emailaddress">Email Address <span
                                        class="font-red font-bold">*</span></label>
                                <div *ngIf="submitted && userForm.get('usrname')!.invalid "
                                    class="invalid-feedback mt-0 d-block">

                                    Enter Valid Email Addess
                                </div>
                                <div class="invalid-feedback mt-0 d-block" *ngIf="errmsgstatus || sucessmsgstatus">
                                    {{msg}}

                                    <a *ngIf="sucessmsgstatus" routerLink="/login" class="font-primary font-bold">Sign
                                        In again</a>
                                </div>
                            </div>
                            <button class="color-btn w-100 text-center font-semibold border-0">Reset Password</button>
                            <p class="py-3 text-center small">Already have an Account? <a routerLink="/login"
                                    class="font-primary font-semibold">Sign In</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<router-outlet></router-outlet>
<app-footer></app-footer>