<section class="subpage">
    <div class="list-products-header">
        <div class="custom-container">
            <h1 class="font-extrabold text-uppercase">Send Cakes to Hyderabad <span class="font-regular">25 of 497
                    Cakes</span></h1>
            <p>Choose from our wide range of online cakes to surprise your loved ones on th eir birthda y or any other
                special occasion. Cakes are indeed the best option to make your loved ones feel special. It is an ideal
                way to convey your feelings and emotions to your family members or someone special. </p>

            <div class="filter-links">
                <a href="javascript:void(0)" *ngFor="let Filteritem of Filteritems">
                    <span>{{Filteritem.subcatname}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="list-products-body">
        <div class="custom-container">
            <!-- filters-->
            <div class="products-filters d-flex justify-content-between">
                <div class="d-flex">
                    <nav aria-label="breadcrumb" class="align-self-center">
                        <ol class="breadcrumb pb-0 mb-0">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Hyderabad</a></li>
                            <li class="breadcrumb-item"><a href="#">Cakes</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Birthday Cakes</li>
                        </ol>
                    </nav>
                    <div class="filter-dropdowns d-flex ps-5 align-self-center">
                        <div class="d-flex">
                            <span class="align-self-center">Filter by Price</span>
                            <div class="dropdown ms-2">
                                <button class="dropdown-toggle" type="button" id="multiselectDropdown"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Rs:500-999
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="multiselectDropdown">
                                    <li><button class="dropdown-item" *ngFor="let item of dropdownItems">
                                            <input type="checkbox" [ngModel]="selectedItems.includes(item)" (ngModelChange)="toggleSelection(item)">
                                            <span class="ps-1 d-inline-block">{{ item.text }}</span></button></li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex ps-3">
                            <span class="align-self-center">Filter by Weight</span>
                            <div class="dropdown ms-2">
                                <button class="dropdown-toggle" type="button" id="dropdownMenu2"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    500g - 1kg
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <li><button class="dropdown-item" type="button"><input type="checkbox"><span
                                                class="ps-1 d-inline-block">1kg - 2kg</span></button></li>
                                    <li><button class="dropdown-item" type="button"><input type="checkbox"><span
                                                class="ps-1 d-inline-block">2kg - 3kg</span></button></li>
                                    <li><button class="dropdown-item" type="button"><input type="checkbox"><span
                                                class="ps-1 d-inline-block">3kg - 4kg</span></button></li>
                                    <li><button class="dropdown-item" type="button"><input type="checkbox"><span
                                                class="ps-1 d-inline-block">4kg - 5kg</span></button></li>
                                    <li><button class="dropdown-item" type="button"><input type="checkbox"><span
                                                class="ps-1 d-inline-block">5kg - 6kg</span></button></li>
                                    <li><button class="dropdown-item" type="button"><input type="checkbox"><span
                                                class="ps-1 d-inline-block">6kg - 7kg</span></button></li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex ps-3">
                            <span class="align-self-center">Filter by Flavor</span>
                            <div class="dropdown ms-2">
                                <button class="dropdown-toggle" type="button" id="dropdownMenu2"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Apple
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <li><button class="dropdown-item" type="button"><input type="checkbox"><span
                                                class="ps-1 d-inline-block">Vanila Cakes</span></button></li>
                                    <li><button class="dropdown-item" type="button"><input type="checkbox"><span
                                                class="ps-1 d-inline-block">Chocolate</span></button></li>
                                    <li><button class="dropdown-item" type="button"><input type="checkbox"><span
                                                class="ps-1 d-inline-block">Pineapple</span></button></li>
                                    <li><button class="dropdown-item" type="button"><input type="checkbox"><span
                                                class="ps-1 d-inline-block">Red Velvet</span></button></li>
                                    <li><button class="dropdown-item" type="button"><input type="checkbox"><span
                                                class="ps-1 d-inline-block">Black Forest</span></button></li>
                                    <li><button class="dropdown-item" type="button"><input type="checkbox"><span
                                                class="ps-1 d-inline-block">Fruit Cakes</span></button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-dropdowns">
                    <div class="d-flex">
                        <span class="align-self-center">Sort By</span>
                        <div class="dropdown ms-2">
                            <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Recommended
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><button class="dropdown-item" type="button"><span class="ps-1 d-inline-block">New
                                            Arrival</span></button></li>
                                <li><button class="dropdown-item" type="button"><span class="ps-1 d-inline-block">Price
                                            Low to High</span></button></li>
                                <li><button class="dropdown-item" type="button"><span class="ps-1 d-inline-block">Price
                                            High to Low</span></button></li>
                                <li><button class="dropdown-item" type="button"><span
                                            class="ps-1 d-inline-block">Popular</span></button></li>
                                <li><button class="dropdown-item" type="button"><span class="ps-1 d-inline-block">Best
                                            Sellers</span></button></li>
                                <li><button class="dropdown-item" type="button"><span
                                            class="ps-1 d-inline-block">Premium</span></button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ filters-->
            <div class="products-list-items">
                <div class="row row-flex">
                    <div class="col-md-3 mb-4" *ngFor="let productitem of productvalues">
                        <app-product-item [Productvalue]="productitem" class="app-product-col"></app-product-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>