@import "../../../styles/styles";

.list-products-body {
  .products-filters {
    padding: 15px 0;
    font-size: $fsize - 2;

    .filter-dropdowns {
      button.dropdown-toggle {
        background: none;
        padding: 3px 7px;
        border-radius: 5px;
        border: 1px solid map-get($colors, gray);
        font-size: $fsize - 1;

        @include max(map-get($breakpoints, "sm")) {
          padding: 2px 5px;
          width: 100%;
        }
      }
      .item-filter-dropdown {
        @include max(map-get($breakpoints, "sm")) {
          width: 22%;
          margin-right: 10px;
        }
      }
      .dropdown-item {
        cursor: pointer;
        font-size: $fsize - 1;

        &:active {
          background: none;
        }
      }
    }
  }
}
.products-list-items {
  .app-product-col {
    margin-bottom: 25px;
  }
}

.pagenavrow {
  padding: 45px 0;
  color: map-get($colors, black);

  .page-item {
    background: map-get($colors, white);
    margin: 0 3px;

    .page-link {
      border-radius: 4px;
      color: map-get($colors, black);
      font-size: $fsize - 1;

      &:hover {
        background: map-get($colors, primary);
        color: map-get($colors, white);
      }
    }
  }
  .active {
    .page-link {
      background: map-get($colors, primary);
      color: map-get($colors, white);
      border-color: map-get($colors, primary);
    }
  }
}

.filters-display {
  a {
    background: map-get($colors, lightgray);
    padding: 10px;
    color: map-get($colors, black);
    margin-right: 10px;
    font-size: $fsize - 2;
    display: inline-block;
    cursor: pointer;

    .icomoon {
      font-size: $fsize - 4;
      margin-right: 10px;
    }
  }
}

.breadcrumb-item {
  font-size: $fsize - 2;
  a {
    cursor: pointer;
    &:hover {
      color: #bf0067 !important;
    }
  }
}

.loadmore {
  color: map-get($colors, white);
  font-weight: 600;
  cursor: pointer;
}
