<!-- <app-header></app-header> -->
<section class="userProfile py-3">
    <div class="container">
        <nav aria-label="breadcrumb" class="align-self-center">
            <ol class="breadcrumb pb-0 mb-0">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="/myaccount">My Account</a></li>
                <li class="breadcrumb-item active" aria-current="page">Co Wallet</li>
            </ol>
        </nav>
        <!-- <div class="profile-page-title px-3 d-flex justify-content-between background-lightprimary py-3 my-2">
            <h5 class="h5 text-uppercase font-bold">CoWallet</h5>
            <h6 class="h6 tex-end">Hi, {{custName}}</h6>
        </div> -->
        <app-profile-nav></app-profile-nav>
        <div class="userprofile-body">
            <div class="text-center">
                <h6 class="font-white bg-info p-2 d-inline-block rounded">Total Wallet  Amount: <span
                        class="icomoon icon-inr h6 small"></span>{{coWalletAmount}}</h6>
            </div>
            <div class="table-responsive pt-4">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>
                                Transaction Date
                            </th>
                            <th>
                                Order Id
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let wallet of cowalletdata">
                            <td>{{wallet.updatedDate | date}}</td>
                            <td>{{wallet.orderID}}</td>
                            <td>{{wallet.typeofDeposite}}</td>
                            <td> <ng-container  *ngIf="wallet.typeofDeposite != 'Paid for Order'">+</ng-container>
                                <ng-container *ngIf="wallet.typeofDeposite == 'Paid for Order'">-</ng-container>
                                <span class="icomoon icon-inr small"></span> {{wallet.wallet}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- <app-footer></app-footer> -->