<section class="subpage">
    <div class="container">
        <!-- bread crumb-->
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="align-self-center py-3">
                    <ol class="breadcrumb pb-0 mb-0">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Notifications</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--/ bread crumb-->
        <div class="static-page">
            <h1 class="h3 font-bold font-primary pb-3">Notifications</h1>
            <!-- card -->
            <div class="card shadow mb-3 border-0" *ngFor="let i of allNotifications">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <img [src]="i.imageURL" class="img-fluid w-100 mb-2" />
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <article class="pb-2">
                                <p>{{i.message}}</p>
                                <p class="pb-0"><a [attr.href]="i.linkURL">Click here for more details</a></p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ card-->
        </div>
    </div>
</section>
