.subpage {
  padding: 20px 20px;
  background-color: aliceblue
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.menu li img {
  /* Hide the alt text */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


.row {
  display: flex;
  flex-wrap: wrap;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.static-page {
  padding: 20px;
}

.text {
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  width:300px;
  height: auto;
}

@media (max-width: 767px) {
  .row {
    flex-direction: column;
  }

  .col-12,
  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
