<section class="subpage">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="image-container text-center">
          <img src="assets/images/errorimg.png" alt="" class="image">
        </div>
        <div class="static-page">
          <div class="text text-center">
            <h1 class="pb-2">Page Not Found</h1>
            <p>We can't seem to find the page you're looking for. Please check the URL for any typos.</p>
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link" href="https://countryoven.com">Go to Home page</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://countryoven.com/cakes/hyderabad/online-delivery">Cakes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://countryoven.com/flowers/hyderabad/online-delivery">Flowers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://countryoven.com/order/hyderabad/mugs-online">Personalized Gifts</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 order-md-2">
       
      </div>
    </div>
  </div>
</section>
