<div class="row d-none d-md-block">
  <div class="col-md-12 terms-content">
    <h1 class="h3 font-bold font-primary pb-2">Countryoven.com India’s first and #1 E-com Cake Shoppe</h1>
    <p>Welcome to CountryOven India - for your one-of-a-kind lock for online cakes and flower gifts! We are happy to provide you with a stunning range of cakes, gifts and wreaths for all your exact functions.</p>

    <p>At CountyOven, we understand the importance of making unforgettable, lively moments the end of all behavior. That’s why we offer you a huge array of delicious food for online delivery, pre-arranged floral arrangements, and considered gift plans for online delivery to make the whole event unique. </p>

    <p>Our menus are made with love and passion, using the skills of our professional bakers who use the best awesome first-hand ingredients. From classic sweets like vanilla, chocolate, and strawberry to flavors like blueberries, red velvet, and black parts of the tree, we were given something for every flavor bud- in each of these. We are additionally offering a number of egg-free and sugar-free cakes for our fitness-conscious customers. </p>

    <p>Our floral displays have been created through the professionalism of our professional florists, who look exquisitely detailed and aesthetically pleasing. We offer several fresh flowers that are rare online that are handpicked and carefully arranged to create beautiful wreaths and arrangements. </p>

    <p> At CountryOven , we care approximately gift pride , and our current hampers are the exact manner to make your love and appreciation special . From custom designed present hampers to curated gift baskets, we’ve got a collection extensive collection to match everybody in their fashion and finances. </p>

    <p>We pleasure ourselves on our exquisite customer service and strive to make sure that each customer has a superb experience shopping for from us. Our clean to navigate internet site and secure checkout allow you to vicinity your order on line from the comfort of your house. </p>

    <p>So, whether or not you want to ship cakes online, send gifts on-line, birthday desserts, anniversary items, or excursion hampers, CountryOven has got you included. Let us be part of your celebrations and create unforgettable memories with our cakes, vegetation and gifts. </p>


    <div *ngIf="showMore">
      <h2>Add Flavor to life by gifting your loved one’s a cake with variety of flavors </h2>
      <p>Celebrate your seasons and put a bit greater life-style on top by means of treating our loved ones to delicious cakes from our bakery. </p>

      <p><b>Classic flavors</b> - those are the attempted and tested flavors that everyone loves. Our traditional cake flavors are <b>vanilla, chocolate, and strawberry</b>. These cakes are extremely good for people who like a simple yet delicious cake. </p>

      <p><b>Taste other tales</b> - For people who like to check their flavor buds, we offer a amazing selection of desserts. Our other famous sweets consist of <b>velvet blue, crimson, black forest, and lemon</b>. This cake is ideal for folks that need to try something new and delicious. </p>

      <p><b>nut flavors </b> - in case you love nut flavors, we have just the cake for you. Our black cake capabilities neighborhood flavors which includes <b>almond, pistachio, and hazelnut</b>. These desserts are wonderful for those who like their cakes with a bit of crunch and texture. </p>

      <p><b>Fruit flavors </b> - For folks who love candy and savory fruit desserts, we offer a huge kind of fruit flavors consisting of <b>pineapple, mango, and grapefruit </b> ma These cakes are perfect for those who like candy and fresh fruit flavors. </p>

      <p><b>Designer Cakes</b> - Our fashion designer cakes are perfect for individuals who want a unique personalised cake. From picture desserts to themed desserts, we can make cakes to fit your layout. Whether you need to order a cake that displays your character or a cake that celebrates a unique occasion, our cake makers are certain to affect. </p>

      <p> Whatever your taste desire, we've got a cake flavor to thrill. We agree with that every occasion merits a unique cake, and we are dedicated to making desserts that aren't only the high-quality, but additionally top notch. So cross beforehand and discover our big range of cake flavors. Find a steak cake and order a cake on-line to your unique event! </p>

      <h3>Your occasions will be memorable by CountryOven’s unforgettable Service with Love </h3>
      <p>Special events for various activities and how we at CountryOven can help make them memorable: </p>

      <p><b>Birthdays</b> - a birthday is one of the maximum special events, and a birthday the cake is a ought to. At CountryOven, we offer a variety of birthday desserts with distinctive flavors and textures. From personalised image desserts to themed desserts, we've got something for anybody. Our desserts are not most effective scrumptious however additionally glamorous and are certain to make the one that you love’s birthday memorable. Buy birthday cakes online with our quality transport services. </p>

      <p><b> Anniversary Celebrations </b>- Anniversary is a celebration of affection and togetherness, and what higher manner to have a good time than with a scrumptious cake and some sparkling flowers? At CountryOven, we offer a wide variety of anniversary desserts which are best for the event. From coronary heart fashioned cakes to round desserts, we have something for each couple. Order cakes on line for instant shipping and We also set up plant life for giving that are particularly designed for anniversaries and will add a romantic touch to the birthday party. </p>

      <p><b>Valentine's Day </b> - Valentine's Day is all approximately showing love, and what better way to do that than with beautiful flora and a delicious cake? At CountryOven, we offer unique Valentine’s Day cakes and flower displays with a purpose to absolutely surprise your beloved. Whether you want a heart shaped cake or a pink rose, we've it all. Order cake on line and get shipping fast. Order cakes online now for quick and convenient transport of cakes close to you or different places. </p>

      <p><b>Holidays</b> - The holidays are a time for fun and enjoyment, and no vacation is complete without a few candy treats. At CountryOven, we provide plenty of unique competition and gift menus ideal for the occasion. Be it Diwali, Christmas or Eid, we have some thing for every occasion. Our groceries and modern-day hampers aren't only delicious however additionally superbly packaged, making them the exact gift for your family. </p>

      <p>We know the significance of creating reminiscences that ultimate a lifetime, that is why we try to make every event unique for our clients . . . . Our candies, wreaths, and present hampers aren’t just merchandise, they’re expressions of affection and appreciation. So skip beforehand and discover our products and make your next occasion a memorable one through using online ordering! </p>

      <h3>CountryOven’s Fixed delivery, sameday delivery and instant delivery </h3>
      <p>At CountryOven, we provide bendy shipping alternatives to make certain your order receives to you in a timely way. </p>

      <p>Here are our specific transport alternatives: </p>

      <p><b>Same day transport </b>– Need to order a cake on line or flower shipping speedy? Our identical day delivery choice is perfect for you. Just area your order on-line earlier than the reduce-off time and we can ship your order the equal day. We recognize that now and again you could need a ultimate-minute gift, which is why we offer same-day items to make certain you in no way pass over an opportunity to make a person sense special. </p>

      <p><b>Fixed delivery time</b> - If you want your order added within a selected time body, we provide particular transport instances. You can select a time that suits you, and we are able to make sure your order is added on time. This approach is ideal for marvel parties or occasions in which you want the cake or plant life to arrive at a positive time. </p>

      <p><b>Immediate Delivery</b> - In a rush? We offer instantaneous delivery of decided on objects in decided on towns. If you ship your cake or flowers proper away, you may have your cake or vegetation brought inside hours of ordering. This alternative is best for people who want a short present however don’t have time to shop for one. </p>

      <p>We additionally offer a few gadgets and some orders without cost, making it even easier to send items to your family online. </p>

      <p>At CountryOven, we trust that on-time transport is as critical because the quality of the product itself. That’s why we make certain your order is introduced on time, on every occasion. So, cross in advance and location your order online, and depart the rest to us! </p>

      <h3>Exclusive CountryOven Products </h3>
      <p>At CountryOven, we provide a huge variety of unique products which you won’t discover everywhere else. These merchandise had been particularly designed by using using our skilled bakers and florists, the use of the finest substances and substances. </p>

      <p>Here are some of our incredible merchandise: </p>

      <p><b>Signature Cakes</b> - Our signature cakes are our favorite products. These cakes are made with the best brilliant elements and are to be had in pretty some flavors and textures. Our expert bakers create precise and scrumptious desserts which might be certain to affect. </p>

      <p><b>Flower Combos</b> - Our flower mixtures are the right way to expose your love and care. These combos encompass some pretty plants, and a delicious cake or chocolate. You can pick notable combos to suit your taste and budget. </p>

      <p><b>Customized Gifts</b> - We offer hundreds of personalised presents for online shipping that you may customize. You can choose designs, messages, and add-ons to create precise and noteworthy presents for your circle of relatives. </p>

      <p><b>Gift Hampers</b> - Our present hampers are the proper manner to surprise and satisfaction your family. These hampers encompass gives, together with cakes, sweets, flora, and extra. You can pick out from a variety of bog down styles to fit your pursuits and fee variety. </p>

      <p><b>Cupcakes</b> - Our cupcakes are satisfactory for any occasion, whether or not it's a birthday, anniversary, or just a special deal with for your self. These desserts are to be had in an entire lot of flavors and textures and are made with the identical high first-class materials as our signature cakes. </p>

      <p>At CountryOven, we are constantly adding new and terrific merchandise to our line-up. We are devoted to supplying our clients with the wonderful services and products, and we take outstanding satisfaction in our unique merchandise. So, the subsequent time you’re seeking to order a totally precise and memorable present on-line, appearance no in addition than CountryOven. </p>

      <h4>#1 Bakery Goods Provided by CountryOven </h4>
      <p> At CountryOven , we delight ourselves on our bakeries , which might be made with the exceptional first-class components and made with care by means of manner of our professional bakers . From our breads and pastries to our desserts and cookies, the entirety is made smooth and taken to your doorstep with the maximum care. Here are a number of our maximum popular bakery merchandise: </p>

      <p><b>desserts</b> - our cakes are made with the best additives, together with sparkling cream, critical oils, . And right chocolate . We provide a extensive range of merchandise, from classic vanilla and chocolate to unique combos in conjunction with purple velvet and blue cheese. Our desserts are available in a number of sizes, shapes and designs, so you can deliver the proper cake on-line any day. Order cake online and get shipping fast. </p>

      <p><b>Cups</b> - our cupcakes are perfect for any occasion, whether or now not it's miles a birthday, an anniversary, or simply a unique address for yourself. We provide pretty some flavors, collectively with traditional vanilla, chocolate, and pink velvet, similarly to area of expertise flavors like blue and Oreo. Our cupcakes are embellished with buttercream frosting and crowned with sprinkles, fruit or different candy treats. Order cookies on line, fast shipping </p>

      <p><b>breads</b> - Our breads are made every day, easy every day, starting from traditional white and wheat to artisan clean dough and French baguette We use handiest the best substances, along with best flour, yeast and salt, to make sure each loaf of bread is glowing, to be terrific, to be valuable. Order breads on-line , get delivery proper now </p>

      <p><b>Pastries</b> - our pastries are crafted from buttery dough this is crispy and complete of scrumptious fillings which incorporates chocolate, fruit, and nuts. We provide lots of pastries, such as croissants, Danishes and turnovers, best for breakfast or a snack at any time of the day. Order pastries online and feature them delivered rapid </p>

      <p><b>Cookies</b> - Our cookies are made with the incredible additives, together with actual butter, nice chocolate, and clean milk . . . . We offer a number of flavors, inclusive of traditional chocolate, oatmeal raisin, and peanut butter, as well as particular flavors like lemon and snickerdoodle. Our cookies are ideal for a sweet deal with or as a gift for someone special. Order Cookies Online and Fast Delivery </p>

      <p> At CountryOven, we're devoted to offering the great bakery merchandise and provider to our customers. We take excellent delight in our products and are constantly innovating and enhancing to satisfy the desires of our customers. So whether or not you want to order a cake online for a special event or a baguette on your next night meal, you could remember CountryOven to deliver glowing produce. </p>


      <h4>Large Variety of CountryOven Cakes</h4>

      <p> At CountryOven , we provide a enormous variety of cakes, each with its very own best taste and texture. From conventional vanilla and chocolate cakes to best desserts like bleuberry cheesecake and pink velvet, we’ve had been given something to match each taste and event. </p> <p>Here are a number of our maximum popular desserts: </p>

      <p><b> Chocolate Cake</b> - Chocolate cake is a conventional favored of ours , and it counts of our favorite cakes . Made with a rich, wet chocolate sponge cake and served with a smooth chocolate ganache, our chocolate cake is clearly tolerable for any chocolate lover. </p>

      <p><b>Vanilla Cake</b> - our vanilla cake is a lovely custom cake that is good for everyday. Made from a soft, fluffy sponge cake and crowned with a creamy vanilla frosting, our vanilla cake is a timeless tradition this is in no manner extremely-cutting-edge. </p>

      <p><b>Red Iron Cake </b> - Red rabbit cake is a Southern culture that has seemingly grown in recognition in contemporary times. Our red velvet cake is crafted from a thick, moist sponge cake with wealthy red meals coloring and served with a cream cheese sauce. </p>

      <p><b>Fruit Cake</b> - A scrumptious and festive fruit cake desired for similarly events, together with weddings and Christmas. Our fruit cakes are crafted from rich, moist sponge cakes filled with dried stop fruit, nuts and spices, soaked in rum or brandy for an delivered flavor. </p>

      <p><b> Cheesecake </b> - Cheesecake is a thick and creamy dessert that is right for regular. Our cheesecake consists of a buttery graham cracker crust and a smooth, creamy filling blended with fruit, chocolate or precise toppings of your desire. </p>

      <p><b>Designer Cakes</b> - Designer desserts are a very precise and innovative manner to entertain on any occasion. Our expert bakers can create custom art work for any concern remember, from cartoon characters and superheroes to lovely floral art work and problematic designs. </p>

      <p> At CountryOven , we are dedicated to the usage of the very pleasant nice elements in our cakes, and our expert bakers take tremendous care in baking each cake a delight in detail come and endure them. Whether you are celebrating a birthday, marriage ceremony, or a specific occasion, we’ve have been given a cake to fit your taste and make your birthday celebration the maximum memorable. </p>

      <h3>
        Gifting of Flowers by CountryOven
      </h3>
      <p>In fact, at CountryOven we offer a huge sort of plants for gifting, each organized uniquely and superbly to in shape any occasion. </p> 

      <p>Here are a number of our maximum well-known floral arrangements: </p>
      <p><b>Flowers</b> - Flowers are a common and famous sort of flower for gifting. Our bouquets feature sparkling, hand-decided on bouquets organized in lots of styles, including round bouquets, cascading bouquets, hand-tied bouquets and we offer some of bouquets for plants, including roses, lilies, carnations and orchids are included. Order a few plant life on-line for brief transport. </p> 

      <p><b>Vash preparations</b> - Another popular way to offer provides is with vase preparations, specifically for activities like housewarming, anniversaries, or to expose consolation This is the right gift Send the vase association on-line and get it brought speedy. </p> 

      <p><b>Bouquets</b> - Bouquets are a outstanding way to send flora as objects for any occasion. Our bouquets feature a aggregate of sparkling, seasonal vegetation organized in a wicker basket, making them the right present for a birthday, short relief, or simply to liven up the day. Order bouquets online for brief shipping. </p> 

      <p><b>Flower Box</b> - Flower containers are a unique and stylish way to ship flora as gives. Our flower boxes feature a combination of clean flowers organized in a elegant field, making them the right gift for Mother's Day, Valentine's Day, or any specific occasion. Order flower bins on line and feature them introduced brief. </p>

      <p><b>Floral Wreaths</b> - Floral wreaths are a traditional way to express condolences and pay respects to a loved one who has passed away. Our floral wreaths feature fresh, hand-picked flowers arranged in a circular shape and can be customized to include specific flowers and colors. Send Floral wreaths online and get the delivery soon. </p>


      <p>At CountryOwen, we are proud to offer only the freshest and most beautiful flowers for gifting. Our skilled florists take great care with attention to detail and care and design each floral arrangement, ensuring that your gift is presented with a smile and leaves a lasting impression on the recipient. </p>

      <h3>CountryOven also provides Large Variety of Premium Chocolates </h3>

      <p>At CountyOven, we offer some of chocolates, every with their private particular flavors and textures. Whether you’re searching out a sweet address to take delight in or a thoughtful present for someone unique, we have were given some thing to healthful each taste and event. </p>
      <p><b>Milk Chocolate</b> - Milk chocolate is a traditional desired and one of our favourite goodies. Made from a mixture of difficult cocoas, milk powder and sugar, milk chocolate is easy and creamy and melts for your mouth. Order milk sweets on line and get immediately transport. </p>

      <p><b>Chocolate Darkness</b> - Dark chocolate is a herbal and decadent deal with, perfect for chocolate fans who like to revel in the depth of flavor. Made with a better percent of difficult cocoa and lots much less sugar than milk chocolate, darkish chocolate has a slightly sweeter taste and a extra severe flavor. Order Dark goodies online and get without delay delivery. </p>

      <p><b> White Chocolate </b> - White chocolate is a deal with made with cocoa butter, milk powder, and sugar. Despite no longer having any difficult cocoa, white chocolate has a wealthy and attractive texture, ideal for people who pick out sweetness. Order chocolate whites on line and get instantaneous transport. </p>

      <p><b>Truffles</b> - cakes are a scrumptious and a laugh sort of chocolate, perfect for a present. Our cakes are served with a wealthy and creamy ganache center included in chocolate and dusted with cocoa powder or different toppings. Order desserts on line and get on the spot transport. </p>

      <p><b>Chocolates</b> - Chocolates are the oldest and easiest manner to enjoy chocolate on the skip. Our sweets are to be had quite a few flavors and textures, together with milk chocolate, darkish chocolate, and white chocolate, similarly to different flavors like hazelnut, almond and fruit. Order chocolate bars online and get fast transport. </p>

      <p><b>Variety of Chocolate</b> - Varieties of chocolate are the perfect way to investigate exquisite flavors and textures of chocolate. Our huge kind of chocolate boxes are available in a whole lot of sizes and comprise a combination of milk chocolate, dark chocolate, white chocolate, truffles, and extra, making it the proper present for any occasion. Order Chocolate Assorted online and get right now shipping. </p>

      <p>At CountryOven , we're dedicated to using excellent the finest factors in our candies, and our chocolatiers take great care in crafting each chocolate with interest to element and care sausage . Whether you’re looking for a cope with to bask in or a considerate present for a person unique, we've got a huge choice of sweets to fit your goals and satisfy your sweet tooth. Order on-line and get rapid transport. </p>


      <h4>CountryOven Physical Outlets Provides You Eye Feast Of Experience in the World of Bakery </h4>

      <p>At CountryOven, we have multiple outlets across Hyderabad at <b>Ameerpet, Madhapur, and Srinagar Colony.</b> Our outlets are designed to provide a comfortable and convenient shopping experience for our customers.</p>

      <p><b>Here are some of the features of our outlets: </b></p>
      <p><b>Wide range of products</b> - Our outlets stock a wide range of products, including cakes, flowers, chocolates, and gift hampers. You can browse through our products and choose the perfect gift for your loved ones. </p>

      <p><b>Customization options </b>- We understand that everyone has different preferences, and that's why we offer customization options for our cakes and flowers. You can choose the flavor, design, and size of the cake, or the type and color of the flowers to create a personalized gift for your loved ones. </p>

      <p><b>Expert advice</b> - Our staff at the outlets are experts in their field and can provide you with expert advice on choosing the right product for your occasion. They can help you choose the perfect cake or flowers to suit your taste and budget. </p>
      <p><b>Easy payment options</b> - We offer multiple payment options at our outlets, including cash, credit/debit cards, and online payment options. You can choose the payment option that is most convenient for you. </p>

      <p>In addition to our physical outlets, we also offer online ordering options for those who prefer to shop from the comfort of their homes. You can browse through our products, choose the perfect gift, and place your order online. We offer the same great products and services online as we do in our physical outlets. </p>

      <p>So, whether you prefer to shop in-store or online, we have you covered. Visit one of our outlets in <b>Ameerpet, Madhapur, or Srinagar Colony</b>, or place your order online and let us take care of the rest! </p>

      <h4>CountryOven Serving Since 1993 With All Love and Making Occasions Memorable </h4>

      <p>At CountryOven, our motto is "The Love We've Served Since 1993". We agree with that each gift we create is an expression of love and care. We had been serving our clients for over 30 years, and in the path of this time, we have perfected the art of making gadgets that mirror your feelings and emotions. </p>
      <p>We take excellent delight in our consumer pride. We understand that our customers trust us to supply the proper present to their cherished ones, and we try to exceed their expectancies each time. Our team of professionals make certain that every present is made with the first-class terrific substances and the utmost care. We use handiest the freshest plants and the exceptional substances to make certain each gift is a satisfaction for the senses. </p>

      <p>We are committed to imparting our customers with the exceptional feasible buying revel in. We have a dedicated customer service organization to be had to answer any questions or worries. We moreover provide smooth returns and refunds if you aren't definitely satisfied with your order. </p>

      <p>At CountryOven, we consider that patron satisfaction is the crucial element to our fulfillment. That’s why we move above and past to make certain our customers are glad with their orders. We take top notch satisfaction inside the high best remarks from our customers, and are constantly striving to beautify our products and services. </p>

      <p>So, in case you are looking for to reserve an internet gift that shows your love and care, appearance no in addition than CountryOven. We guarantee that your loved ones will love your gift, and you may revel in your shopping enjoy. </p>

    </div>
    <div class="row justify-content-end">
      <div class="col-md-4 text-end">
        <button (click)="toggleShowMore()" type="button" class="btn btn-link font-primary">
          {{ showMore ? 'Show Less' : 'Show More' }}
        </button>
      </div>
    </div>
  </div>
</div>
