<section class="subpage">
  <div class="list-products-header">
    <div class="custom-container">
      <div class="row justify-content-between">
        <div class="col-md-10">
          <h1 class="font-extrabold text-uppercase">
            Order Parent's Day Gifts Online
          </h1>
          <p>
            Pick from the plethora of creative and custom gifts for Parents Day at Country Oven. Express luv has a variety of thoughtful gifts including cakes,
            customised mugs, gift vochers and beautiful flowers to wow your parent’s this Parent’s Day. Order Now! assure delivery. A Premium Cake Shoppe.
          </p>
          <div class="filter-links">
            <a class="brd-link a-color" href="send/hyderabad/birthday-gifts-online">Birthday Gifts</a>
            <a class="brd-link a-color" href="send/hyderabad/anniversary-gifts-online">Anniversary Gifts</a>
            <a class="brd-link a-color" href="send/hyderabad/wedding-gifts-online">Wedding Gifts</a>
            <a class="brd-link a-color" href="send/hyderabad/congratulations-gifts-online">Congratulations Gifts</a>
          </div>
        </div>
        <div class="col-md-2">
          <!-- rating-->
          <div class="rating-specialpage float-md-end">
            <div class="top_rating p-2 bg-white border rounded">
              <div class="pb-1"><span _ngcontent-ng-c3458024816="" class="icon-star font-primary"></span> <span class="font-bold"> 4.8 </span>  <span class="small">/ 187 reviews</span></div>
              <div class="pt-1 border-top text-center">
                <span class="d-inline-block  small">20 Products</span>
              </div>
            </div>
          </div>
          <!--/rating-->
        </div>
      </div>

    </div>
  </div>
  <div class="list-products-body">
    <div class="custom-container">

      <div class="d-md-flex p-2 ps-0 ">
        <nav aria-label="breadcrumb" class="align-self-center pe-3">
          <ol class="breadcrumb pb-0 mb-0">
            <li class="breadcrumb-item homebreadcrumb"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Parent's Day Gifts</li>
          </ol>
        </nav>
        <!--<div class="d-flex justify-content-between mt-2 mt-md-0">
          <h6 class="p-2 ps-0">
          </h6>
        </div>-->

      </div>

      <div class="products-list-items">
        <div class="row g-2">
          <div class="col-md-3 col-6">
            <div class="app-product-item">
              <figure class="product-item-figure">
                <a href="https://www.countryoven.com/hyderabad/send-online/tasty-mangolicious-cake">
                  <img  src="https://countryoven.com/productimages/small/tasty-mangolicious-cake.jpg" alt="Tasty Mangolicious Cake" title="Tasty Mangolicious Cake" class="img-fluid w-100">
                </a>
              </figure>
              <div class="item-title p-2 p-md-3 bg-white">
                <h5>
                  <a href="https://www.countryoven.com/hyderabad/send-online/tasty-mangolicious-cake">Tasty Mangolicious Cake</a>
                </h5>
                <div class="price d-flex py-md-2 border-bottom justify-content-between">
                  <div class="offer-price font-semibold">
                    <span class="icomoon font-semibold icon-inr"></span>1199
                  </div>
                  <div class="pb-1"><span _ngcontent-ng-c3458024816="" class="icon-star font-primary"></span> <span class="small">&nbsp; 4.9 /</span>  <span class="small">(23)</span></div>
                </div>
                <div class="d-flex justify-content-between pt-2 item-footer">
                  <div>
                    <p><span class="font-semibold">1 Kg</span></p>
                  </div>
                  <div class="deliver-date">
                    <p class="font-semibold">
                      <span class="me-0 icon-calendar icomoon"></span> &nbsp;
                      <span>Today</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="app-product-item">
              <figure class="product-item-figure">
                <a href="https://www.countryoven.com/hyderabad/send-online/swirl-butterscotch-cake">
                  <img  src="https://countryoven.com/productimages/small/swirl-butterscotch-cake.jpg" alt="Swirl Butterscotch Cake" title="Swirl Butterscotch Cake" class="img-fluid w-100">
                </a>
              </figure>
              <div class="item-title p-2 p-md-3 bg-white">
                <h5>
                  <a href="https://www.countryoven.com/hyderabad/send-online/swirl-butterscotch-cake"> Swirl Butterscotch Cake</a>
                </h5>
                <div class="price d-flex py-md-2 border-bottom">
                  <div class="offer-price font-semibold">
                    <span class="icomoon font-semibold icon-inr"></span>1299
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-2 item-footer">
                  <div>
                    <p><span class="font-semibold">1 Kg</span></p>
                  </div>
                  <div class="deliver-date">
                    <p class="font-semibold">
                      <span class="me-0 icon-calendar icomoon"></span> &nbsp;
                      <span>Today</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-3 col-6">
            <div class="app-product-item">
              <figure class="product-item-figure">
                <a href="https://www.countryoven.com/hyderabad/send-online/blasty-blueberry-cake">
                  <img  src="https://countryoven.com/productimages/small/blasty-blueberry-cake.jpg" alt="Blasty Blueberry Cake" title="Blasty Blueberry Cake" class="img-fluid w-100">
                </a>
              </figure>
              <div class="item-title p-2 p-md-3 bg-white">
                <h5>
                  <a href="https://www.countryoven.com/hyderabad/send-online/blasty-blueberry-cake">Blasty Blueberry Cake</a>
                </h5>
                <div class="price d-flex py-md-2 border-bottom">
                  <div class="offer-price font-semibold">
                    <span class="icomoon font-semibold icon-inr"></span>1299
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-2 item-footer">
                  <div>
                    <p><span class="font-semibold">1 Kg</span></p>
                  </div>
                  <div class="deliver-date">
                    <p class="font-semibold">
                      <span class="me-0 icon-calendar icomoon"></span> &nbsp;
                      <span>Today</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="app-product-item">
              <figure class="product-item-figure">
                <a href="https://www.countryoven.com/hyderabad/send-online/supreme-caramel-cake">
                  <img  src="https://countryoven.com/productimages/small/supreme-caramel-cake.jpg" alt="Supreme Caramel Cake" title="Supreme Caramel Cake" class="img-fluid w-100">
                </a>
              </figure>
              <div class="item-title p-2 p-md-3 bg-white">
                <h5>
                  <a href="https://www.countryoven.com/hyderabad/send-online/supreme-caramel-cake"> Supreme Caramel Cake</a>
                </h5>
                <div class="price d-flex py-md-2 border-bottom">
                  <div class="offer-price font-semibold">
                    <span class="icomoon font-semibold icon-inr"></span>1299
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-2 item-footer">
                  <div>
                    <p><span class="font-semibold">1 Kg</span></p>
                  </div>
                  <div class="deliver-date">
                    <p class="font-semibold">
                      <span class="me-0 icon-calendar icomoon"></span> &nbsp;
                      <span>Today</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-3 col-6">
            <div class="app-product-item">
              <figure class="product-item-figure">
                <a href="https://www.countryoven.com/hyderabad/send-online/chocolate-photo-cake-2-kg">
                  <img  src="https://countryoven.com/productimages/small/chocolate-photo-cake-2-kg.jpg" alt="Chocolate Photo Cake 2 Kg" title="Chocolate Photo Cake 2 Kg" class="img-fluid w-100">
                </a>
              </figure>
              <div class="item-title p-2 p-md-3 bg-white">
                <h5>
                  <a href="https://www.countryoven.com/hyderabad/send-online/chocolate-photo-cake-2-kg">Chocolate Photo Cake 2 Kg</a>
                </h5>
                <div class="price d-flex py-md-2 border-bottom">
                  <div class="offer-price font-semibold">
                    <span class="icomoon font-semibold icon-inr"></span>2360
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-2 item-footer">
                  <div>
                    <p><span class="font-semibold">2 kg</span></p>
                  </div>
                  <div class="deliver-date">
                    <p class="font-semibold">
                      <span class="me-0 icon-calendar icomoon"></span> &nbsp;
                      <span>Today</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="app-product-item">
              <figure class="product-item-figure">
                <a href="https://www.countryoven.com/hyderabad/send-online/rasmalai-butterscotch-cake">
                  <img  src="https://countryoven.com/productimages/small/rasmalai-butterscotch-cake.jpg" alt="Rasmalai Butterscotch Cake" title="Rasmalai Butterscotch Cake" class="img-fluid w-100">
                </a>
              </figure>
              <div class="item-title p-2 p-md-3 bg-white">
                <h5>
                  <a href="https://www.countryoven.com/hyderabad/send-online/rasmalai-butterscotch-cake"> Rasmalai Butterscotch Cake</a>
                </h5>
                <div class="price d-flex py-md-2 border-bottom">
                  <div class="offer-price font-semibold">
                    <span class="icomoon font-semibold icon-inr"></span>1999
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-2 item-footer">
                  <div>
                    <p><span class="font-semibold">1.5 kg</span></p>
                  </div>
                  <div class="deliver-date">
                    <p class="font-semibold">
                      <span class="me-0 icon-calendar icomoon"></span> &nbsp;
                      <span>Tomorrow</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-3 col-6">
            <div class="app-product-item">
              <figure class="product-item-figure">
                <a href="https://www.countryoven.com/hyderabad/send-online/vanilla-gulab-jamun-cake">
                  <img  src="https://countryoven.com/productimages/small/vanilla-gulab-jamun-cake.jpg" alt="Vanilla Gulab Jamun Cake" title="Vanilla Gulab Jamun Cake" class="img-fluid w-100">
                </a>
              </figure>
              <div class="item-title p-2 p-md-3 bg-white">
                <h5>
                  <a href="https://www.countryoven.com/hyderabad/send-online/vanilla-gulab-jamun-cake">
                    Vanilla Gulab Jamun Cake
                  </a>
                </h5>
                <div class="price d-flex py-md-2 border-bottom">
                  <div class="offer-price font-semibold">
                    <span class="icomoon font-semibold icon-inr"></span>1849
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-2 item-footer">
                  <div>
                    <p><span class="font-semibold">1.5 kg</span></p>
                  </div>
                  <div class="deliver-date">
                    <p class="font-semibold">
                      <span class="me-0 icon-calendar icomoon"></span> &nbsp;
                      <span>Tomorrow</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="app-product-item">
              <figure class="product-item-figure">
                <a href="https://www.countryoven.com/hyderabad/send-online/classy-blueberry-delight">
                  <img  src="https://countryoven.com/productimages/small/classy-blueberry-delight.jpg" alt="Classy Blueberry Delight" title="Classy Blueberry Delight" class="img-fluid w-100">
                </a>
              </figure>
              <div class="item-title p-2 p-md-3 bg-white">
                <h5>
                  <a href="https://www.countryoven.com/hyderabad/send-online/classy-blueberry-delight">Classy Blueberry Delight</a>
                </h5>
                <div class="price d-flex py-md-2 border-bottom">
                  <div class="offer-price font-semibold">
                    <span class="icomoon font-semibold icon-inr"></span>1299
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-2 item-footer">
                  <div>
                    <p><span class="font-semibold">1 kg</span></p>
                  </div>
                  <div class="deliver-date">
                    <p class="font-semibold">
                      <span class="me-0 icon-calendar icomoon"></span> &nbsp;
                      <span>Today</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-3 col-6">
            <div class="app-product-item">
              <figure class="product-item-figure">
                <a href="https://www.countryoven.com/hyderabad/send-online/premium-fresh-fruit-cake">
                  <img  src="https://countryoven.com/productimages/small/premium-fresh-fruit-cake.jpg" alt="Premium Fresh Fruit Cake" title="Premium Fresh Fruit Cake" class="img-fluid w-100">
                </a>
              </figure>
              <div class="item-title p-2 p-md-3 bg-white">
                <h5>
                  <a href="https://www.countryoven.com/hyderabad/send-online/premium-fresh-fruit-cake">
                    Premium Fresh Fruit Cake
                  </a>
                </h5>
                <div class="price d-flex py-md-2 border-bottom">
                  <div class="offer-price font-semibold">
                    <span class="icomoon font-semibold icon-inr"></span>1299
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-2 item-footer">
                  <div>
                    <p><span class="font-semibold">1 kg</span></p>
                  </div>
                  <div class="deliver-date">
                    <p class="font-semibold">
                      <span class="me-0 icon-calendar icomoon"></span> &nbsp;
                      <span>Today</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="app-product-item">
              <figure class="product-item-figure">
                <a href="https://www.countryoven.com/hyderabad/send-online/delectable-premium-blackforest-cake">
                  <img  src="https://countryoven.com/productimages/small/delectable-premium-blackforest-cake.jpg" alt="Delectable Premium Blackforest Cake" title="Delectable Premium Blackforest Cake" class="img-fluid w-100">
                </a>
              </figure>
              <div class="item-title p-2 p-md-3 bg-white">
                <h5>
                  <a href="https://www.countryoven.com/hyderabad/send-online/delectable-premium-blackforest-cake">Handsome Dad Cake</a>
                </h5>
                <div class="price d-flex py-md-2 border-bottom">
                  <div class="offer-price font-semibold">
                    <span class="icomoon font-semibold icon-inr"></span>1299
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-2 item-footer">
                  <div>
                    <p><span class="font-semibold">1 kg</span></p>
                  </div>
                  <div class="deliver-date">
                    <p class="font-semibold">
                      <span class="me-0 icon-calendar icomoon"></span> &nbsp;
                      <span>Today</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-3 col-6">
            <div class="app-product-item">
              <figure class="product-item-figure">
                <a href="https://www.countryoven.com/hyderabad/send-online/premium-milk-almomd-cake">
                  <img  src="https://countryoven.com/productimages/small/premium-milk-almomd-cake.jpg" alt="Premium Milk Almomd Cake" title="Premium Milk Almomd Cake" class="img-fluid w-100">
                </a>
              </figure>
              <div class="item-title p-2 p-md-3 bg-white">
                <h5>
                  <a href="https://www.countryoven.com/hyderabad/send-online/premium-milk-almomd-cake">Premium Milk Almomd Cake</a>
                </h5>
                <div class="price d-flex py-md-2 border-bottom">
                  <div class="offer-price font-semibold">
                    <span class="icomoon font-semibold icon-inr"></span>1299
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-2 item-footer">
                  <div>
                    <p><span class="font-semibold">1 kg</span></p>
                  </div>
                  <div class="deliver-date">
                    <p class="font-semibold">
                      <span class="me-0 icon-calendar icomoon"></span> &nbsp;
                      <span>Today</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-3 col-6">
            <div class="app-product-item">
              <figure class="product-item-figure">
                <a href="https://www.countryoven.com/hyderabad/send-online/beautiful-mixed-roses">
                  <img  src="https://countryoven.com/productimages/small/Beautiful-Mixed-Roses.jpg" alt="Beautiful Mixed Roses" title="Beautiful Mixed Roses" class="img-fluid w-100">
                </a>
              </figure>
              <div class="item-title p-2 p-md-3 bg-white">
                <h5>
                  <a href="https://www.countryoven.com/hyderabad/send-online/beautiful-mixed-roses"> Beautiful Mixed Roses</a>
                </h5>
                <div class="price d-flex py-md-2 border-bottom">
                  <div class="offer-price font-semibold">
                    <span class="icomoon font-semibold icon-inr"></span>701
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-2 item-footer">
                  <div>
                    <p><span class="font-semibold"></span></p>
                  </div>
                  <div class="deliver-date">
                    <p class="font-semibold">
                      <span class="me-0 icon-calendar icomoon"></span> &nbsp;
                      <span>Today</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-3 col-6">
            <div class="app-product-item">
              <figure class="product-item-figure">
                <a href="https://www.countryoven.com/hyderabad/send-online/rises-of-glory">
                  <img  src="https://countryoven.com/productimages/small/Rises-of-Glory.jpg" alt="Rises Of Glory" title="Rises Of Glory" class="img-fluid w-100">
                </a>
              </figure>
              <div class="item-title p-2 p-md-3 bg-white">
                <h5>
                  <a href="https://www.countryoven.com/hyderabad/send-online/rises-of-glory"> Rises Of Glory</a>
                </h5>
                <div class="price d-flex py-md-2 border-bottom">
                  <div class="offer-price font-semibold">
                    <span class="icomoon font-semibold icon-inr"></span>1519
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-2 item-footer">
                  <div>
                    <p><span class="font-semibold"></span></p>
                  </div>
                  <div class="deliver-date">
                    <p class="font-semibold">
                      <span class="me-0 icon-calendar icomoon"></span> &nbsp;
                      <span>Tomorrow</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-3 col-6">
            <div class="app-product-item">
              <figure class="product-item-figure">
                <a href="https://www.countryoven.com/hyderabad/send-online/8-pink-roses-boquet">
                  <img  src="https://countryoven.com/productimages/small/8-pink-roses-boquet.jpg" alt="8 Pink Roses Boquet" title="8 Pink Roses Boquet" class="img-fluid w-100">
                </a>
              </figure>
              <div class="item-title p-2 p-md-3 bg-white">
                <h5>
                  <a href="https://www.countryoven.com/hyderabad/send-online/8-pink-roses-boquet"> 8 Pink Roses Boquet</a>
                </h5>
                <div class="price d-flex py-md-2 border-bottom">
                  <div class="offer-price font-semibold">
                    <span class="icomoon font-semibold icon-inr"></span>525
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-2 item-footer">
                  <div>
                    <p><span class="font-semibold"></span></p>
                  </div>
                  <div class="deliver-date">
                    <p class="font-semibold">
                      <span class="me-0 icon-calendar icomoon"></span> &nbsp;
                      <span>Today</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-3 col-6">
            <div class="app-product-item">
              <figure class="product-item-figure">
                <a href="https://www.countryoven.com/hyderabad/send-online/roses-all-around">
                  <img  src="https://countryoven.com/productimages/small/Roses-all-Around.jpg" alt="Roses All Around" title="Roses All Around" class="img-fluid w-100">
                </a>
              </figure>
              <div class="item-title p-2 p-md-3 bg-white">
                <h5>
                  <a href="https://www.countryoven.com/hyderabad/send-online/roses-all-around"> Roses All Around</a>
                </h5>
                <div class="price d-flex py-md-2 border-bottom">
                  <div class="offer-price font-semibold">
                    <span class="icomoon font-semibold icon-inr"></span>1334
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-2 item-footer">
                  <div>
                    <p><span class="font-semibold"></span></p>
                  </div>
                  <div class="deliver-date">
                    <p class="font-semibold">
                      <span class="me-0 icon-calendar icomoon"></span> &nbsp;
                      <span>Today</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-3 col-6">
            <div class="app-product-item">
              <figure class="product-item-figure">
                <a href="https://www.countryoven.com/hyderabad/send-online/rose-hypnotize">
                  <img  src="https://countryoven.com/productimages/small/Rose-Hypnotize.jpg" alt="Rose Hypnotize" title="Rose Hypnotize" class="img-fluid w-100">
                </a>
              </figure>
              <div class="item-title p-2 p-md-3 bg-white">
                <h5>
                  <a href="https://www.countryoven.com/hyderabad/send-online/rose-hypnotize"> Rose Hypnotize</a>
                </h5>
                <div class="price d-flex py-md-2 border-bottom">
                  <div class="offer-price font-semibold">
                    <span class="icomoon font-semibold icon-inr"></span>689
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-2 item-footer">
                  <div>
                    <p><span class="font-semibold"></span></p>
                  </div>
                  <div class="deliver-date">
                    <p class="font-semibold">
                      <span class="me-0 icon-calendar icomoon"></span> &nbsp;
                      <span>Today</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-3 col-6">
            <div class="app-product-item">
              <figure class="product-item-figure">
                <a href="https://www.countryoven.com/hyderabad/send-online/hotel-green-park-dinner-voucher">
                  <img  src="https://countryoven.com/productimages/small/hotel-green-park-dinner-voucher.jpg" alt="Hotel Green Park Dinner Voucher" title="Hotel Green Park Dinner Voucher" class="img-fluid w-100">
                </a>
              </figure>
              <div class="item-title p-2 p-md-3 bg-white">
                <h5>
                  <a href="https://www.countryoven.com/hyderabad/send-online/hotel-green-park-dinner-voucher"> Hotel Green Park Dinner Voucher</a>
                </h5>
                <div class="price d-flex py-md-2 border-bottom">
                  <div class="offer-price font-semibold">
                    <span class="icomoon font-semibold icon-inr"></span>1299
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-2 item-footer">
                  <div>
                    <p><span class="font-semibold"></span></p>
                  </div>
                  <div class="deliver-date">
                    <p class="font-semibold">
                      <span class="me-0 icon-calendar icomoon"></span> &nbsp;
                      <span>1 Day</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-3 col-6">
            <div class="app-product-item">
              <figure class="product-item-figure">
                <a href="https://www.countryoven.com/hyderabad/send-online/taj-deccan-week-days-gift-voucher">
                  <img  src="https://countryoven.com/productimages/small/taj-deccan-week-days-gift-voucher.jpg" alt="Taj Deccan Week Days Gift Voucher" title="Taj Deccan Week Days Gift Voucher" class="img-fluid w-100">
                </a>
              </figure>
              <div class="item-title p-2 p-md-3 bg-white">
                <h5>
                  <a href="https://www.countryoven.com/hyderabad/send-online/taj-deccan-week-days-gift-voucher"> Taj Deccan Week Days Gift Voucher</a>
                </h5>
                <div class="price d-flex py-md-2 border-bottom">
                  <div class="offer-price font-semibold">
                    <span class="icomoon font-semibold icon-inr"></span>2750
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-2 item-footer">
                  <div>
                    <p><span class="font-semibold"></span></p>
                  </div>
                  <div class="deliver-date">
                    <p class="font-semibold">
                      <span class="me-0 icon-calendar icomoon"></span> &nbsp;
                      <span>2 days</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-3 col-6">
            <div class="app-product-item">
              <figure class="product-item-figure">
                <a href="https://www.countryoven.com/hyderabad/send-online/apricots-with-medjoul-dates-hamper">
                  <img  src="https://countryoven.com/productimages/small/apricots-with-medjoul-dates-hamper.jpg" alt="Apricots With Medjoul Dates Hamper" title="Apricots With Medjoul Dates Hamper" class="img-fluid w-100">
                </a>
              </figure>
              <div class="item-title p-2 p-md-3 bg-white">
                <h5>
                  <a href="https://www.countryoven.com/hyderabad/send-online/apricots-with-medjoul-dates-hamper"> Apricots With Medjoul Dates Hamper</a>
                </h5>
                <div class="price d-flex py-md-2 border-bottom">
                  <div class="offer-price font-semibold">
                    <span class="icomoon font-semibold icon-inr"></span>909
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-2 item-footer">
                  <div>
                    <p><span class="font-semibold"></span></p>
                  </div>
                  <div class="deliver-date">
                    <p class="font-semibold">
                      <span class="me-0 icon-calendar icomoon"></span> &nbsp;
                      <span>Today</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-3 col-6">
            <div class="app-product-item">
              <figure class="product-item-figure">
                <a href="https://www.countryoven.com/hyderabad/send-online/g-pulla-reddyalmond-house-assorted-sweets-1kg">
                  <img  src="https://countryoven.com/productimages/small/g-pulla-reddyalmond-house-assorted-sweets-1kg.jpg" alt="Assorted Sweets 500 gms" title="Assorted Sweets 500 gms" class="img-fluid w-100">
                </a>
              </figure>
              <div class="item-title p-2 p-md-3 bg-white">
                <h5>
                  <a href="https://www.countryoven.com/hyderabad/send-online/g-pulla-reddyalmond-house-assorted-sweets-1kg"> Assorted Sweets 500 gms</a>
                </h5>
                <div class="price d-flex py-md-2 border-bottom">
                  <div class="offer-price font-semibold">
                    <span class="icomoon font-semibold icon-inr"></span>531
                  </div>
                </div>
                <div class="d-flex justify-content-between pt-2 item-footer">
                  <div>
                    <p><span class="font-semibold"></span></p>
                  </div>
                  <div class="deliver-date">
                    <p class="font-semibold">
                      <span class="me-0 icon-calendar icomoon"></span> &nbsp;
                      <span>Today</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

      <!-- reviews -->
      <!--/ reviews-->

      <article class="terms-content d-none d-lg-block">
        <h2>ORDER PARENTS DAY GIFTS FROM COUNTRY OVEN</h2>
        <p><b>Parents Day : </b> Parents day is a very Special occasion to respect and commune all the Love & Sacrifices of Dad and Mom. We at Country Oven deeply respect the value of appreciating with a meaningful gesture. No matter what kind of appreciation you want to show, our Parents Day gifts selection will surely give you the best way. </p>
        <h3>Parents Day Cakes from Country Oven</h3>
        <p>Surprise your parents, with our choice of cakes in great flavors and shapes Our cakes are styled to perfection, whether your loved ones' authentic tastes for classic vanilla, rich chocolate or exotic fruit flavours will ensure their day is an unforgettable event. </p>
        <h3>On Customers Requests Flowers for Parents Day From Country Oven</h3>
        <p>Bring a fresh and vibrant arrangement to your parents! Our perfect floral arrangements are prepared in a way to pass your love and respect. Pick roses, lilies, orchids or a surprise of your own</p>
        <h3>Country Oven for Personal Gifts</h3>
        <p>Personalize your gift Baby Bottle Pop with our choices Personalized photo frames & coffee mugs, Engraved jewellery and Personalised Cushions Add a special touch that one cannot get back. </p>
        <h4>Gift Hampers From Country Oven</h4>
        <p>Our thoughtfully curated gift hampers are perfect for Parents Day. Filled with a selection of gourmet treats, spa essentials, and other delightful goodies, these hampers are designed to pamper and please. </p>
        <h4>Why Choose Country Oven? </h4>
        <b>Quality Assurance</b>
        <p>Quality has always been our focus at Country Oven. You can rest assured that after each product 1is meticulously created, you (and parents) will be satisfied. </p>
        <b>Hassle-Free Delivery</b>
        <p>Get the "no delivery guy knock" shopping experience by using our free shipping, and fret less when gifting. Our timely and reliable delivery ensures that your gifts get to you fresh and perfect. </p>
        <b>Customer Satisfaction</b>
        <p>Due to our devotion on client satisfaction, we make sure Parents Day with your special mom & dad as a unforgettable for you. Our customer support team are here for you so should you have any questions or concerns don't hesitate to reach out. </p>
        <p>Celebrate Parents Day with thoughtful and personalized gifts from Country Oven. Browse our extensive collection and find the perfect way to express your love and appreciation. Order now and make this Parents Day an unforgettable one.</p>


      </article>
    </div>
  </div>
</section>
