@import "../../../styles/styles";

.profile-db-card {
  height: 100%;
  h6 {
    font-size: $fsize + 1;

    @include max(map-get($breakpoints, "sm")) {
      font-size: $fsize - 2;
    }
  }
  &:hover {
    h6 {
      color: map-get($colors, primary);
    }
  }
  p {
    font-size: $fsize - 1;

    @include max(map-get($breakpoints, "sm")) {
      font-size: $fsize - 3;
    }
  }
  .icon {
    width: 75px;
    height: 75px;
    background: map-get($colors, primary);
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition(all, 0.3s ease);

    @include max(map-get($breakpoints, "sm")) {
      width: 45px;
      height: 45px;
    }

    .icomoon {
      font-size: $fsize * 3;
      color: map-get($colors, white);

      @include max(map-get($breakpoints, "sm")) {
        font-size: $fsize + 5;
      }
    }
  }

  &:hover {
    .icon {
      background: darken(map-get($colors, primary), 10%);

      .icomoon {
        color: map-get($colors, white);
      }
    }
  }
}
