@import "../../../styles/styles";

.profile-db-card { 
  .icon {
    width: 100px;
    height: 100px;
    background: map-get($colors, lightprimary);
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition(all, 0.3s ease);

    .icomoon{
        font-size:$fsize * 3;
        color:map-get($colors, black);
    }
  }

  &:hover{
    .icon{
      background:map-get($colors, primary);

      .icomoon{
        color:map-get($colors, white);
      }
    }
  }
}
