<!-- <app-header></app-header> -->
<section class="userProfile py-3">
    <div class="container">
        <nav aria-label="breadcrumb" class="align-self-center">
            <ol class="breadcrumb pb-0 mb-0">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="/myaccount">{{custName}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Orders</li>
            </ol>
        </nav>
        <!-- <div class="profile-page-title px-3 d-flex justify-content-between background-lightprimary py-3 my-2">
            <h5 class="h5 text-uppercase font-bold">My Orders</h5>
            <h6 class="h6 tex-end">Hi, {{custName}}</h6>
        </div> -->
        <app-profile-nav></app-profile-nav>
        <div class="userprofile-body">
            <div class="card mb-3" *ngFor="let order of orderDetails">
                <div class="card-header py-1">
                    <div class="row">
                        <div class="col-md-6 align-self-center">
                            <div class="d-flex">
                                <small class="font-gray"> Invoice No:
                                    <span class="font-green font-semibold">{{order.sNo}}</span>
                                </small>
                                <small class="font-gray d-inline-block ms-3"> Order Status: <span
                                        class="font-green font-semibold">{{order.orderStatus}}</span>
                                </small>

                                <!-- <small class="font-gray d-inline-block "> Ordered On:
                                    <span class="font-green font-semibold d-inline-block">{{order.orderedDate}}</span>
                                </small> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-end d-flex justify-content-md-end">
                                <a (click)="gotoorders(order.orderId)"
                                    class="btn color-btn btn-sm py-1 px-2 small mt-2 mt-md-0"
                                    href="javascript:;">Track</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pb-0 pt-2">
                    <div class="row pb-2 border-bottom pt-2" *ngFor="let innerorder of order.myOrderProductsDtos">
                        <div class="col-md-2 col-lg-1  col-3">
                            <a (click)="gotoorders(order.orderId)" href="javascript:;">
                                <img src="{{innerorder.smallimageurl}}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-10 col-lg-11 col-9">
                            <article>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="productname"><a (click)="gotoorders(order.orderId)" href=""
                                                class="font-black">{{innerorder.productName}}</a></p>                                       
                                    </div>                                    
                                    <div class="col-md-3 text-md-end py-2 py-md-0 d-none">
                                        <div>
                                            <small class="font-gray">Delivery Date: <span
                                                    class="font-green font-semibold">{{order.deliveredDate}}</span></small>
                                        </div>
                                    </div>
                                </div>                               
                                <div>
                                    <p *ngIf="innerorder.additionalWeight"><small class="font-gray"> Weight: <span
                                                class="font-green font-semibold">{{innerorder.additionalWeight}}</span></small>
                                    </p>
                                    <p *ngIf="innerorder.eggless"><small class="font-gray"> Egg less <span
                                                class="font-green font-semibold"> Yes</span></small>
                                    </p>
                                    <p *ngIf="innerorder.flavour"><small class="font-gray"> flavour: <span
                                                class="font-green font-semibold"> {{innerorder.flavour}}</span></small>
                                    </p>
                                    <p *ngIf="innerorder.photoCake"><small class="font-gray"> Photo Cake: <span
                                                class="font-green font-semibold"> Yes</span></small>
                                    </p>
                                    <p *ngIf="innerorder.message"><small class="font-gray"> Message: <span
                                                class="font-green font-semibold"> {{innerorder.message}}</span></small>
                                    </p>
                                    <div class="price">
                                        <div class="offer-price font-bold">
                                            <span class="icon-inr icomoon"></span>{{innerorder.subTotal}}
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="card-footer py-1 border-top-0">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="price">
                                <div class="offer-price">
                                    <div>
                                        <small class="font-gray">Delivery Charges:</small>
                                        <span class="font-semibold">
                                            <span class="icon-inr icomoon small"></span>{{order.deliveryTimingRate}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="price">
                                <div class="offer-price text-md-end">
                                    <div>
                                        <small class="font-gray">Total:</small>
                                        <span class="font-semibold small">
                                            <span class="icon-inr icomoon small"></span>{{order.totalAmount}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <p class="text-md-end" *ngIf="order.isReviewRequired">
                                <a data-bs-toggle="modal" (click)="reviewClick(order.orderId)" data-bs-target="#Reviews"
                                    class="font-primary pe-3 align-self-center" href="#"><span class="icon-star"></span>
                                    Rate & Review Product</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="static-page" *ngIf="orderDetails?.length ==0">
                <div class="Noproducts">
                    <img src="/src/assets/images/noproducts.svg" alt="" class="img-fluid w-100">
                    <h3>No Orders Found</h3>
                    <p>Please Visit Again or Continue Shopping</p>
                    <a class="color-btn" href="/">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <app-footer></app-footer> -->
<!-- add Review-->
<div class="modal fade" id="Reviews" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-black" id="staticBackdropLabel">Add Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    #closeButton></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="reviewForm" (ngSubmit)="onaddreview()">

                    <div class="col-md-12">
                        <!-- <div class="form-group mb-3">
                            <input type="text" class="form-control" formControlName="title"
                                placeholder="Enter Review Title*">
                        </div> -->
                        <div class="form-floating mb-3">
                            <input
                                [ngClass]="{'is-invalid' : reviewForm.get('title')!.invalid && reviewForm.get('title')!.touched}"
                                class="form-control" placeholder="Enter Review Title*" formControlName="title">
                            <label for="userphone">Enter Review Title <span class="font-red font-bold">*</span></label>
                            <div *ngIf="reviewForm.get('title')!.invalid && reviewForm.get('title')!.touched"
                                class="invalid-feedback mt-0 d-block">
                                Enter Review Title
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Enter Review Description*" formControlName="review"
                            style="height:120px"></textarea>
                        <label>Enter Review Description* </label>

                        <div *ngIf="reviewForm.get('review')!.invalid && reviewForm.get('review')!.touched"
                        class="invalid-feedback mt-0 d-block">
                        Enter Review Description
                    </div>
                    </div>

                    <div class="mb-3">
                        <label>Review</label>
                        <div class="rating">
                            <span *ngFor="let star of stars; let i = index" (click)="rate(star)"
                                [class.active]="highlightedStars[i]">&#9733;</span>
                        </div>


                        <div *ngIf="reviewRate == 0"
                        class="invalid-feedback mt-0 d-block">
                        Enter Review                    </div>

                    </div>
                    <div class="mb-3">
                        <label>Webiste review</label>
                        <div class="rating">
                            <span *ngFor="let star of webstars; let i = index" (click)="webRatingfn(star)"
                                [class.active]="webhighlightedStars[i]">&#9733;</span>
                        </div>
                        <div *ngIf="websitereviewRate == 0"
                        class="invalid-feedback mt-0 d-block">
                        Enter Review                    </div>
                    </div>
                    <div class="mb-3">
                        <label>Service review</label>
                        <div class="rating">
                            <span *ngFor="let star of servicestars; let i = index" (click)="serviceRatingfn(star)"
                                [class.active]="servicehighlightedStars[i]">&#9733;</span>
                        </div>
                        <div *ngIf="serviceReviewRate == 0"
                        class="invalid-feedback mt-0 d-block">
                        Enter Review                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" [disabled]="!reviewForm.valid" class="color-border-btn">Submit
                            Review</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- add Track modal-->
<div class="modal fade" id="Trackmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-black" id="staticBackdropLabel">Track</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    #trackcloseButton></button>
            </div>
            <div class="modal-body">
                Track here
                <div class="col-md-12">
                </div>
                <div class="modal-footer">
                    <button data-bs-dismiss="modal" class="color-border-btn">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>