<section class="home-banner-swiper">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <ng-container *ngFor="let b of banners; let i=index">
                <button type="button" data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i"
                    [class.active]="i === 0" aria-current="true" aria-label="Slide 1"></button>
            </ng-container>

        </div>
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let b of banners; let i = index" [class.active]="i === 0">
                <img [src]="b.imageName" [alt]="b.seoName" class="img-fluid w-100">
            </div>
            <!-- <div class="carousel-item">
                <img src="assets/images/banner02.jpg" alt="" class="img-fluid w-100">
            </div>
            <div class="carousel-item">
                <img src="assets/images/banner03.jpg" alt="" class="img-fluid w-100">
            </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<app-categories *ngIf="iconicBanners" [iconicBanners]="iconicBanners"></app-categories>
<!-- Find gifts-->
<!-- <section class="find-gifts">
    <div class="container">
        <div class="section-title">
            <h5 class="h5 font-bold">Find Gifts For your Loved Ones</h5>
            <P>Celebrate with Surprise Your Loved Ones</P>
        </div>
        <form class="form">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group d-flex pincode">
                        <span class="icon-pin icomoon align-self-center"></span>
                        <input type="text" placeholder="Enter Pincode"
                            class="form-control w-100 border-0 bg-transparent">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Select Occasion</option>
                            <option value="1">Birthday</option>
                            <option value="2">Anniversary</option>
                            <option value="3">Other Celebrations</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Select Gift Type</option>
                            <option value="1">Cakes</option>
                            <option value="2">Flowers</option>
                            <option value="3">Combos</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="color-btn text-uppercase w-100 border-0 border-radius-0 font-bold">Find
                        Gifts</button>
                </div>
            </div>
        </form>

    </div>
</section> -->
<!--/ Find gifts-->
<app-category-banners *ngIf="smallBanners" [smallBanners]="smallBanners"></app-category-banners>


<ng-container *ngFor="let cat of productSecions">

    <section class="product-row">
        <div class="section-heading">
            <div class="custom-container">
                <div class="row justify-content-between border-bottom pb-3">
                    <div class="col-8">
                        <h4 class="h4 font-bold">{{cat.sectionType}}</h4>
                    </div>
                    <div class="col-4 text-end">
                        <a href="javascript:void(0)" class="color-btn">View All</a>
                    </div>
                </div>
            </div>
        </div>

        <section class="custom-container">
            <div class="products-list mt-3">
                <div class="row row-flex">
                    <div class="col-md-3 col-6" *ngFor="let productitem of cat.productList  | slice:0:4">
                        <app-product-item [Productvalue]="productitem" class="app-product-col"></app-product-item>
                    </div>
                </div>
            </div>
        </section>
    </section>
</ng-container>

<!-- krishna-->
<!-- 
<section class="product-row">    
    <div class="section-heading">
        <div class="custom-container">
            <div class="row justify-content-between border-bottom pb-3">
                <div class="col-md-6">
                    <h4 class="h4 font-bold">Trending Now</h4>
                </div>
                <div class="col-md-6 text-end">
                    <a href="javascript:void(0)" class="color-btn">View All</a>
                </div>
            </div>
        </div>
    </div>
    
    <section class="custom-container">
        <div class="products-list mt-3">
            <div class="row row-flex">
                <div class="col-md-3" *ngFor="let productitem of productvalues">
                    <app-product-item [Productvalue]="productitem" class="app-product-col"></app-product-item>
                </div>
            </div>
        </div>
    </section>
</section> -->
<!-- 
<section class="product-row">
   
    <div class="section-heading">
        <div class="custom-container">
            <div class="row justify-content-between border-bottom pb-3">
                <div class="col-md-6">
                    <h4 class="h4 font-bold">Birthday Collections</h4>
                </div>
                <div class="col-md-6 text-end">
                    <a href="javascript:void(0)" class="color-btn">View All</a>
                </div>
            </div>
        </div>
    </div>
    
    <section class="custom-container">
        <div class="row pt-3">
            <div class="col-md-2" *ngFor="let birthdaycollectionitem of birthdaycollectionsitems">
                <app-category-item [Collections]="birthdaycollectionitem"></app-category-item>
            </div>
        </div>
    </section>
</section>

<section class="product-row">
    
    <div class="section-heading">
        <div class="custom-container">
            <div class="row justify-content-between border-bottom pb-3">
                <div class="col-md-6">
                    <h4 class="h4 font-bold">Anniversary Collections</h4>
                </div>
                <div class="col-md-6 text-end">
                    <a href="javascript:void(0)" class="color-btn">View All</a>
                </div>
            </div>
        </div>
    </div>
    
    <section class="custom-container">
        <div class="row pt-3">
            <div class="col-md-2" *ngFor="let birthdaycollectionitem of birthdaycollectionsitems">
                <app-category-item [Collections]="birthdaycollectionitem"></app-category-item>
            </div>
        </div>
    </section>
</section> -->

<!-- <div class="custom-container">
    <div class="row">
        <div class="col-md-6">
            <a href="javascript:void(0)">
                <img src="assets/images/adbanner01.jpg" alt="" class="img-fluid w-100">
            </a>
        </div>
        <div class="col-md-6">
            <img src="assets/images/adbanner02.jpg" alt="" class="img-fluid w-100">
        </div>
    </div>
</div> -->
<!-- 
<section class="product-row pt-3">
    
    <div class="section-heading">
        <div class="custom-container">
            <div class="row justify-content-between border-bottom pb-3">
                <div class="col-md-6">
                    <h4 class="h4 font-bold">Best Sellers</h4>
                </div>
                <div class="col-md-6 text-end">
                    <a href="javascript:void(0)" class="color-btn">View All</a>
                </div>
            </div>
        </div>
    </div>
    
    <section class="custom-container">
        <div class="products-list mt-3">
            <div class="row row-flex">
                <div class="col-md-3" *ngFor="let productitem of productvalues">
                    <app-product-item [Productvalue]="productitem"></app-product-item>
                </div>
            </div>
        </div>
    </section>
</section> -->
<!-- 
<section class="product-row">
    
    <div class="section-heading">
        <div class="custom-container">
            <div class="row justify-content-between border-bottom pb-3">
                <div class="col-md-6">
                    <h4 class="h4 font-bold">Tempting Cakes</h4>
                </div>
                <div class="col-md-6 text-end">
                    <a href="javascript:void(0)" class="color-btn">View All</a>
                </div>
            </div>
        </div>
    </div>
    
    <section class="custom-container">
        <div class="row pt-3">
            <div class="col-md-2" *ngFor="let birthdaycollectionitem of birthdaycollectionsitems">
                <app-category-item [Collections]="birthdaycollectionitem"></app-category-item>
            </div>
        </div>
    </section>
</section> -->

<div class="section-heading">
    <div class="custom-container">
        <div class="row pb-3 justify-content-center">
            <div class="col-md-6 text-center">
                <h4 class="h4 font-bold">Countryoven.com India’s first and #1 E-com Cake Shoppe</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 terms-content">
                <p>Welcome to CountryOven - your one-stop-shop for online cakes and flowers gifting! We are thrilled to
                    offer you an exquisite collection of cakes and flowers for all your special occasions. At
                    CountryOven, we understand the importance of creating unforgettable moments that last a lifetime.
                    That is why we bring to you a wide range of delectable cakes, exquisite flower arrangements, and
                    thoughtful gift hampers to make every occasion special.</p>
                <p>Our cakes are made with love and passion by our experienced bakers who use only the finest quality
                    ingredients. From classic flavours like vanilla, chocolate, and strawberry to exotic flavours like
                    blueberry, red velvet, and black forest, we have something for every taste bud. We also offer a
                    range of eggless and sugar-free cakes for our health-conscious customers.</p>
                <p>Our flower arrangements are designed by our expert florists who have a keen eye for detail and
                    aesthetics. We offer a variety of fresh and exotic flowers that are handpicked and arranged to
                    perfection to create stunning bouquets and arrangements.</p>
                <p>At CountryOven, we believe in the joy of gifting, and our gift hampers are the perfect way to express
                    your love and appreciation. From personalized gift hampers to curated gift baskets, we have an
                    extensive collection to suit every occasion and budget.</p>
                <p>We take pride in our excellent customer service, and we strive to ensure that every customer has a
                    seamless shopping experience with us. Our easy-to-navigate website and secure payment gateway make
                    it easy for you to place your order from the comfort of your home.</p>
                <p>So, whether you are looking for a birthday cake, an anniversary gift, or a festive hamper,
                    CountryOven has got you covered. Let us be a part of your celebrations and create unforgettable
                    memories with our cakes, flowers, and gift hampers.</p>
            </div>
        </div>
    </div>
</div>