<section class="home-banner-swiper">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <ng-container *ngFor="let b of banners; let i=index">
                <button type="button" data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i"
                    [class.active]="i === 0" aria-current="true" aria-label="Slide 1"></button>
            </ng-container>

        </div>
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let b of banners; let i = index" [class.active]="i === 0">
                <img  [src]="b.imageName" [alt]="b.name" [title]="b.name" [height]="549" [width]="1920" (click)="gotoroute(b.type, b.seoName)" 
                    class="img-fluid w-100">
            </div>
            
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<app-categories *ngIf="iconicBanners" [iconicBanners]="iconicBanners"></app-categories>

<app-category-banners *ngIf="smallBanners" [smallBanners]="smallBanners"></app-category-banners>

<ng-container *ngFor="let cat of productSecions">

    <section class="product-row py-2 py-md-4">
        <div class="section-heading">
            <div class="custom-container">
                <div class="row justify-content-between border-bottom pb-3">
                    <div class="col-8">
                        <h4 class="h4 font-semibold">{{cat.sectionType}}</h4>
                    </div>
                    <div class="col-4 text-end">
                        <a [href]="cat.sectionURL"  class="color-btn">View All</a>
                    </div>
                </div>
            </div>
        </div>

        <section class="custom-container">
            <div class="products-list mt-3">
                <div class="row g-2">
                    <div class="col-md-3 col-6" *ngFor="let productitem of cat.productList  | slice:0:4">
                        <app-product-item [Productvalue]="productitem" class="app-product-col"></app-product-item>
                    </div>
                </div>
            </div>
        </section>
    </section>
</ng-container>


<div>
    <div class="custom-container">
        <app-terms-content></app-terms-content>
    </div>
</div>
