@import "../../../styles/styles";

.find-gifts {
  background: url(/assets/images/findgiftsbg.jpg) no-repeat 0 0;
  padding: 35px 0;

  .form {
    background-color: rgba(map-get($colors, white), 0.3);
    padding: 17px;
    border: 1px solid lightenrgba(map-get($colors, gray) 1);
    margin-top: 15px;

    .form-control,
    .form-select {
      border-radius: 0;
      padding: 10px 15px;
      font-weight: 500;
      font-size: $fsize - 1;

      &:placeholder-shown {
        color: map-get($colors, black);
        font-weight: 700;
      }
    }
    .pincode {
      background: map-get($colors, white);
      padding-left: 10px;

      .icomoon {
        color: map-get($colors, primary);
      }
    }
  }
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

.app-product-col {
  height: 100%;

  @include minMax(map-get($breakpoints, "xs"), map-get($breakpoints, "sm")) {
    margin-bottom: 15px;
  }
}

.home-banner-swiper {
  .carousel-item {
    img {
      cursor: pointer;
    }
  }
}

.section-heading {
  .h4 {
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
  }
  .color-btn {
    @include max(map-get($breakpoints, "sm")) {
      font-size: $fsize - 3;
    }
  }
}

.carousel-control-prev,
.carousel-control-next {
  background: map-get($colors, primary);
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -20px;

  @include max(map-get($breakpoints, "md")){
    display: none;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 25px;
  }
}

.carousel-indicators {
  button {
    background: map-get($colors, primary);
    height: 3px;
    border:0;
  }
}
