<section class="home-banner-swiper">
    <figure>
        <img src="assets/images/banner01.jpg" alt="" class="img-fluid w-100">
    </figure>
</section>
<app-categories></app-categories>
<!-- Find gifts-->
<section class="find-gifts">
    <div class="container">
        <div class="section-title">
            <h5 class="h5 font-bold">Find Gifts For your Loved Ones</h5>
            <P>Celebrate with Surprise Your Loved Ones</P>
        </div>
        <form class="form">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group d-flex pincode">
                        <span class="icon-pin icomoon align-self-center"></span>
                        <input type="text" placeholder="Enter Pincode"
                            class="form-control w-100 border-0 bg-transparent">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Select Occasion</option>
                            <option value="1">Birthday</option>
                            <option value="2">Anniversary</option>
                            <option value="3">Other Celebrations</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Select Gift Type</option>
                            <option value="1">Cakes</option>
                            <option value="2">Flowers</option>
                            <option value="3">Combos</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="color-btn text-uppercase w-100 border-0 border-radius-0 font-bold">Find
                        Gifts</button>
                </div>
            </div>
        </form>

    </div>
</section>
<!--/ Find gifts-->
<app-category-banners></app-category-banners>

<!-- Trending Now products -->
<div class="section-heading">
    <div class="custom-container">
        <div class="row justify-content-between border-bottom pb-3">
            <div class="col-md-6">
                <h4 class="h4 font-bold">Trending Now</h4>
            </div>
            <div class="col-md-6 text-end">
                <a href="javascript:void(0)" class="color-btn">View All</a>
            </div>
        </div>
    </div>
</div>
<!--/ Trending Now Products-->
<section class="custom-container">
    <div class="products-list d-flex flex-wrap mt-3 justify-content-between">
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
    </div>
</section>