<section class="subpage">
    <div class="container">
        <!-- bread crumb-->
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="align-self-center py-3">
                    <ol class="breadcrumb pb-0 mb-0">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">User Reviews</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--/ bread crumb-->
        <div class="static-page">
            <h1 class="h3 font-bold font-primary pb-3">Customer Reviews & Testimonials</h1>

            <!-- card -->
            <div class="card border review-card mb-2" *ngFor="let r of reviewData">
                <div class="card-header d-flex justify-content-between">
                    <div>
                        <span class="font-bold">{{r.customerName}}</span>
                        <span class="d-inline-block ps-3">{{r.reviewDate | date}}</span>
                    </div>
                    <div class="rating-stars" >
                        <ng-container *ngFor="let s of [1,2,3,4,5]; index as i">
                        <span class="icon-star " [ngClass]="{'font-primary' : i < r.reviewRate}" >


                        </span>
                    </ng-container>
                       
                    </div>

                </div>
                <div class="card-body">
                    <article class="pb-2">
                        <h5 class="h6 font-semibold">{{r.title}}</h5>
                        <!-- <p class="pb-0">Awesome taste as usual</p> -->
                    </article>
                    <p><small>Invoice No:{{r.orderID}}</small></p>
                </div>
            </div>
            <!--/ card-->
           
            <ng-container *ngIf="!reviewData.length">
                No ReViews found
            </ng-container>
        </div>
    </div>
</section>