.selected{ background: #f8f8f8;}

.form-floating{ margin-bottom: 30px;}

textarea{ min-height: 100px !important;}
.addresscount{     text-align: right;
    font-size: 12px;
}
.static-page{ text-align: center;}