<div class="userprofile-body">
    <div class="row">
        <div class="col-md-6">
            <div class="row" *ngIf="originalAddress?.length > 3">
                <div class="col-auto">
                       <select class="form-select" [(ngModel)]="selectedaddress"  (change)="onOptionChange($event)">
                        <ng-container *ngIf="selectedaddress == 'select'">
                            <option value="select" selected>
                                <ng-container *ngIf="checkoutaddress">Select Delivery Address</ng-container>
                                <ng-container *ngIf="!checkoutaddress">Select  Address</ng-container>    
                            
                            </option>
                          </ng-container>
                          
                        <option [value]="'all'">All</option>
                        <option *ngFor="let a of originalAddress" [value]="a.addressId">{{a.recipientFirstName}},{{a.cityName}}
                        </option>

                    </select>
                </div>
            </div>
            <div *ngIf="notmatch" class="errormatch">   Deliver City Not Matched</div>
            <div *ngIf="notmatchzip" class="errormatch">   Zip Code Not Matched</div>

        </div>
        <div class="col-md-6 align-self-center">
            <div class="text-md-end mt-3 mt-md-0 ">
                <a href="" class="color-btn" (click)="addNewAddress()" data-bs-toggle="modal"
                    data-bs-target="#AddNewAddress">
                    <ng-container *ngIf="checkoutaddress">Add Delivery Address</ng-container>
                    <ng-container *ngIf="!checkoutaddress">Add New Address</ng-container>
                </a>
            </div>
        </div>
    </div>

    <div class="address-cards row g-2 align-items-stretch" >
        <div class="col-md-4" [ngClass]="{'selected':selectedaddress== da.addressId}"
            *ngFor="let da of deliverAddress">
            <div class="card mt-2 mb-1">
                <div class="card-header">
                    <p class="card-title font-gray align-self-center pb-0 mb-0"><span class="d-block small" *ngIf="checkoutaddress">Deliver to:</span> 
                        <span class="text-black font-semibold">{{da.recipientFirstName}} {{da.recipientLastName}}
                        </span>
                       
                    </p>
                </div>
                <div class="card-body pb-1">
                    <div class="addresssection">
                        <p>{{da.address1}} {{da.address2}} <br />
                            {{da.landmark}} {{da.cityName}}
                            {{da.zipCode}}
                        </p>
                    </div>
                    <div class="d-flex justify-content-between py-2 border-top">
                        <!--  -->
                        <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#editAddress"
                            (click)="editAddress(da.addressId)" class="font-primary">
                            <small>
                                <span class="icon-draw"></span> Edit 
                            </small>
                        </a>
                        <a href="javascript:;" (click)="deleteAddress(da.addressId, da.customerId)"
                            class="font-primary">
                            <small><span class="icon-delete"></span> Delete</small>
                        </a>
                    </div>
                </div>
                <div class="card-footer">
                    <ng-container *ngIf="isCheckout">
                        <button (click)="selectAdd(da)" class="color-btn d-block w-100 border-0 btn-sm"> Delivery Here</button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit address modal-->

<div class="modal fade" #EditModal id="editAddress" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-black" id="staticBackdropLabel">Update Delivery Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #EditButton></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" formControlName="recipientFirstName"
                                    placeholder="First Name *"
                                    [ngClass]="{'is-invalid' : userForm.get('recipientFirstName')!.invalid && userForm.get('recipientFirstName')!.touched}">
                                <label for="">First Name <span class="font-red font-bold">*</span></label>
                                <div class="msg-hint" *ngIf="submitted && userForm.get('recipientFirstName').invalid">
                                    First Name must be at least 3 characters</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" formControlName="recipientLastName"
                                    placeholder="Last Name *"
                                    [ngClass]="{'is-invalid' : userForm.get('recipientLastName')!.invalid && userForm.get('recipientLastName')!.touched}">
                                <label for="">Last Name <span class="font-red font-bold">*</span></label>
                                <div class="msg-hint" *ngIf="submitted &&  userForm.get('recipientLastName').invalid">
                                    Last Name is mandatory</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="number" formControlName="phone" class="form-control" placeholder="Phone *"
                                    [ngClass]="{'is-invalid' : userForm.get('phone')!.invalid && userForm.get('phone')!.touched}">
                                <label for="">Mobile Number<span class="font-red font-bold">*</span></label>
                                <div class="msg-hint" *ngIf="submitted && userForm.get('phone').invalid">
                              Enter Valid Mobile Number. Its between 10 to 15 digits</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="number" formControlName="mobilePhone" class="form-control"
                                    placeholder="Mobile Phone *"
                                    [ngClass]="{'is-invalid' : userForm.get('mobilePhone')!.invalid && userForm.get('mobilePhone')!.touched}">
                                <label for="">Alternative Mobile Number<span class="font-red font-bold">*</span></label>
                                <div class="msg-hint" *ngIf="submitted && userForm.get('mobilePhone').invalid">
                                  Enter Valid Alternative Mobile Number. Its between 10 to 15 digits
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <textarea class="form-control" formControlName="address1" placeholder="Address*"
                                    [ngClass]="{'is-invalid' : userForm.get('address1')!.invalid && userForm.get('address1')!.touched}"></textarea>
                                <label for="">Address <span class="font-red font-bold">*</span></label>
                                <div class="addresscount">
                                    {{ editupdateCharacterCount() }} / {{ maxAddressLength }}
                                </div>

                                <div class="msg-hint" *ngIf="submitted && userForm.get('address1').invalid">
                                  Address must be less than 100 characters.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" formControlName="landmark"
                                    placeholder="landmark *"
                                    [ngClass]="{'is-invalid' : userForm.get('landmark')!.invalid && userForm.get('landmark')!.touched}" />
                                <label for="">Landmark <span class="font-red font-bold">*</span></label>
                                <div class="msg-hint" *ngIf="submitted && userForm.get('landmark').invalid">
                                  Enter Landmark
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6"  *ngIf="checkoutaddress">
                            <div class="form-floating mb-3">
                             <div class="dummyform">
                                <label for="">City <span class="font-red font-bold">*</span></label>
<div class="fdata">{{cityname}}</div>
</div>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="!checkoutaddress">
                            <div class="form-floating">
                                <select class="form-select" formControlName="cityName"
                                    [ngClass]="{'is-invalid' : userForm.get('cityName')!.invalid && userForm.get('cityName')!.touched}">
                                    <option [value]="cl.cityName" *ngFor="let cl of cityList">{{cl.cityName}}
                                    </option>

                                </select>
                                <label for="">City <span class="font-red font-bold">*</span></label>
                                <div class="msg-hint" *ngIf="userForm.get('cityName').invalid"> City Name is mandatory
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6"  *ngIf="checkoutaddress && zipCode !='no'">
                            <div class="form-floating mb-3">
                             <div class="dummyform">
                                <label for="">Pin Code <span class="font-red font-bold">*</span></label>
<div class="fdata">{{zipCode}}</div>
</div>
                            </div>
                        </div>


                        <div class="col-md-6" *ngIf=" zipCode =='no'">
                            <div class="form-floating">
                                <input type="number" formControlName="zipCode" class="form-control"
                                    placeholder="Pin code *"
                                    [ngClass]="{'is-invalid' : userForm.get('zipCode')!.invalid && userForm.get('zipCode')!.touched}">
                                <label for="">Pin Code <span class="font-red font-bold">*</span></label>
                                <div class="msg-hint" *ngIf="submitted &&  userForm.get('zipCode').invalid">
                                  Enter Valid Pincode (Must be 6 digits)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="color-border-btn"> <ng-container *ngIf="checkoutaddress">Save and Continue</ng-container>
                            <ng-container *ngIf="!checkoutaddress">Save Address</ng-container></button>
                           
                    </div>
                </form>
            </div>
            <!-- data-bs-dismiss="modal" -->
        </div>
    </div>
</div>
<!-- add new address modal-->
<div class="modal fade" id="AddNewAddress" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-black" id="staticBackdropLabel">
                    <ng-container *ngIf="checkoutaddress">Add Delivery Address</ng-container>
                    <ng-container *ngIf="!checkoutaddress">Add New Address</ng-container>
                    </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #AddButton></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="adduserForm" (ngSubmit)="onAddSubmit()">
                    <div class="row g-2">
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input
                                    [ngClass]="{'is-invalid' : adduserForm.get('addRecipientFirstName')!.invalid && adduserForm.get('addRecipientFirstName')!.touched}"
                                    type="text" class="form-control" formControlName="addRecipientFirstName"
                                    placeholder="First Name*">
                                <label for="">First Name <span class="font-red font-bold">*</span></label>
                                <div class="msg-hint"
                                    *ngIf="addsubmitted && adduserForm.get('addRecipientFirstName').invalid">
                              First Name must be at least 3 characters</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" formControlName="addRecipientLastName"
                                    [ngClass]="{'is-invalid' : adduserForm.get('addRecipientLastName')!.invalid && adduserForm.get('addRecipientLastName')!.touched}"
                                    placeholder="Last Name *">
                                <label for="">Last Name <span class="font-red font-bold">*</span></label>
                                <div class="msg-hint"
                                    *ngIf="addsubmitted && adduserForm.get('addRecipientLastName').invalid"> Last Name is
                                    mandatory</div>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" formControlName="addEmail" class="form-control" placeholder="Email">
                            </div>
                        </div> -->
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="number" formControlName="addPhone" class="form-control"
                                    placeholder="Phone *"
                                    [ngClass]="{'is-invalid' : adduserForm.get('addPhone')!.invalid && adduserForm.get('addPhone')!.touched}">
                                <label for="">Mobile Number<span class="font-red font-bold">*</span></label>
                                <div class="msg-hint" *ngIf="addsubmitted && adduserForm.get('addPhone').invalid"> Enter
                                    Valid Mobile Number. Its between 10 to 15 digits
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="number" formControlName="addMobilePhone" class="form-control"
                                    placeholder="Mobile Phone *"
                                    [ngClass]="{'is-invalid' : adduserForm.get('addMobilePhone')!.invalid && adduserForm.get('addMobilePhone')!.touched}">
                                <label for="">Alternative Mobile Number<span class="font-red font-bold">*</span></label>
                                <div class="msg-hint" *ngIf="addsubmitted && adduserForm.get('addMobilePhone').invalid">
                                  Enter Valid Alternative Mobile. Its between 10 to 15 digits
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12">
                            <div class="form-floating">
                                <textarea class="form-control"   [(ngModel)]="textAreaInput" formControlName="addaddress1"
                                    [ngClass]="{'is-invalid' : adduserForm.get('addaddress1')!.invalid && adduserForm.get('addaddress1')!.touched}"
                                    placeholder="Address *"  (input)="onMessageInputChange()" maxlength="100"></textarea>
                                <label for="">Address <span class="font-red font-bold">*</span></label>
 
                                <div class="addresscount">
                                    {{ updateCharacterCount() }} / {{ maxAddressLength }}
                                </div>
                                <div class="msg-hint" *ngIf="addsubmitted && adduserForm.get('addaddress1').invalid">
                                  Address must be less than 100 characters.
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" formControlName="addlandmark"
                                    placeholder="landmark *"
                                    [ngClass]="{'is-invalid' : adduserForm.get('addlandmark')!.invalid && adduserForm.get('addlandmark')!.touched}" />
                                <label for="">Land Mark <span class="font-red font-bold">*</span></label>
                                <div class="msg-hint" *ngIf="addsubmitted && adduserForm.get('addlandmark').invalid">
                                    Enter Landmark</div>
                            </div>
                        </div>
                      
                        <div class="col-sm-6"  *ngIf="checkoutaddress">
                            <div class="form-floating mb-3">
                             <div class="dummyform">
                                <label for="">City <span class="font-red font-bold">*</span></label>
<div class="fdata">{{cityname}}</div>
</div>
                            </div>
                        </div>
                        <div class="col-sm-6" *ngIf="!checkoutaddress">
                            <div class="form-floating mb-3">
                                <select class="form-select"
                                    [ngClass]="{'is-invalid' : adduserForm.get('addcityName')!.invalid && adduserForm.get('addcityName')!.touched}"
                                    formControlName="addcityName">
                                    <option [value]="cl.cityName" *ngFor="let cl of cityList">{{cl.cityName}}
                                    </option>

                                </select>
                                <label for="">City <span class="font-red font-bold">*</span></label>
                                <div class="msg-hint" *ngIf="addsubmitted && adduserForm.get('addcityName').invalid">
                                    Enter City
                                </div>
                            </div>
                        </div>



                        <div class="col-md-6"  *ngIf="checkoutaddress && zipCode !='no'">
                            <div class="form-floating mb-3">
                             <div class="dummyform">
                                <label for="">Pin Code <span class="font-red font-bold">*</span></label>
<div class="fdata">{{zipCode}}</div>
</div>
                            </div>
                        </div>


                        <div class="col-sm-6" *ngIf="zipCode =='no'">
                            <div class="form-floating">
                                <input type="number" formControlName="addzipCode" class="form-control"
                                    placeholder="Pincode *"
                                    [ngClass]="{'is-invalid' : adduserForm.get('addzipCode')!.invalid && adduserForm.get('addzipCode')!.touched}">
                                <label for="">Pin Code <span class="font-red font-bold">*</span></label>
                                <div class="msg-hint" *ngIf="addsubmitted && adduserForm.get('addzipCode').invalid">
                                    Enter Valid Pincode(Must be 6 digits)</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer border-0">
                        <button type="submit" class="color-border-btn">
                            <ng-container *ngIf="checkoutaddress">Save and Continue</ng-container>
                            <ng-container *ngIf="!checkoutaddress">Save Address</ng-container>
                            </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
