<nav class="navbar navbar-expand-lg border-bottom mb-4">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" *ngFor="let userLink of userLinks">
                    <!-- [ngClass]="{'select-nav':'nav-link'}" -->
                    <a class="nav-link" routerLinkActive="select-nav"
                        routerLink="{{userLink.navLink}}">{{userLink.navLabel}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " (click)="logout()"
                      >Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>