@import "../../../styles/styles";

.navbar {
  background: map-get($colors, lightgradient);
  margin: 10px 0;
  .nav-item {
    .nav-link {
      color: map-get($colors, black);
      font-size: $fsize - 1;
      text-transform: uppercase;
      margin: 0 6px;
      cursor: pointer;
      padding: 5px 10px;

      @include max(map-get($breakpoints, "lg")) {
        font-size: $fsize - 3;
        margin: 0 3px;
      }
    }
    .select-nav {
      background: map-get($colors, primary);
      border-radius: 25px;
      color: map-get($colors, white);
    }
  }
}
