<section class="subpage">
  <div class="container">
    <!-- bread crumb-->
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="breadcrumb" class="align-self-center py-3">
          <ol class="breadcrumb pb-0 mb-0">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Careers</li>
          </ol>
        </nav>
      </div>
    </div>
    <!--/ bread crumb-->
    <div class="static-page">
      <h1 class="h3 font-bold font-primary ">Careers at Countryoven</h1>
      <h3 class="">Discover the taste of a rewarding career with Country Oven.</h3>
      <p>
        Country Oven (A unit of Karthik Enterprises Private Limited) is a leading chain of bakeries and restaurants in the twin cities, helping customers celebrate their special moments by delivering a wide range of cakes, gifts, and fresh flowers.
        <br />We are currently seeking dynamic, and experienced professionals for the following positions:
      </p>
      <div class="table-responsive">
        <table class="table caption-top">
          <thead class="table-dark">
            <tr>
              <th scope="col">Name of Position</th>
              <th scope="col">Job Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Marketing  Executive:</th>
              <td>
                <div>
                  <p>
                    The ideal candidate should be a graduate with at least 3 years of experience in marketing food products to large corporate cafeterias, food courts, hospitals, and event organizers.
                    Excellent communication skills and a proven ability to work with corporate facility management teams are preferred.
                  </p>
                  <!--<p>
                If you are eligible for the above role, send your profile to <a href="mailto:careers@countryoven.com">careers@countryoven.com</a>
              </p>-->
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">Customer Support Executive:</th>
              <td>
                <div>
                  <p>
                    As an e-commerce pioneer, customer satisfaction is crucial to our success. The applicant must be polite and possess exceptional communication skills to interact with NRIs, ensuring them a pleasant online experience.
                    The role requires shift work and the CS Executive must also be ready to work on festival days and special occasions.
                  </p>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">Chef – Bakery Snacks: </th>
              <td>
                <div>
                  <p>Candidates should have experience in preparing popular bakery snacks, including Veg. and Non-Veg Puffs, Rolls, Pizzas, Burgers, Samosas, Croissants, Muffins, etc.</p>
                </div>
              </td>
            </tr>

            <tr>
              <th scope="row">Chef – Indian Cuisine:</th>
              <td>
                <div>
                  <p>Chefs experienced in preparing multi-cuisine dishes, including Biryani, Punjabi, Tandoori, and Mughlai items, are invited to apply for this position at our Mint Leaf Restaurant.</p>
                </div>
              </td>
            </tr>

            <tr>
              <th scope="row">Food Delivery Associates: </th>
              <td>
                <div>
                  <p>
                    Candidates must have their own two-wheeler and a valid driving license.
                    Preference will be given to those with knowledge of Hyderabad city and experience in food delivery.
                  </p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>
        Salary will be based on qualifications and experience.
        Send your profile to <a href="mailto:careers@countryoven.com">careers@countryoven.com</a> or send your resume with full details within 10 days to the following address:
      </p>
      <ul class=" font-bold">
        <li>The Manager</li>
        <li>Country Oven</li>
        <li>Opposite Green Park Hotel</li>
        <li>Greenlands, Ameerpet</li>
        <li> Hyderabad – 500016</li>
      </ul>
    </div>
  </div>
</section>
