<section class="subpage">
    <div class="container">
        <!-- bread crumb-->
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="align-self-center py-3">
                    <ol class="breadcrumb pb-0 mb-0">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Careers</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--/ bread crumb-->
        <div class="static-page">
            <h1 class="h3 font-bold font-primary pb-3">Careers at Countryoven</h1>
            <div class="table-responsive">
                <table class="table caption-top">
                    <thead>
                        <tr>
                            <th scope="col">Name of Position</th>
                            <th scope="col">Job Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Delivery Executive</th>
                            <td>
                                <div>
                                    <ul class="pb-3 list-items">
                                        <li>Freshers with any degree, fresh graduates, 12th pass or 10th pass.</li>
                                        <li>Candidates with prior experience in delivery operations are also welcome.
                                        </li>
                                        <li>Our delivery guys need to be hard workers and self starters.</li>
                                        <li>Valid Driving licence and Adhar Card is must.</li>
                                        <li>Courier guys are also welcome for delivery person job vacancy.</li>
                                    </ul>
                                    <p>If you are eligible for the above role, send your profile to <a
                                            href="mailto:careers@countryoven.com">careers@countryoven.com</a></p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">SEO Specialist</th>
                            <td>
                                <div>
                                    <ul class="pb-3 list-items">
                                        <li>1 to 3 years of experience in successfully developing and executing SEO
                                            campaigns.</li>
                                        <li>Understanding of search engine algorithms and ranking methods.</li>
                                        <li>Experience with SEO industry programs, such as Google Analytics or Adobe
                                            Analytics.</li>
                                        <li>Knowledge of keyword research and data mining tools.</li>
                                        <li>Able to complete competitive analysis of other companies within the
                                            industry.</li>
                                        <li>Comfortable analyzing high volumes of data on a daily basis.</li>
                                        <li>Understanding of both On page and Off Page SEO/ link building strategies.
                                        </li>
                                    </ul>
                                    <p>If you are eligible for the above role, send your profile to <a
                                            href="mailto:careers@countryoven.com">careers@countryoven.com</a></p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Content Writer</th>
                            <td>
                                <div>
                                    <ul class="pb-3 list-items">
                                        <li>Should have worked on website content/blogs preferable for B2C products.
                                        </li>
                                        <li>1-3 yrs of experience in writing content for the company website, blogs,
                                            articles & product descriptions.</li>
                                        <li>Write blog posts covering various product, industry, and persona-inspired
                                            topics.</li>
                                        <li>Ideate, create, content for marketing campaigns using the right channels.
                                        </li>
                                        <li>Create content for platforms including social media, emailers, Ad copies,
                                            blogs to drive awareness of Living Food products.</li>
                                    </ul>
                                    <p>If you are eligible for the above role, send your profile to <a
                                            href="mailto:careers@countryoven.com">careers@countryoven.com</a></p>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">Marketing Executive</th>
                            <td>
                                <div>
                                    <ul class="pb-3 list-items">
                                        <li>Enhancing the user experience on the web We have an opening for Full Time
                                            Marketing executive who is energetic and passionate about the work on hand
                                            and having good communication skills.
                                        </li>
                                        <li>Keeping up to date with market trend and competitor activity.</li>
                                        <li>Promotion & Assortment planning for the sellers – keeping trends and
                                            seasonality in mind.</li>
                                        <li>Formulate monetization plans for the sellers for better promotion planning
                                            and visibility.
                                        </li>
                                        <li>Being a point of contact to priority customers and resolving any issues that
                                            they have.</li>
                                        <li>Collecting and communicating customer requirements to all necessary
                                            departments.</li>
                                        <li>Communication to team and management on project development, timelines, and
                                            results.</li>
                                    </ul>
                                    <p>If you are eligible for the above role, send your profile to <a
                                            href="mailto:careers@countryoven.com">careers@countryoven.com</a></p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</section>