<section class="userProfile py-3">
    <div class="container">
        <nav aria-label="breadcrumb" class="align-self-center">
            <ol class="breadcrumb pb-0 mb-0">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="/myaccount">My Account</a></li>
                <li class="breadcrumb-item active" aria-current="page">Change Password</li>
            </ol>
        </nav>
        <!-- <div class="profile-page-title px-3 d-flex justify-content-between background-lightprimary py-3 my-2">
            <h5 class="h5 text-uppercase font-bold">Change Password</h5>
            <h6 class="h6 tex-end">Hi, {{custName}}</h6>
        </div> -->
        <app-profile-nav></app-profile-nav>
        <div class="userprofile-body">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                        <div class="form-floating mb-3">
                            <input type="password" [(ngModel)]="cpwd" class="form-control" placeholder="Current Password *"
                                formControlName="oldPassword" (input)="onInputChange()">
                            <label>Current Password <span class="font-red font-bold">*</span></label>
                      
                            <div class="msg-hint" *ngIf="error" > {{errormsg}}
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" placeholder="New Password *"
                                formControlName="newPassword">
                            <label>New Password <span class="font-red font-bold">*</span></label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" placeholder="Re Enter New Password *"
                                formControlName="confirmPassword">
                            <label>Confirm Password <span class="font-red font-bold">*</span></label>
                        </div>
                        <div class="py-2" *ngIf="userForm.get('confirmPassword')?.hasError('passwordMatch')">
                            <p class="text-danger">Password Do Not Match</p>
                        </div>
                        <button type="submit" class="color-btn border-0 w-100 mt-3"
                            [disabled]="!userForm.valid">Save Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
