<div class="stickyribbon">
    <div class="toggle_contact" (click)="toggleContactRibbon()" [ngClass]="{'rightribbon': showContactRibbon}">
        <span [ngClass]="showContactRibbon ? 'icon-left-chevron': 'icon-close'"></span>
    </div>
    <div class="contact-ribbon" [ngClass]="{'hideribbon': showContactRibbon}">
        <a target="_blank" href="https://api.whatsapp.com/send?phone=+919848155830&text=Hi"
            class="sticky-ribbon-link wapp">
            <span class="icon-whatsapp icomoon"></span>
        </a>
        <!-- mobile-->
        <a href="tel:+919848155830" class="sticky-ribbon-link call-customercare d-flex d-lg-none">
            <span class="icon-call icomoon"></span>
        </a>
        <!--/ mobile-->
        <!-- desktop-->
        <a href="#contactpop" class="sticky-ribbon-link call-customercare d-none d-lg-flex" data-bs-toggle="modal">
            <span class="icon-call icomoon"></span>
        </a>
        <!--/ desktop-->
        <a href="content/contactus" class="sticky-ribbon-link msg">
            <span class="icon-email icomoon"></span>
        </a>
        <a routerLink="/notifications" class="sticky-ribbon-link notifications">
            <span class="icon-notification icomoon"></span>
            <div class="number-count">{{count}}</div>
        </a>
    </div>
</div>


<div class="modal fade" id="contactpop" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="exampleModalToggleLabel">Contact</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4 class="h6 pb-4 text-center">Call to Customer Care</h4>
                <div class="text-center">
                    <a href="tel:+919848155830" class="color-btn">(+91)9848155830</a>
                </div>
            </div>
        </div>
    </div>
</div>
