<div class="stickyribbon">
    <a href="" class="sticky-ribbon-link wapp">
        <span class="icon-whatsapp icomoon"></span>
    </a>
    <a href="" class="sticky-ribbon-link call-customercare">
        <span class="icon-call icomoon"></span>
    </a>
    <a href="" class="sticky-ribbon-link msg">
        <span class="icon-email icomoon"></span>
    </a>
    <a href="" class="sticky-ribbon-link notifications">
        <span class="icon-notification icomoon"></span>
        <div class="number-count">12</div>
    </a>
</div>