<app-header></app-header>
<section class="userProfile py-3">
    <div class="container">
        <nav aria-label="breadcrumb" class="align-self-center">
            <ol class="breadcrumb pb-0 mb-0">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="/MYACCOUNT">My Account</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Vouchers</li>
            </ol>
        </nav>
        <div class="profile-page-title px-3 d-flex justify-content-between background-lightprimary py-3 my-2">
            <h5 class="h5 text-uppercase font-bold">My Vouchers</h5>
            <h6 class="h6 tex-end">Hi, Praveen Kumar</h6>
        </div>
        <app-profile-nav></app-profile-nav>
        <div class="userprofile-body">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <p>You do not have any voucher currently</p>
                </div>
            </div>
        </div>
    </div>
</section>