@import "../../../../styles/styles";

.mainmenu {
  @include box-shadow(0, 3px, 3px, map-get($colors, lightgray));
  background: map-get($colors, white);

  .nav-item {
    &:first-child {
      .nav-link {
        color: map-get($colors, white);
        border-radius: 3px;
        background: map-get($colors, primary);

        &:hover {
          color: map-get($colors, white);
        }
      }
    }
    .nav-link {
      text-transform: uppercase;
      color: map-get($colors, black);
      font-size: $fsize - 1;
      text-transform: uppercase;

      &:hover {
        color: map-get($colors, primary);
      }
    }
    .spllink {
      color: map-get($colors, primary);
    }
  }
  .nav-item.dropdown {
    position: inherit;
  }
  .dropdown-menu-full-width.dropdown-menu.show {
    left: inherit !important;
    margin-top: 0;
    z-index: 9999;

    .main-div-links {
      a {
        color: map-get($colors, black);
        display: block;
        padding: 10px 15px;
        font-size: $fsize - 1;

        .new{
          font-size:$fsize - 5;
          background:map-get($colors, primary);
          color:map-get($colors, white);
          padding:1px 5px;
          display: inline-block;
          border-radius:5px;
        }

        &:hover {
          color: map-get($colors, white);
          background: map-get($colors, primary);

          .new{
            background:map-get($colors, white);
            color:map-get($colors, primary);
          }
        }
      }
    }
    .main-div-links > div {
      border-right: 1px solid map-get($colors, lightgray);
      min-width: 225px;
      min-height: 400px;

      @include max(map-get($breakpoints, "lg")) {
        padding-right: 0;
        margin-right: 0;
        border-right: none;
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}

.moremenu {
  height: 100vh;

  .offcanvas-header {
    background: map-get($colors, primary);
    color: map-get($colors, white);
    padding: 10px 15px;

    button {
      background: none;
      border: none;
      .icomoon {
        color: map-get($colors, white);
      }
    }
  }
  .list-group {
    .list-group-item {
      border-bottom: 1px solid map-get($colors, lightgray);
      border-radius: 0;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      padding: 0;

      a {
        color: map-get($colors, black);
        display: block;
        padding: 10px 15px;
        @include transition(all 0.2s ease);

        &:hover {
          background: map-get($colors, primary);
          color: map-get($colors, white);
        }
      }
    }
  }
}

.navbar-toggler {
  @include max(map-get($breakpoints, "lg")) {
    position: absolute;
    top: -156px;
    left: 0;
    border: none;

    &:focus {
      box-shadow: none;
    }
  }
}

.menu-cat-img {
  width: 250px;
}
