<div class="mainmenu">
    <div class="custom-container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active dropdown-toggle font-bold" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false" aria-current="page" href="#">Rakhis</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-bold" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Cakes
                            </a>
                            <ul class="dropdown-menu dropdown-menu-full-width">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle font-bold" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false" href="#">Flowers</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-bold" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false">Gifts</a>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle font-bold" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false" href="#">Combos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-bold" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false" href="#">CONFECTIONERY</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-bold" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false" href="#">OCCASION</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-bold" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false" href="#">FLAVOUR</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-bold" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false" href="#">SCHEDULE GIFTS</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-bold" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false" href="#">EGGLESS CAKES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle font-bold" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false" href="#">SUGAR FREE CAKES</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#moremenu"
                                aria-controls="offcanvasRight"><span class="icon-menu h5 pe-2"></span><span
                                    class="align-self-center">More</span> </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="offcanvas offcanvas-end moremenu" tabindex="-1" id="moremenu" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        ...
    </div>
</div>