<section class="subpage">
    <div class="container">
        <!-- bread crumb-->
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="align-self-center py-3">
                    <ol class="breadcrumb pb-0 mb-0">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--/ bread crumb-->
        <div class="static-page">
            <h1 class="h3 font-bold font-primary pb-3">About Countryoven</h1>
            <p>For Over 30 years, CountryOven <strong>(A unit of Karthik Enterprises Private Limited)</strong> helping
                customers to
                celebrate their special moments by delivering yummy cakes and fresh flowers.</p>
            <h2 class="h5 font-semibold font-primary pb-2">Our Oven bakes joy!</h2>
            <p>Running from one store to the other to find the perfect cake or box of chocolates or anything for that
                matter is troublesome. Not being able to find what you were exactly looking for can be frustrating.
                Country Oven has been solving such crises for plenty of years now, bringing smiles to doors as and when
                needed not just through cakes but also through flowers, sweets, and gifts.</p>
            <p>Our online portal started with the comprehension that the items on the table play a major role in making
                special occasions truly special since friends and family bond while enjoying these items. We, thus,
                formed a team to deliver just that in a highly convenient and quick manner. Whether you want it
                delivered in the middle of the day or the middle of the night, we are here to cater to your needs.</p>
            <p>On <strong>countryoven.com</strong> we offer a wide variety of items that are sure to bring joy – cakes
                to gifts, we have
                them all for you! We have taken the efforts to ensure that everything is in one place for you so that
                you don’t have to hunt around in different places. With the convenience of our defined time slots as
                well as express delivery (one-day delivery) options on most of our products, you can expect to not just
                find what you need but also have it delivered exactly when you need it.</p>
            <p>We also understand that you may have doubts, queries, or concerns about our products and our services,
                which is why we have devised a top-notch customer service panel, trained specifically to serve you, that
                will be at your beck and call at all times. We offer you a number of ways to contact us including live
                chat because we know that some problems need to be solved immediately. We are just one phone
                call/email/ping away no matter when you need us.</p>
            <p>Country Oven has become a very popular name today and we strive each day to keep that intact, considering
                your valuable feedback and reviews, and improvising at every turn.</p>
            <h2 class="h5 font-semibold font-primary pb-2">Call us</h2>
            <ul>
              <li>USA: (+1)732 790 0578, (+1)248 275 5368</li>
              <li>Canada: +1 416 628 1206</li>
              <li>UK: +44 - 207 101 9225</li>
              <li>AUS: +61 - 3 - 99883814</li>
              <li>IND:+91 9848155830, +91 9848155816</li>
            </ul>
        </div>
    </div>
</section>
