<section class="subpage">
    <div class="container">
        <!-- bread crumb-->
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="align-self-center py-3">
                    <ol class="breadcrumb pb-0 mb-0">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">FAQ's</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--/ bread crumb-->
        <div class="static-page">
            <h1 class="h3 font-bold font-primary pb-3">FAQ's</h1>

            <div>
                <h2 class="h5 font-semibold pb-2">Shipping and Delivery</h2>
                <!-- accordion-->
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Can I change the delivery address?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Yes, you can certainly do that. However, any changes in the order can be made only if
                                    intimated at least 1 day prior to the delivery of the order. If you wish to change
                                    the delivery address, you can contact us at:</p>
                                <p>Email us at: <a href="mailto:Contact@countryoven.com">Contact@countryoven.com</a></p>
                                <p>Call us at +91 9848155830</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Can I change the date of delivery?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Yes, you can certainly do that but it should be communicated at least 1 day prior to
                                    the order delivery date. If you wish to change the date of delivery, you can contact
                                    us at:</p>
                                <p>Email us at: <a href="mailto:Contact@countryoven.com">Contact@countryoven.com</a></p>
                                <p>Call us at +91 9848155830</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Can I cancel the order?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Yes, two way refund charges will be applicable for customer cancelled orders. Cancel
                                    will be accepted 1 day before the date of delivery., you can contact us at:</p>
                                <p>Email us at: <a href="mailto:Contact@countryoven.com">Contact@countryoven.com</a></p>
                                <p>Call us at +91 9848155830</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Can I change the fixed time delivery timings?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Yes, you can certainly do that. However, any changes in the order can be made only if
                                    intimated at least 1 day prior to the delivery of the order. If you wish to change
                                    in fixed time delivery, you can contact us at:</p>
                                <p>Email us at: <a href="mailto:Contact@countryoven.com">Contact@countryoven.com</a></p>
                                <p>Call us at +91 9848155830</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Can I change a normal delivery to a midnight or fixed time delivery?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Yes, we would certainly abide by your request; however there will be an additional
                                    delivery fee for midnight delivery & fixed time delivery. You will be guided by our
                                    customer service representative to make the additional payment. You can contact us
                                    at:</p>
                                <p>Email us at: <a href="mailto:Contact@countryoven.com">Contact@countryoven.com</a></p>
                                <p>Call us at +91 9848155830</p>
                                <p>Any changes in the order can be made only if intimated at least 1 day prior to the
                                    delivery of the order.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                What is mid-night delivery?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Delivery will be made between 10 pm to 1 am on mentioned / asked delivery date</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                What date should I select for the mid-night delivery?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>You have to select a date prior to the occasion date. For example; if the occasion is
                                    on 25th March then you have to select the date of delivery as 24th March for a
                                    midnight order.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                What is Standard delivery time?
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Standard delivery time is a general delivery time in which any specific time delivery
                                    is not guaranteed. Our standard delivery time is between 8 am-8 pm; your order will
                                    be delivered anytime during this time slot.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingNine">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                What is same day delivery?
                            </button>
                        </h2>
                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>In Same day delivery, you can place the order now and can have order delivered today.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                What is normal courier delivery?
                            </button>
                        </h2>
                        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Your order will be delivered through our different logistic partners like blue dart,
                                    FedEx, speed post, first flight and the delivery will happen between 3-4 working
                                    days from the date of purchase of order..
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading11">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                I want to place an order for today's delivery, which delivery option should I select?
                            </button>
                        </h2>
                        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>If you desire your order has to deliver today, you need to select the same day
                                    delivery option.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading12">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                Where all do you deliver?
                            </button>
                        </h2>
                        <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>We have deliveries all across India. There are few Snack items which are available
                                    only for specific locations.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading14">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                Is there any particular time of delivery?
                            </button>
                        </h2>
                        <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>All orders are delivered during business hours (8 a.m. - 8 p.m.) unless if a customer
                                    selects midnight or specific time delivery.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading15">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                                Can I choose delivery time according to my wish?
                            </button>
                        </h2>
                        <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Yes. You can choose your specific time of delivery in the product page. However,
                                    there will be an additional delivery charge of INR 150 -200 which will be added with
                                    the product price.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading16">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                                Can I get the order delivered midnight?
                            </button>
                        </h2>
                        <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Yes. You can get the order delivered midnight; however there will be an additional
                                    delivery charge of INR 199-299 depending on the location.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading17">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                                Are there any shipping charges?
                            </button>
                        </h2>
                        <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="heading17"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Yes, delivery charges are applicable on all orders. This also depends on the time
                                    chosen for the delivery.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading18">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
                                What is the mode of delivery?
                            </button>
                        </h2>
                        <div id="collapse18" class="accordion-collapse collapse" aria-labelledby="heading18"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>All our orders are delivered via Hand delivery service. We also have Cash on Delivery
                                    Service (As of now Only in Hyderabad) around 3 Km from our Dispatch Location. COD is
                                    applicable only for the orders placed via telephone. To place the order via
                                    telephone, you can call us at +91 9848155830
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading19">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
                                Does Country oven deliver internationally?
                            </button>
                        </h2>
                        <div id="collapse19" class="accordion-collapse collapse" aria-labelledby="heading19"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Sorry, currently we don’t have international deliveries.
                                </p>
                            </div>
                        </div>
                    </div>

                    <h2 class="h5 font-semibold py-2">Products</h2>

                    <div class="accordion-item">
                        <h2 class="accordion-header border-top" id="heading20">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
                                I want to change the flavor of the cake?
                            </button>
                        </h2>
                        <div id="collapse20" class="accordion-collapse collapse" aria-labelledby="heading20"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Yes, we would certainly abide by your request. However, if there is any difference in
                                    price then our customer service team will guide you to make the additional payment.
                                    You can contact us at:
                                </p>
                                <p>Email us at:<a href="mailto:Contact@countryoven.com"></a> Contact@countryoven.com</p>
                                <p>Call us at +91 9848155830</p>
                                <p>Any changes in the order can be made only if intimated at least 1 day prior to the
                                    delivery of the order.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading21">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse21" aria-expanded="false" aria-controls="collapse21">
                                How do I find different types of products?
                            </button>
                        </h2>
                        <div id="collapse21" class="accordion-collapse collapse" aria-labelledby="heading21"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>You may check out our different categories as per occasions, festivals, flower types,
                                    gift types etc. If you have any query, please feel free to call us on +91 9848155830
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading22">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse22" aria-expanded="false" aria-controls="collapse22">
                                What if I want to customize the product as per my choice?
                            </button>
                        </h2>
                        <div id="collapse22" class="accordion-collapse collapse" aria-labelledby="heading22"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>You can use the below link in placing customize order:</p>
                                <p><a href="https://www.countryoven.com/customizedcakes"
                                        target="_blank">https://www.countryoven.com/customizedcakes</a></p>
                            </div>
                        </div>
                    </div>




                </div>
                <!--/ accordion-->
            </div>

        </div>
    </div>
</section>