<section class="subpage">
    <div class="container">
        <!-- bread crumb-->
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="align-self-center py-3">
                    <ol class="breadcrumb pb-0 mb-0">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Customized Cakes</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--/ bread crumb-->
        <div class="static-page">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="h3 font-bold font-primary pb-3">Customized Cakes</h1>
                    <img src="assets/images/customize-cake.jpg" class="img-fluid w-100" alt="...">
                    <p><small>This option is available only for deliveries in Hyderabad</small></p>
                    <form [formGroup]="form" (ngSubmit)="submit(form)">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" placeholder="Name "
                                            formControlName="name"   [ngClass]="{'is-invalid': form.get('name').invalid  && form.get('name')!.touched}">
                                        <label for="Name">Name <span class="font-red font-bold">*</span></label>
                                        <div class="msg-hint" *ngIf="submitted && form.get('name').invalid"> Name must be at least 3 characters </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" placeholder="Mobile Number"
                                            formControlName="mobile"   [ngClass]="{'is-invalid': form.get('mobile').invalid  && form.get('mobile')!.touched}">
                                        <label for="MobileNumber">Mobile Number<span
                                                class="font-red font-bold">*</span></label>
                                                <div class="msg-hint" *ngIf="submitted && form.get('mobile').invalid"> Enter Valid Mobile Number. Its between  10 to 15  characters</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" placeholder="Email"
                                            formControlName="email"   [ngClass]="{'is-invalid': form.get('email').invalid  && form.get('email')!.touched}">
                                        <label for="Email">Email <span class="font-red font-bold">*</span></label>
                                        <div class="msg-hint" *ngIf="submitted && form.get('email').invalid">Enter Valid Email Address</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <input type="file" class="form-control"
                                            placeholder="Upload Reference Cake Image " accept="image/jpeg, image/png" 
                                            formControlName="image" (change)="onFileSelected($event)"   [ngClass]="{'is-invalid': form.get('image').invalid  && form.get('image')!.touched}">
                                        <label for="image">Upload Reference Cake Image <span
                                                class="font-red font-bold">*</span></label>
                                                <div class="msg-hint" *ngIf="submitted && form.get('image').invalid">Image Required</div>
                                            
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <textarea formControlName="comments" class="form-control" placeholder="Your Comment" id="YourComment"
                                            style="height: 100px"   [ngClass]="{'is-invalid': form.get('comments').invalid  && form.get('comments')!.touched}"></textarea>
                                        <label for="YourComment">Your Comment <span
                                                class="font-red font-bold">*</span></label>
                                                <div class="msg-hint" *ngIf="submitted && form.get('comments').invalid"> Comment Required</div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn color-btn w-100 text-center font-bold"  type="submit" >Submit</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="card border mb-3">
                        <div class="card-header">Mail Us</div>
                        <div class="card-body">
                            <p>Happy to help you. Please mail us on</p>
                            <p class="pb-0"><a href="mailto:contact@countryoven.com"
                                    class="font-primary font-bold">contact@countryoven.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="card border mb-3">
                        <div class="card-header">Call us</div>
                        <div class="card-body">
                          <p>Delighted to Serve you.</p>
                          <p class="pb-0">
                            USA: (+1)732 790 0578, (+1)248 275 5368<br>
                            Canada: +1 416 628 1206<br>
                            UK: +44 - 207 101 9225<br>
                            AUS: +61 - 3 - 99883814<br>
                            IND:+91 9848155830, +91 9848155816<br>
                          </p>

                        </div>
                    </div>
                    <div class="card border mb-3">
                        <div class="card-header">Address</div>
                        <div class="card-body">
                            <p class="pb-0">
                                <a  routerLink="/content/ourstores" class="font-primary font-bold">Check out our stores in USA and
                                    India.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
